<footer class="footer ">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 item" style="color: #E3FF00">
        Copyright &copy; 2022 <b><a href="http://www.naeb.gov.rw/index.php?id=1" target="_blank" style="color: #FFFFFF"> NAEB </a></b>All rights reserved.
      </div>
      <div class="col-sm-4 item">
        <b>
          <a href="https://bktechouse.rw" target="_blank" style="color: #ffffff">Powered By BKTechouse
          </a>
        </b>
        &nbsp; | &nbsp;
        <button class="btn btn-link" (click)="privacyPolice()" style="color: #f0ad4e !important; font-weight: bold">
          Privacy Policy
        </button>
      </div>
    </div>
  </div>
</footer>
