<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <app-list-errors [errorList]="errors" *ngIf="errors"></app-list-errors>
  <app-list-message [message]="message"></app-list-message>
  <form [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-inline">
          <label class="control-label">Quantity</label> &nbsp; &nbsp;
          <input type="text" formControlName="receivedQty" class="form-control">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="form-inline">
          <label class="control-label">Comment</label> &nbsp; &nbsp;
          <textarea type="text" formControlName="comment" class="form-control"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 pull-right">
        <button class="btn btn-success pull-right btn-margin">save</button>
      </div>
    </div>
  </form>
</div>
