<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <app-list-errors [errorList]="errors" *ngIf="errors"></app-list-errors>
  <app-list-message [message]="message"></app-list-message>
  <form [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let control of formEntries.controls; let i=index" formArrayName="entries">
      <div class="row" [formGroupName]="i">
        <input type="hidden" formControlName="entryId" class="form-control">
        <div class="col-sm-1">
          <span>{{ i + 1 }}</span> . &nbsp; &nbsp;
          <span></span>
        </div>
        <div class="col-sm-2">
          <span>Input</span> &nbsp; &nbsp;<br>
          <p style="margin-top: 10px">
            <span style="font-weight: bold"></span>
          </p>
        </div>
        <div class="col-sm-2">
          <span>Items</span> &nbsp; &nbsp;<br>
          <p style="margin-top: 10px">
            <span style="font-weight: bold">{{ dispatch.entries[i].numberOfItems }}</span>
          </p>
        </div>
        <div class="col-sm-2">
          <span>Qty</span> &nbsp; &nbsp;<br>
          <p style="margin-top: 10px">
            <span style="font-weight: bold">{{ dispatch.entries[i].quantityPerItem }}</span>
          </p>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <span class="label-required">Received Qty</span> &nbsp; &nbsp;<br>
            <input type="text" formControlName="receivedQty" class="form-control">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <span>Comment</span> &nbsp; &nbsp;<br>
            <input type="text" formControlName="comment" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 pull-right">
        <button class="btn btn-success pull-right btn-margin">Confirm</button>
      </div>
    </div>
  </form>
</div>
