<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <app-list-errors [errorList]="errors"></app-list-errors>
  <app-list-message [message]="message"></app-list-message>
  <form [formGroup]="siteStockOutForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <label class="control-label label-required" style="margin-left: 7px">&nbsp; Destination</label>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-success btn-sm pull-right" (click)="addDestination()" type="button">
          <i class="fa fa-plus"></i> destination
        </button>
      </div>
    </div>
    <div *ngFor="let control of formDestination.controls; let i=index" formArrayName="destination">
        <div class="row" [formGroupName]="i">
          <div class="col-xs-2">
            <div class="form-group">
              <span class="label-required">Sector</span>
              <select class="form-control" formControlName="sect_id" (change)="onChangeSector(i)">
                <option value=""></option>
                <option *ngFor="let sector of sectors[i]" value="{{sector._id}}">{{sector.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <span class="label-required">Cell</span>
              <select class="form-control" formControlName="cell_id" (change)="onChangeCell(i)">
                <option value=""></option>
                <option *ngFor="let cell of cells[i]" value="{{cell._id}}">{{cell.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <span class="label-required">Village</span>
              <select class="form-control" formControlName="village_id">
                <option value=""></option>
                <option *ngFor="let village of villages[i]" value="{{village._id}}">{{village.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group col-xs-1">
            <button class="btn btn-danger btn-sm pull-left" type="button"
                    (click)="removeDestination(i)" style="margin-top: 20px"> Remove
            </button>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label label-required">Total quantity</label>
          <input type="number" formControlName="totalQty" class="form-control" min="1">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label label-required">Date</label>
          <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="date" class="form-control">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top: 25px">
        <button class="btn btn-success pull-right btn-margin" type="submit">save</button>
      </div>
    </div>
  </form>
</div>
