<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6rJxA0WuYgN4LPaHcP8uLrgOQ-BUc_5A"></script>
<div class="filter-title-text" *ngIf="organisationId == undefined">
  Welcome to SKS - <span class="bold"> Dashboard - Extension Services </span>
</div>
<form [formGroup]="dashboardForm">
  <div class="filter-box filter-box-top text-center" *ngIf="organisationId == undefined">
    <div class="row">
      <div class="col-md-12">
        <div class="row" formGroupName="location" style="margin-top: 10px">
          <div class="col-sm-1" style="font-size: 18px">
            <i class="fa fa-filter" aria-hidden="true" style="margin-left: 10px"></i>
            <span style="font-size: 16px"> Filters </span>
          </div>
          <div class="col-sm-9">
            <div class="row no-gutter">
              <div class="col-sm-2">
                <select class="form-control form-control-small" formControlName="season_id"
                  (change)="seasonChange('location')">
                  <option value="" selected disabled>
                    Season {{ currentSeason?.season }}
                  </option>
                  <option *ngFor="let season of seasons; let i = index" value="{{ season.year }}">
                    {{ season.season | titlecase }}
                  </option>
                </select>
              </div>
              <div class="col-sm-2" id="location-province">
                <div class="form-group">
                  <select class="form-control form-control-small" formControlName="prov_id">
                    <option value="" selected>All Provinces</option>
                    <option *ngFor="let province of locationProvinces" value="{{ province._id }}">
                      {{ province.namee | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2" id="location-district">
                <div class="form-group">
                  <select class="form-control form-control-small" formControlName="dist_id">
                    <option value="" selected>All Districts</option>
                    <option *ngFor="let district of locationDistricts" value="{{ district._id }}">
                      {{ district.name | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="ng-autocomplete">
                  <ng-autocomplete #origin [data]="organisations" [searchKeyword]="keyword"
                    (selected)="selectEvent($event)" (inputCleared)="deselectEvent()" [initialValue]="initialValue"
                    placeholder="All Coffee Washing Stations" [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.organizationName"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <select class="form-control form-control-small" formControlName="sect_id">
                    <option value="" selected>All Covered Sectors</option>
                    <option *ngFor="let sector of coveredSectors; let i = index" value="{{ sector?.sectorId._id }}">
                      {{
                        sector.sectorId.name
                          ? sector.sectorId.name
                          : (sector.sectorId | titlecase)
                      }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <input [selectMode]="'range'" [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10"
                    formControlName="filterByDate" (ngModelChange)="seasonDateChange('location')"
                    class="form-control form-control-small" placeholder="From: Dd/mm/yyyy ~ To: Dd/mm/yyyy"
                    [min]="dateRangeMin.location" [max]="dateRangeMax.location" />
                  <owl-date-time #dt10 [pickerType]="'calendar'" [scrollStrategy]="scrollStrategy"></owl-date-time>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-dashboard" (click)="getStats('location')">
              FILTER
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="
      padding: 5px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 7px;
      opacity: 1;
    ">
    <div class="col-md-12 col-lg-5" style="padding: 0 0px 0 5px">
      <div style="
          min-height: 250px;
          background: #fff3e3 0% 0% no-repeat padding-box;
          padding: 5px;
          border-radius: 7px;
          margin-bottom: 10px;
        ">
        <h4 class="text-center">Training</h4>
        <div class="filter-box">
          <div class="row">
            <div class="col-xs-4" style="font-size: 20px">
              <i class="fa fa-filter" aria-hidden="true" style="margin-left: 5px"></i>
              <span style="font-size: 16px"> Filter </span>
            </div>
            <div class="col-xs-6"></div>
            <div class="col-xs-2 text-center" style="font-size: 20px">
              <i class="fa fa-caret-down" aria-hidden="true" type="button" *ngIf="!trainingFilterEnabled"
                (click)="enableFilter(true, 'training')"></i>
              <i class="fa fa-caret-up" aria-hidden="true" type="button" *ngIf="trainingFilterEnabled"
                (click)="enableFilter(false, 'training')"></i>
            </div>
          </div>
          <span *ngIf="trainingFilterEnabled">
            <div class="row text-center" style="margin-left: 10px; margin-right: 15px; margin-bottom: 5px">
              <div class="col-xs-4 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Select Training</label>
                  <select class="form-control form-control-small" formControlName="training_id">
                    <option value="" selected>All trainings</option>
                    <option *ngFor="let training of trainings; let i = index" value="{{ training.trainingId }}">
                      {{ training.trainingName | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Select Trainer</label>
                  <div class="ng-autocomplete">
                    <ng-autocomplete #origin4 [data]="trainers" [searchKeyword]="agronomistKeyword"
                      (selected)="selectAgronomistEvent($event)" (inputCleared)="deselectAgronomistEvent()"
                      [initialValue]="initialValue" placeholder="All trainers" [itemTemplate]="itemTemplate4"
                      [notFoundTemplate]="notFoundTemplate4" style="height: 10px">
                    </ng-autocomplete>

                    <ng-template #itemTemplate4 let-item>
                      <a [innerHTML]="item.fullName" style="height: 20px"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate4 let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Select Group</label>
                  <div class="ng-autocomplete" style="color: black">
                    <ng-autocomplete #origin2 [data]="groups" [searchKeyword]="groupKeyword"
                      (selected)="selectGroupEvent($event)" (inputCleared)="deselectGroupEvent()"
                      [initialValue]="initialValue" placeholder="All groups" [itemTemplate]="itemTemplate2"
                      [notFoundTemplate]="notFoundTemplate2" style="height: 10px; color: black">
                    </ng-autocomplete>

                    <ng-template #itemTemplate2 let-item style="color: black">
                      <a [innerHTML]="item.groupName" style="height: 20px; color: black"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate2 let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <span formGroupName="trainingFilters">
                <div class="col-xs-4 col-small-padding">
                  <div class="form-group">
                    <label class="label-header-text">Select Season</label>
                    <select class="form-control form-control-small" formControlName="season_id"
                      (change)="seasonChange('trainingFilters')">
                      <option value="" selected disabled>
                        Season {{ currentSeason?.season }}
                      </option>
                      <option *ngFor="let season of seasons; let i = index" value="{{ season.year }}">
                        {{ season.season | titlecase }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-xs-4 col-small-padding">
                  <div class="form-group">
                    <label class="label-header-text">Quarters</label>
                    <select class="form-control form-control-small" formControlName="quarterId"
                      (change)="seasonQuarterChange('trainingFilters')">
                      <option value="" selected>All Quaters</option>
                      <option *ngFor="let quater of quarters; let i = index" value="{{ quater.id }}">
                        {{ quater.name | titlecase }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-4 col-small-padding">
                  <div class="form-group">
                    <label class="label-header-text">Date</label>
                    <input [selectMode]="'range'" [owlDateTimeTrigger]="dt8" [owlDateTime]="dt8"
                      formControlName="filterByDate" (ngModelChange)="seasonDateChange('trainingFilters')"
                      class="form-control form-control-small" placeholder="From: Dd/mm/yyyy ~ To: Dd/mm/yyyy"
                      [min]="dateRangeMin.trainingFilters" [max]="dateRangeMax.trainingFilters" />
                    <owl-date-time #dt8 [pickerType]="'calendar'" [scrollStrategy]="scrollStrategy"></owl-date-time>
                  </div>
                </div>
              </span>
            </div>
          </span>
        </div>
        <div class="text-center">
          <p>Total Trainees</p>
          <h4>{{ trainingsStats.totalInvitees }}</h4>
        </div>

        <div class="row" style="margin-left: 15%; margin-right: 15%; margin-bottom: 5px">
          <div class="col-xs-6">
            <div class="text-center trainees-box">
              <p>Attended</p>
              <h4>{{ trainingsStats.totalPresent }}</h4>
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-male fa-2x" aria-hidden="true" style="color: #35a1ff"></i>
                  <p>{{ trainingsStats.malePresent }}</p>
                </div>
                <div class="col-xs-6">
                  <i class="fa fa-female fa-2x" aria-hidden="true" style="color: #ff69f6"></i>
                  <p>{{ trainingsStats.femalePresent }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="text-center trainees-box trainees-box-absent">
              <p>Not Attended</p>
              <h4>{{ trainingsStats.totalAbsent }}</h4>
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-male fa-2x" aria-hidden="true" style="color: #35a1ff"></i>
                  <p>{{ trainingsStats.maleAbsent }}</p>
                </div>
                <div class="col-xs-6">
                  <i class="fa fa-female fa-2x" aria-hidden="true" style="color: #ff69f6"></i>
                  <p>{{ trainingsStats.femaleAbsent }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="
          min-height: 280px;
          padding: 5px;
          border-radius: 7px;
          background: #f2f2f2 0% 0% no-repeat padding-box;
          margin-bottom: 10px;
        ">
        <h4 class="text-center">Farms Visits</h4>
        <div class="filter-box">
          <div class="row">
            <div class="col-xs-4" style="font-size: 20px">
              <i class="fa fa-filter" aria-hidden="true" style="margin-left: 5px"></i>
              <span style="font-size: 16px"> Filter </span>
            </div>
            <div class="col-xs-6"></div>
            <div class="col-xs-2 text-center" style="font-size: 20px">
              <i class="fa fa-caret-down" aria-hidden="true" type="button" *ngIf="!visitFilterEnabled"
                (click)="enableFilter(true, 'visit')"></i>
              <i class="fa fa-caret-up" aria-hidden="true" type="button" *ngIf="visitFilterEnabled"
                (click)="enableFilter(false, 'visit')"></i>
            </div>
          </div>
          <span *ngIf="visitFilterEnabled">
            <div class="row text-center" style="margin-left: 10px; margin-right: 15px; margin-bottom: 5px"
              formGroupName="visitFilters">
              <div class="col-xs-4 col-small-padding">
                <label class="label-header-text">Select Season</label>
                <select class="form-control form-control-small" formControlName="season_id"
                  (change)="seasonChange('visitFilters')">
                  <option value="" selected disabled>
                    Season {{ currentSeason?.season }}
                  </option>
                  <option *ngFor="let season of seasons; let i = index" value="{{ season.year }}">
                    {{ season.season | titlecase }}
                  </option>
                </select>
              </div>
              <div class="col-xs-4 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Quarters</label>
                  <select class="form-control form-control-small" formControlName="quarterId"
                    (change)="seasonQuarterChange('visitFilters')">
                    <option value="" selected>All Quaters</option>
                    <option *ngFor="let quater of quarters; let i = index" value="{{ quater.id }}">
                      {{ quater.name | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Date</label>
                  <input [selectMode]="'range'" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
                    (ngModelChange)="seasonDateChange($event, 'visitFilters')" formControlName="filterByDate"
                    class="form-control form-control-small" placeholder="From: Dd/mm/yyyy ~ To: Dd/mm/yyyy"
                    [min]="dateRangeMin['visitFilters']" [max]="dateRangeMax['visitFilters']" />
                  <owl-date-time #dt3 [pickerType]="'calendar'" [scrollStrategy]="scrollStrategy"></owl-date-time>
                </div>
              </div>
            </div>
          </span>
        </div>
        <div class="text-center">
          <p>Total Visited Farms</p>
          <h4>{{ visitStats.totalVisits }}</h4>
        </div>
        <div class="row">
          <div class="col-md-6">
            <ng-container *ngIf="visitStats.totalVisits == 0; else visitDatas">
              <google-chart #visitChart [type]="graph.type" [data]="graph.dummyData" [options]="graph.options"
                [width]="graph.width" [columns]="graph.columnNames" [height]="graph.height" [color]="graph.color">
              </google-chart>
            </ng-container>
            <ng-template #visitDatas class="text-center" style="margin-top: -5px; margin: 0 auto">
              <google-chart #visitChart [type]="graph.type" [data]="graph.data" [options]="graph.options"
                [width]="graph.width" [columns]="graph.columnNames" [height]="graph.height" [color]="graph.color">
              </google-chart>
            </ng-template>
          </div>
          <div class="col-md-6">
            <div class="text-center trainees-box" style="width: 60%; margin: 0 auto; margin-top: 8%">
              <p>Farmers</p>
              <h4>{{ visitStats.totalFarmersVisited || 0 }}</h4>
              <div class="row">
                <div class="col-xs-6">
                  <i class="fa fa-male fa-2x" aria-hidden="true" style="color: #35a1ff"></i>
                  <p>{{ visitStats.maleFarmVisits }}</p>
                </div>
                <div class="col-xs-6">
                  <i class="fa fa-female fa-2x" aria-hidden="true" style="color: #ff69f6"></i>
                  <p>{{ visitStats.femaleFarmVisits }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="
          min-height: 250px;
          padding: 5px;
          border-radius: 7px;
          background: #fff3e3 0% 0% no-repeat padding-box;
        ">
        <h4 class="text-center">Seedling Distribution</h4>
        <div class="filter-box">
          <div class="row">
            <div class="col-xs-4" style="font-size: 20px">
              <i class="fa fa-filter" aria-hidden="true" style="margin-left: 5px"></i>
              <span style="font-size: 16px"> Filter </span>
            </div>
            <div class="col-xs-6"></div>
            <div class="col-xs-2 text-center" style="font-size: 20px">
              <i class="fa fa-caret-down" aria-hidden="true" type="button" *ngIf="!seedlingFilterEnabled"
                (click)="enableFilter(true, 'seedling')"></i>
              <i class="fa fa-caret-up" aria-hidden="true" type="button" *ngIf="seedlingFilterEnabled"
                (click)="enableFilter(false, 'seedling')"></i>
            </div>
          </div>
          <span *ngIf="seedlingFilterEnabled">
            <div class="row text-center" style="margin-left: 10px; margin-right: 15px; margin-bottom: 5px"
              formGroupName="seedlingFilters">
              <div class="col-xs-3 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Select Nursery</label>
                  <div class="ng-autocomplete">
                    <ng-autocomplete #origin3 [data]="nurseries" [searchKeyword]="nurseryKeyword"
                      (selected)="selectNurseryEvent($event)" (inputCleared)="deselectNurseryEvent()"
                      [initialValue]="initialValue" placeholder="All Nurseries" [itemTemplate]="itemTemplate3"
                      [notFoundTemplate]="notFoundTemplate3" style="height: 10px">
                    </ng-autocomplete>

                    <ng-template #itemTemplate3 let-item>
                      <a [innerHTML]="item.nurseryName" style="height: 20px"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate3 let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Select Season</label>
                  <select class="form-control form-control-small" formControlName="season_id"
                    (change)="seasonChange('seedlingFilters')">
                    <option value="" selected disabled>
                      Season {{ currentSeason?.season }}
                    </option>
                    <option *ngFor="let season of seasons; let i = index" value="{{ season.year }}">
                      {{ season.season | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-xs-3 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Quarters</label>
                  <select class="form-control form-control-small" formControlName="quarterId"
                    (change)="seasonQuarterChange('seedlingFilters')">
                    <option value="" selected>All Quaters</option>
                    <option *ngFor="let quater of quarters; let i = index" value="{{ quater.id }}">
                      {{ quater.name | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-xs-3 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Date</label>
                  <input [selectMode]="'range'" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
                    formControlName="filterByDate" (ngModelChange)="seasonDateChange('seedlingFilters')"
                    class="form-control form-control-small" placeholder="From: Dd/mm/yyyy ~ To: Dd/mm/yyyy"
                    [min]="dateRangeMin.seedlingFilters" [max]="dateRangeMax.seedlingFilters" />
                  <owl-date-time #dt4 [pickerType]="'calendar'" [scrollStrategy]="scrollStrategy"></owl-date-time>
                </div>
              </div>
            </div>
          </span>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="text-center">
              <p>Seedling Distributed</p>
              <h4>{{ totalSeedlings }}</h4>
            </div>
            <div class="text-center" *ngFor="let seedling of seedlingStats">
              <p>{{ seedling.variety }}</p>
              <h4>{{ seedling.totalQuantity }}</h4>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="text-center" style="margin-top: -10px" *ngIf="totalSeedlings == 0">
              <google-chart #seedChart [type]="seedlingGraph.type" [data]="seedlingGraph.dummyData"
                [options]="seedlingGraph.options" [width]="seedlingGraph.width" [columns]="seedlingGraph.columnNames"
                [height]="seedlingGraph.height" [color]="graph.color">
              </google-chart>
            </div>
            <div class="text-center" style="margin-top: -10px; margin-left: -65px" *ngIf="totalSeedlings > 0">
              <google-chart #seedChart [type]="seedlingGraph.type" [data]="seedlingGraph.data"
                [options]="seedlingGraph.options" [width]="seedlingGraph.width" [columns]="seedlingGraph.columnNames"
                [height]="seedlingGraph.height" [color]="graph.color">
              </google-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-7" style="padding: 0 5px 0 12px">
      <div style="
          background: #f0f0f0 0% 0% no-repeat padding-box;
          padding: 5px;
          border-radius: 7px;
          min-height: 580px;
          margin-bottom: 10px;
        ">
        <h4 class="text-center">Farms</h4>
        <div class="farm-graph-popup" style="margin-bottom: 5px">
          <div class="row text-center">
            <div class="col-xs-3" style="padding: 0 2px 0 0px">
              <h4>Total Farms</h4>
              <h3>{{ generalFarmStats?.totalFarms | number: "1.0-0" }}</h3>
            </div>
            <div class="col-xs-3" style="padding: 0 2px 0 0px">
              <h4>Total Visits</h4>
              <h3>{{ generalFarmStats?.totalVisits | number: "1.0-0" }}</h3>
            </div>
            <div class="col-xs-3" style="padding: 0 2px 0 0px">
              <h4>Total Farmers</h4>
              <h3>{{ generalFarmStats?.totalFarmers | number: "1.0-0" }}</h3>
            </div>
            <div class="col-xs-3" style="padding: 0 5px 0 0px">
              <h4>Total Trees</h4>
              <h3>{{ generalFarmStats?.totalTrees | number: "1.0-0" }}</h3>
            </div>
          </div>
        </div>
        <div class="farm-graph-popup" *ngIf="clickedMarker" style="margin-bottom: 5px">
          <div (click)="disableFarmDetailsPopup()" class="btn-modal-close text-center"
            style="margin-right: -13px; margin-top: -25px">
            <em class="fa fa-close"></em>
          </div>
          <div class="row text-center">
            <div class="col-xs-3" style="padding: 0 2px 0 0px">
              <h4>Owner</h4>
              <h6>
                {{
                  farmDetails?.user?.foreName?.toLowerCase() +
                    " " +
                    farmDetails?.user?.surname?.toLowerCase()
                }}
              </h6>
            </div>
            <div class="col-xs-3" style="padding: 0 2px 0 0px">
              <h4>Upi Number</h4>
              <h6>{{ farmDetails?.farm?.requestInfo.upiNumber }}</h6>
            </div>
            <div class="col-xs-3" style="padding: 0 2px 0 0px">
              <h4>Trees</h4>
              <h4>{{ farmDetails?.farm?.requestInfo.numberOfTrees }}</h4>
            </div>
            <div class="col-xs-3" style="padding: 0 5px 0 0px">
              <h4>Visits</h4>
              <h4>{{ farmDetails?.visits }}</h4>
            </div>
          </div>
        </div>
        <google-map #mapSet [options]="mapOptions" width="100%" height="505px">
          <map-marker *ngFor="let farm of farms" [position]="{ lat: farm.lat, lng: farm.lng }" [options]="markerOptions"
            [clickable]="true" (mapClick)="selectMarker(farm.id)"></map-marker>
        </google-map>
      </div>
      <div style="
          padding: 5px;
          min-height: 330px;
          background: #f2f2f2 0% 0% no-repeat padding-box;
          border-radius: 7px;
        ">
        <h4 class="text-center">GAP Adoption</h4>
        <div class="filter-box" style="margin-left: 20%; margin-right: 20%">
          <div class="row">
            <div class="col-xs-4" style="font-size: 20px">
              <i class="fa fa-filter" aria-hidden="true" style="margin-left: 5px"></i>
              <span style="font-size: 16px"> Filter </span>
            </div>
            <div class="col-xs-6"></div>
            <div class="col-xs-2 text-center" style="font-size: 20px">
              <i class="fa fa-caret-down" aria-hidden="true" type="button" *ngIf="!gapFilterEnabled"
                (click)="enableFilter(true, 'gap')"></i>
              <i class="fa fa-caret-up" aria-hidden="true" type="button" *ngIf="gapFilterEnabled"
                (click)="enableFilter(false, 'gap')"></i>
            </div>
          </div>
          <span *ngIf="gapFilterEnabled">
            <div class="row text-center" style="margin-left: 10px; margin-right: 15px; margin-bottom: 5px"
              formGroupName="gapFilters">
              <div class="col-xs-4 col-small-padding">
                <label class="label-header-text">Select Season</label>
                <select class="form-control form-control-small" formControlName="season_id"
                  (change)="seasonChange('gapFilters')">
                  <option value="" selected disabled>
                    Season {{ currentSeason?.season }}
                  </option>
                  <option *ngFor="let season of seasons; let i = index" value="{{ season.year }}">
                    {{ season.season | titlecase }}
                  </option>
                </select>
              </div>
              <div class="col-xs-4 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Quarters</label>
                  <select class="form-control form-control-small" formControlName="quarterId"
                    (change)="seasonQuarterChange('gapFilters')">
                    <option value="" selected>All Quaters</option>
                    <option *ngFor="let quater of quarters; let i = index" value="{{ quater.id }}">
                      {{ quater.name | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 col-small-padding">
                <div class="form-group">
                  <label class="label-header-text">Date</label>
                  <input [selectMode]="'range'" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5"
                    formControlName="filterByDate" (ngModelChange)="seasonDateChange('gapFilters')"
                    class="form-control form-control-small" placeholder="From: Dd/mm/yyyy ~ To: Dd/mm/yyyy"
                    [min]="dateRangeMin.gapFilters" [max]="dateRangeMax.gapFilters" />
                  <owl-date-time #dt5 [pickerType]="'calendar'" [scrollStrategy]="scrollStrategy"></owl-date-time>
                </div>
              </div>
            </div>
          </span>
        </div>
        <div style="margin-bottom: 2px; margin-left: 10px; margin-right: 20px"
          *ngFor="let gapAdoption of gapAdoptionStats; let i = index">
          <div class="progress-bar" [ngStyle]="{
              width: gapAdoption ? gapAdoption.baselineRate + 10 + '%' : '0%',
              height: '7px',
              background: '#3DE327 0% 0% no-repeat padding-box',
              display: block
            }"></div>
          <div style="margin-bottom: 2px; height: 6px"></div>
          <div class="progress-bar" [ngStyle]="{
              width: gapAdoption ? gapAdoption.adoptionRate + '%' : '0%',
              height: '7px',
              background: '#4f210d 0% 0% no-repeat padding-box'
            }"></div>
          <div class="row">
            <div class="col-xs-10" style="margin-top: -5px">
              <h4>{{ i + 1 }}. {{ gapAdoption.gap_name?.toLowerCase() }}</h4>
            </div>
            <div class="col-xs-1" style="padding: 0 2px 0 0px">
              <div class="text-center" style="
                  background: #3de327 0% 0% no-repeat padding-box;
                  border-radius: 5px;
                  opacity: 1;
                  margin-top: 1px;
                ">
                <div style="font: normal 8px Helvetica Neue">Baseline</div>
                <div style="font: normal 13px Helvetica Neue">
                  {{ gapAdoption.baselineRate + 10 | number: "1.1-1" }}%
                </div>
              </div>
            </div>
            <div class="col-xs-1" style="padding: 0 2px 0 2px">
              <div class="text-center" style="
                  background: #ffffff 0% 0% no-repeat padding-box;
                  border-radius: 5px;
                  opacity: 1;
                  margin-top: 1px;
                ">
                <div style="font: normal 8px Helvetica Neue">Score</div>
                <div style="font: normal 13px Helvetica Neue">
                  {{ gapAdoption.adoptionRate | number: "1.1-1" }}%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
