<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body custom-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#profile" aria-controls="Profile" role="tab"
         data-toggle="tab"><span>Edit Profile</span></a>
    </li>
    <li role="presentation" class=""  *appHasPermission="[1,1]" appInternal>
      <a href="#payment-channels" aria-controls="payment-channels" role="tab"
         data-toggle="tab"><span>Payment channels</span></a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
      <div class="row" style="margin-top: 15px">
        <div class="col-sm-2">
          REG number
        </div>
        <div class="col-sm-1">
          <span style="font-weight: bolder">
            {{ farmer?.regNumber }} </span><br>
        </div>
      </div>
      <br>
      <app-loader *ngIf="loading"></app-loader>
      <form [formGroup]="editFarmerProfileForm" (ngSubmit)="onSubmit()">
        <app-list-message [message]="message"></app-list-message>
        <app-list-errors [errorList]="errors"></app-list-errors>
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="control-label label-required">Type</label>
                      <div class="radio">
                        <label>
                          <input type="radio" formControlName="type" value="1">
                          Individual
                        </label>
                      </div>
                      <div class="radio">
                        <label>
                          <input type="radio" formControlName="type" value="2">
                          Group
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <section id="personal" *ngIf="!isGroup">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label label-required">NID</label>
                        <input type="text" formControlName="NID" class="form-control" id="NID"
                               (input)="verifyNid($event.target.value)">
                        <span class="input-error" *ngIf="invalidId">
                      invalid nid
                    </span>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label label-required">First name</label>
                        <input type="text" formControlName="foreName" class="form-control" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label label-required">Last name</label>
                        <input type="text" formControlName="surname" class="form-control" readonly="readonly">
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label label-required">Gender</label>
                        <div class="radio">
                          <label>
                            <input type="radio" formControlName="sex" value="m" checked="" disabled>
                            Male
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" formControlName="sex" value="f" checked="" disabled>
                            Female
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label">Phone number</label>
                        <input type="text" formControlName="phone_number" class="form-control">
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label">Family size</label>
                        <input type="number" formControlName="familySize" class="form-control" min="0">
                      </div>
                    </div>
                  </section>
                  <section id="group" *ngIf="isGroup">
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label label-required">Name</label>
                        <input type="text" formControlName="groupName" class="form-control">
                      </div>
                    </div>
                  </section>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label class="control-label">Status</label>
                      <select class="form-control" formControlName="active">
                        <option value=""></option>
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <fieldset class="location" *ngIf="isGroup">
                    <legend>
                      <label class="control-label label-required">&nbsp; Contact person</label></legend>
                    <div formGroupName="groupContactPerson">
                      <div class="col-xs-4">
                        <div class="form-group">
                          <span class="">First name</span>
                          <input type="text" formControlName="firstName" class="form-control">
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="form-group">
                          <span class="">Last name</span>
                          <input type="text" formControlName="lastName" class="form-control">
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="form-group">
                          <span class="">Phone number</span>
                          <input type="text" formControlName="phone" class="form-control">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="row">
                  <div formGroupName="location">
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label class="control-label">Province</label>
                        <select class="form-control" formControlName="prov_id">
                          <option value=""></option>
                          <option *ngFor="let province of provinces" value="{{province._id}}">{{province.namee}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label class="control-label">District</label>
                        <select class="form-control" formControlName="dist_id">
                          <option value=""></option>
                          <option *ngFor="let district of districts" value="{{district._id}}">{{district.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label class="control-label">Sector</label>
                        <select class="form-control" formControlName="sect_id">
                          <option value=""></option>
                          <option *ngFor="let sector of sectors" value="{{sector._id}}">{{sector.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label class="control-label">Cell</label>
                        <select class="form-control" formControlName="cell_id">
                          <option value=""></option>
                          <option *ngFor="let cell of cells" value="{{cell._id}}">{{cell.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <div class="form-group">
                        <label class="control-label">Village</label>
                        <select class="form-control" formControlName="village_id">
                          <option value=""></option>
                          <option *ngFor="let village of villages" value="{{village._id}}">{{village.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-warning btn-margin pull-right" (click)="modal.dismiss()" type="button">Cancel
            </button>
            <button class="btn btn-success pull-right" [disabled]="!submit" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
    <div role="tabpanel"  class="tab-pane" id="payment-channels">
      <app-list-message [message]="message"></app-list-message>
      <app-list-errors [errorList]="errors"></app-list-errors>
      <div class="row">
        <div class="col-sm-12">
          <div class="box" *ngIf="showEditPaymentChannelForm">
            <div class="box-body">
              <form [formGroup]="editPaymentChannelForm" (ngSubmit)="onEditChannel()">
                <div class="row">
                  <div class="col-xs-12">
                    <h5>
                      Edit payment channel
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <span class="label-required">Channel</span>
                      <select class="form-control" formControlName="channelId">
                        <option *ngFor="let channel of channels" value="{{channel._id}}">
                          {{ channel.channel }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <span class="label-required"> Subscription number </span>
                      <input class="form-control" formControlName="subscriptionCode">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button class="btn btn-success pull-right">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="addPaymentChannelsForm" (ngSubmit)="onAddChannel()" *ngIf="!showEditPaymentChannelForm">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-body">
                <!------------------------------------ Payment channels ---------------------------------->
                <div class="row">
                  <div class="col-xs-12">
                    <h5>
                      Add payment channels
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button class="btn btn-success btn-sm" (click)="addPaymentChannel()" type="button"
                            style="margin-bottom: 10px;">
                      <i class="fa fa-plus"></i> Payment channel
                    </button>
                  </div>
                </div>
                <div *ngFor="let control of formPaymentChannel.controls; let i=index" formArrayName="paymentChannels">
                  <div class="row" [formGroupName]="i">
                    <div class="col-xs-2">
                      <div class="form-group">
                        <span class="label-required">Channel</span>
                        <select class="form-control" formControlName="paymentChannel"
                                (change)="onChangePaymentChannel(i)">
                          <option *ngFor="let channel of channels" value="{{channel._id}}">
                            {{ channel.channel }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="form-group">
                        <span class="label-required"> Subscription number </span>
                        <input class="form-control" formControlName="subscriptionCode">
                      </div>
                    </div>
                    <div class="form-group col-xs-1">
                      <button class="btn btn-danger btn-sm pull-left" type="button"
                              (click)="removePaymentChannel(i)" style="margin-top: 20px"> Remove
                      </button>
                    </div>
                  </div>
                </div>
                <!---------------------------------- End payment channels ------------------------------->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-warning btn-margin pull-right" (click)="modal.dismiss()" type="button">Cancel
            </button>
            <button class="btn btn-success pull-right" [disabled]="!submit" type="submit">Save</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm-12">
          <table class="hover table table-striped">
            <thead>
            <tr>
              <th>Channel name</th>
              <th>Subscription number</th>
              <th></th>
            </tr>
            </thead>
            <tbody style="border-width: 1px">
            <tr *ngFor="let channel of coffeeFarmerPaymentChannels">
              <td> {{ getPaymentChannelName(channel.paymentChannel) }}</td>
              <td> {{ channel.subscriptionCode }}</td>
              <td>
                <button class="btn btn-success btn-margin btn-sm" (click)="editCoffeeFarmerPaymentChannel(channel)">
                  Edit
                </button>
                <button class="btn btn-primary btn-margin btn-sm" (click)="deleteCoffeeFarmerPaymentChannel(channel)"
                        *ngIf="channel.status === 2"> Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
