<div class="modal-body extended-modal-body">
  <div class="modal-header">
    <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close"
      (click)="modal.dismiss('cancel click')">
    </i>
  </div>
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        Nursery Details
        <small class="pull-right">Created: {{ nurseryDatas?.createdAt | date: "y/LL/d - h:mm" }}</small>
      </h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      <strong>Site Name</strong>
      <address>
        {{ nurseryDatas?.nurseryName }} <br>
      </address>
    </div>
    <!-- /.location -->
    <div class="col-sm-4 invoice-col">
      <strong>Location</strong>
      <address>
        <br>
        <strong>Province: </strong>{{ nurseryDatas?.location?.prov_id.namek.toLowerCase()}}<br>
        <strong>District: </strong>{{ nurseryDatas?.location?.dist_id.name }}<br>
        <strong>Sector: </strong>{{ nurseryDatas?.location?.sect_id.name }}<br>
        <strong>Cell: </strong>{{ nurseryDatas?.location?.cell_id.name }}<br>
        <strong>Village: </strong>{{ nurseryDatas?.location?.village_id.name || "" }}<br>

      </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      <strong>Geo Coordinate</strong>
      <address>
        <strong>Latitude: </strong>{{ nurseryDatas?.latitude || "" }}<br>
        <strong>Longitude: </strong>{{ nurseryDatas?.longitude || "" }}<br>

      </address>
    </div>
  </div>
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      <strong>Nursery Owner </strong><br>
      <strong>Name: </strong>{{ nurseryDatas?.owner?.name || "" }}<br>
      <strong>Phone Number: </strong>{{ nurseryDatas?.owner?.phoneNumber || "" }}<br>
      <br>
      <br>
      <br>
    </div>
    <div class="col-sm-8 invoice-col">
      <strong>Responsible Manager </strong><br>
      <strong>Name: </strong>{{ nurseryDatas?.representative?.name || "" }}<br>
      <strong>Phone Number: </strong>{{ nurseryDatas?.representative?.phoneNumber || "" }}<br>
      <br>
      <br>
      <br>
    </div>
    <!-- /.col -->
    <!-- /.location -->
  </div>

  <div class="text-muted well well-sm no-shadow table-responsive">
    <h3 class="text-center">Record Seeds/Seedlings Information</h3>
    <div class="table-responsive">
      <table class="row-border hover table">
        <thead>
          <tr>
            <th class="text-center">Variety</th>
            <th class="text-center">Seed</th>
            <th class="text-center">Expected </th>
            <th class="text-center">Sowing Date</th>
            <th class="text-center">Germination rate</th>
            <th class="text-center">Pricked out</th>
            <th class="text-center">Success Rate</th>
            <th class="text-center">Disributed</th>
            <th class="text-center">Prick-out date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of nurseryDatas?.stocks; let i = index">
            <td class="text-center">{{ stock.varietyId.name || "" }}</td>

            <td class="text-center">
              {{ stock.seeds || 0 }} kg
            </td>
            <td class="text-center">
              {{ stock.expectedSeedlings || 0 }}
            </td>
            <td class="text-center">
              {{ stock.sowingDate || "" | date: "short" }}
            </td>
            <td class="text-center">
              {{ stock.germinationRate || "" }}
            </td>
            <td class="text-center">
              {{ stock.prickedQty || 0 }}
            </td>
            <td class="text-center">
              {{ stock.successRate || "0" | number: "1.2-2" }} %
            </td>
            <td class="text-center">
              {{ stock.prickedQty - stock.remainingQty || 0 }}
            </td>
            <td class="text-center">
              {{ stock.pickedDate || "" | date: "short" }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <div class="box" *ngIf="nurseryDistribution.length > 0">
    <h4 class="text-center">List of Distributed Seedlings</h4>
    <div class="box-body table-responsive">
      <app-loader *ngIf="loading"></app-loader>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
        <thead>
          <tr>
            <th>Distribution Date</th>
            <th>In Filling</th>
            <th>Replacement</th>
            <th>Expansion</th>
            <th>Farmer</th>
            <th>Officer</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let distribution of nurseryDistribution">
            <tr>
              <td>{{ distribution?.date | date: "short" }}</td>
              <td>
                <div *ngFor="let dist of distribution.distributions">
                  <span *ngIf="dist.reason == 'in_filling'">
                    {{ dist?.distributedQty }}
                  </span>
                </div>
              </td>
              <td>
                <div *ngFor="let dist of distribution.distributions">
                  <span *ngIf="dist.reason == 'replacement'">
                    {{ dist?.distributedQty }}
                  </span>
                </div>
              </td>
              <td>
                <div *ngFor="let dist of distribution.distributions">
                  <span *ngIf="dist.reason == 'expansion'">
                    {{ dist?.distributedQty }}
                  </span>
                </div>
              </td>
              <td>
                {{
                  distribution?.farmer?.firstName.toLowerCase() +
                    " " +
                    distribution?.farmer?.lastName.toLowerCase()
                }}
              </td>
              <td>{{ distribution?.officer?.name?.toLowerCase() }}</td>
              <td>
                <div *ngFor="let dist of distribution.distributions; let i = index">
                  <span *ngIf="i == 0">
                    {{ dist.approved ? "Approved" : "Pending" }}
                  </span>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

</div>
