<h3>
  Edit organisation
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" formControlName="name" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" formControlName="email" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">phone number</label>
                <input type="text" formControlName="phoneNumber" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">Organisation type</label>
                <select class="form-control" formControlName="organisationType">
                  <option value="naeb">NAEB</option>
                  <option value="bktechouse">BKTechouse</option>
                  <option value="cws">CWS</option>
                </select>
              </div>
              <div class="form-group">
                <label class="control-label">Website</label>
                <input type="text" formControlName="website" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" href="admin/organisations">Cancel</a>
      <button class="btn btn-success pull-right">Update</button>
    </div>
  </div>
</form>
