<h3>
  Edit organisation
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">Name</label>
                <input type="text" formControlName="organizationName" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">Email</label>
                <input type="text" formControlName="email" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">phone number</label>
                <input type="text" formControlName="phone_number" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">street number</label>
                <input type="text" formControlName="streetNumber" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">Organisation type</label>
                <select class="form-control" formControlName="genreId">
                  <option *ngFor="let genre of genres"  value="{{genre._id}}">{{genre.genre}}</option>
                </select>
              </div>
            </div>
            <!--<div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">Website</label>
                <input type="text" formControlName="website" class="form-control">
              </div>
            </div>-->
            <div class="col-xs-6">
              <label class="control-label label-required">Roles</label>
              <div class="checkbox" formArrayName="organizationRole" *ngFor="let role of editForm.get('organizationRole')['controls']; let i = index">
                <label>
                  <input type="checkbox" formControlName="{{i}}">
                  {{possibleRoles[i].name}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" routerLink="/admin/organisations">Cancel</a>
      <button class="btn btn-success pull-right">Update</button>
    </div>
  </div>
</form>
