<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <app-list-errors [errorList]="errors" *ngIf="errors"></app-list-errors>
  <form [formGroup]="editSeasonForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label">Year</label>
          <input type="text" formControlName="year" class="form-control">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label">Season</label>
          <input type="text" formControlName="season" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div formGroupName="seasonParams">
        <div class="col-xs-2">
          <div class="form-group">
            <span class="">Cherries unit price</span>
            <input class="form-control" formControlName="cherriesUnitPrice">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <span class="">Fertilizer name</span>
            <input class="form-control" formControlName="fertilizerName">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <span class="">Fertilizer kg per tree</span>
            <input class="form-control" formControlName="fertilizerKgPerTree">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <span class="">Pesticide name</span>
            <input class="form-control" formControlName="pesticideName">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <span class="">Pesticide Qty per tree</span>
            <input class="form-control" formControlName="pesticideQtyPerTree">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-warning btn-margin pull-right" (click)="modal.dismiss()" type="button">Cancel</button>
        <button class="btn btn-success pull-right">Save</button>
      </div>
    </div>
  </form>
</div>
