<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 class="page-header">
        <i class="fa fa-user"></i> Change user Organization
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row" *ngIf="user.type!=1">
        <div class="col-sm-6">
          First Name
        </div>
        <div class="col-sm-6 text-right">
          <strong>{{ user.foreName }}</strong><br>
        </div>
        <div class="col-sm-6 ">
          Last Name
        </div>
        <div class="col-sm-6 text-right">
          {{ user.surname }}<br>
        </div>
        <div class="col-sm-6">
          Current Organisation
        </div>
        <div class="col-sm-6 text-right">
          {{ org.organizationName }}
        </div>
        <div class="col-sm-12 text-center">
          <form class="add-form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="newOrg">Search for new member organisation</label>
                <div class="ng-autocomplete">
                  <ng-autocomplete
                    #origin
                    [data]="organisations"
                    [searchKeyword]="keyword"
                    (selected)='selectEvent($event)'
                    (inputCleared) = 'deselectEvent()'
                    [initialValue]="initialValue"
                    placeholder="'Select origin'"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.organizationName"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
            </div>
            <input type="submit" value="{{isSending ? 'Saving...': 'Save'}}" class="btn btn-success">
        </form>
        </div>
      </div>
    </div>
  </div>
  <br/><br/>
</div>
