<div class="row">
  <div class="col-xs-12">
    <h3>
      {{ title }}
      <a appRequiredSeason class="btn btn-success btn-margin pull-right" (click)="createParchment()"><i
        class="fa fa-plus"></i> Record parchment
      </a>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-sm-3 col-xs-6" *ngFor="let production of summary">
    <div class="info-box-content bg-yellow-gradient" style="margin-left: 0px">
      <span class="info-box-text">{{ production.coffeeType }}</span>
      <span class="progress-description" *ngFor="let item of production.grade | keyvalue">
        Grade {{ item.key }} &nbsp;{{ item.value }}&#13199;
      </span>
    </div>
  </div>
</div>
<app-list-message [message]="message"></app-list-message>
<app-list-errors [errorList]="errors"></app-list-errors>
<div class="row">
  <div class="col-xs-12">
    <div></div>
    <div class="box">
      <div class="box-body table-responsive">
        <app-loader *ngIf="loading"></app-loader>
        <table class="row-border hover table table-striped">
          <thead>
          <tr>
            <th (click)="setOrder('coffeeType.name')">Coffee type <i class="fa fa-sort sorting"></i></th>
            <th (click)="setOrder('coffeeGrade')"> Coffee grade <i class="fa fa-sort sorting"></i></th>
            <th (click)="setOrder('totalKgs')"> Qty <i class="fa fa-sort sorting"></i></th>
            <th (click)="setOrder('lotNumber')"> Lot number <i class="fa fa-sort sorting"></i></th>
            <th (click)="setOrder('remainingQty')"> Remaining Qty <i class="fa fa-sort sorting"></i></th>
            <th (click)="setOrder('created_at')"> Recorded <i class="fa fa-sort sorting"></i></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let parchment of (parchments | orderBy : order:reverse:'case-insensitive') | paginate: config">
            <td> {{ parchment.coffeeType.name }}</td>
            <td> {{ parchment.coffeeGrade }}</td>
            <td> {{ parchment.totalKgs }}</td>
            <td> {{ parchment.lotNumber }}</td>
            <td> {{ parchment.remainingQty }}</td>
            <td> {{ parchment.created_at | date }}</td>
            <td>
              <a appRequiredSeason routerLink="/admin/cws/parchments/transfer/{{parchment._id}}" class="btn btn-success btn-margin pull-right btn-sm" style="margin-left: 10px;">
                <i class="fa fa-truck"></i> transfer
              </a>
              <button class="btn btn-default btn-margin btn-sm pull-right" (click)="cancelParchment(parchment._id)"
                      type="button">
                <i class="fa fa-remove" aria-hidden="true"></i> Cancel
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div style="width: 100%;  border-top: 1px solid #0a0a0a;">
          <div style=" clear: both; float: left; padding-top: 0.755em;">Showing {{(config.currentPage - 1)*
            config.itemsPerPage + 1}} to {{config.currentPage* config.itemsPerPage}} of {{config.totalItems}} entries
          </div>
          <pagination-controls class="custom-pagination"
                               [maxSize]="maxSize"
                               [directionLinks]="directionLinks"
                               [autoHide]="autoHide"
                               [responsive]="responsive"
                               [previousLabel]="labels.previousLabel"
                               [nextLabel]="labels.nextLabel"
                               [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                               [screenReaderPageLabel]="labels.screenReaderPageLabel"
                               [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                               (pageChange)="onPageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
