<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <app-list-errors [errorList]="errors" *ngIf="errors"></app-list-errors>
  <div class="row">
    <form [formGroup]="siteStockOutForm" (ngSubmit)="onSubmit()">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label">Total quantity (kg)</label>
          <input type="text" formControlName="totalQty" class="form-control">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label label-required">Date</label>
          <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="date" class="form-control">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label">Number of bags</label>
          <input type="text" formControlName="numberOfBags" class="form-control">
        </div>
      </div>
      <div class="col-sm-6" style="margin-top: 25px">
        <button class="btn btn-success pull-right btn-margin" type="submit">save</button>
      </div>
    </form>
  </div>
</div>
