<div class="board">
  <!-- Navigation Area (Circular Tabs) -->
  <div class="board-inner" id="status-buttons">
    <div id="msform">
      <ul id="progressbar">
        <li
          routerLink="/admin/pay-farmers"
          routerLinkActive="active"
          id="prepare"
        >
          <strong>Prepare</strong>
        </li>
        <li
          id="preview"
          routerLink="/admin/pay-farmers/v/preview-deliveries"
          routerLinkActive="active"
        >
          <strong>Preview</strong>
        </li>
        <li
          id="confirm"
          routerLink="/admin/pay-farmers/v/confirm-payment"
          routerLinkActive="active"
        >
          <strong>Initiate</strong>
        </li>
      </ul>
    </div>
  </div>
  <br />
  <!-- Content Area -->
  <div class="tab-content">
    <!-- Routed view  -->
    <router-outlet></router-outlet>
  </div>
  <!-- End Content Area -->
</div>
