<div class="home">
  <app-home-header></app-home-header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo">
          <div class="text">
            <span> </span>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="login-box">
          <div class="login-box-body">
            <p class="login-box-msg">
              Please provide your credentials to login
            </p>
            <app-list-errors [errorList]="errors"></app-list-errors>
            <app-list-message [message]="message"></app-list-message>
            <app-list-warnings [warning]="warning"></app-list-warnings>
            <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
              <div class="form-group has-feedback">
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                  placeholder="Email"
                />
                <span
                  class="glyphicon glyphicon-envelope form-control-feedback"
                ></span>
              </div>
              <div class="form-group has-feedback">
                <input
                  type="password"
                  formControlName="password"
                  *ngIf="!viewPasswordEnabled"
                  class="form-control"
                  placeholder="*********************"
                />
                <input
                  type="text"
                  formControlName="password"
                  *ngIf="viewPasswordEnabled"
                  class="form-control"
                  placeholder="Enter your Password"
                />
                <a
                  *ngIf="!viewPasswordEnabled"
                  type="button"
                  class="glyphicon glyphicon-eye-open form-control-feedback"
                  (click)="viewPassword()"
                  style="cursor: pointer; display: block"
                ></a>
                <a
                  *ngIf="viewPasswordEnabled"
                  type="button"
                  class="glyphicon glyphicon-eye-close form-control-feedback"
                  (click)="viewPassword()"
                  style="cursor: pointer; display: block"
                ></a>
              </div>
              <div class="row">
                <div class="col-xs-8"></div>
                <!-- /.col -->
                <div class="col-xs-12">
                  <button
                    class="btn btn-success btn-block btn-flat action-button action-button"
                    type="submit"
                  >
                    Login
                  </button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <p class="login-box-link">
              <a routerLink="/auth/request-reset">Did you forget password?</a>
            </p>
          </div>
          <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- .container -->
  <app-home-footer></app-home-footer>
</div>
<!-- /.home -->
