.form-inline .radio {
  padding-right: 15px;
  padding-left: 15px;
}

table.dataTable.no-footer {
  border-bottom: none;
}


table.dataTable thead th, table.dataTable thead td {
  border-bottom: none;
}

/*----------------------------------------Auto-complete--------------------------------------*/

.ng-autocomplete {
  width: 100%;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  height: 34px;
  box-shadow: none;
}

.ng-autocomplete ::ng-deep .autocomplete-container .input-container input {
  height: 34px;
  border: 1px solid #d2d6de;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border-radius: 3px;
}

.ng-autocomplete ::ng-deep .autocomplete-container .suggestions-container ul li a {
  color: #555;
  background-color: #faf9f8;
  border: 1px solid #ffffff;
  padding: 6px 12px;
  font-size: 12px;
}

.ng-autocomplete ::ng-deep .autocomplete-container .input-container .x i {
  font-size: 14px;
  font-weight: bolder;
}

.ng-autocomplete ::ng-deep .autocomplete-container .suggestions-container {
  box-shadow: none;
}
