<app-list-message [message]="message"></app-list-message>
<app-list-errors [errorList]="errors"></app-list-errors>
<div class="row">
  <div class="col-sm-3">
    <div class="stats-box">
      <div class="row">
        <div class="col-xs-12">
          <div class="stats-box-text-header">Allocated Fertilizer</div>
        </div>
      </div>
      <div class="stats-box-text-item">{{ this.cwsAllocatedFertilizer }} Kg</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="stats-box">
      <div class="row">
        <div class="col-xs-12">
          <div class="stats-box-text-header">Remaining Qty</div>
        </div>
      </div>
      <div class="stats-box-text-item">{{ this.cwsAllocatedFertilizer - this.cwsRemainingQty }} Kg</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="stats-box">
      <div class="row">
        <div class="col-xs-12">
          <div class="stats-box-text-header">Allocated Pesticide</div>
        </div>
      </div>
      <div class="stats-box-text-item">{{ this.cwsAllocatedPesticide  }}</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="stats-box">
      <div class="row">
        <div class="col-xs-12">
          <div class="stats-box-text-header">Remaining Pesticide</div>
        </div>
      </div>
      <div class="stats-box-text-item">{{ this.cwsAllocatedPesticide - this.cwsRemainingPesticide}}</div>
    </div>
  </div>
</div>
<div class="box box-default" style="margin-top: 25px">
  <div class="box-header with-border">
    <h3 class="box-title">Available stocks</h3>
    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-target="#box-body" data-toggle="collapse"><i
          class="fa fa-expand"></i>
      </button>
    </div>
  </div>
  <div class="box-body collapse in table-responsive" id="box-body" aria-expanded="true">
    <table class="row-border hover table table-striped table-responsive table-sm" style="margin-top: 15px">
      <thead>
        <tr>
          <th>Stock</th>
          <th>Name</th>
          <th>Qty per item</th>
          <th>Items</th>
          <th>Total Qty</th>
          <th>Available Qty</th>
          <th>Total StockOut Qty</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stocks">
          <td>{{ stock.inputId.inputType }}</td>
          <td>{{ stock.inputId.inputName }}</td>
          <td>{{ stock.quantityPerItem }}</td>
          <td>{{ stock.items }}</td>
          <td>{{ stock.items * stock.quantityPerItem }}</td>
          <td>{{ stock.availableQty }}
            <app-quantity-unit [inputType]="stock.inputId.inputType"></app-quantity-unit>
          </td>
          <td>{{getTotalStockedOut(stock) }}
            <app-quantity-unit [inputType]="stock.inputId.inputType"></app-quantity-unit>
          </td>
          <td>
            <button class="btn btn-success btn-margin btn-sm pull-left" (click)="stockOut(stock)" type="button">
              Stock out
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="box" style="margin-top: 25px">
  <div class="box-header with-border">
    <h3 class="box-title">List stock-outs</h3>
  </div>
  <div class="box-body table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-sm table-condensed">
      <thead>
        <tr>
          <th>Type</th>
          <th>Destination</th>
          <th>Stocked-out Qty</th>
          <th>Distributed Qty</th>
          <th>Available Qty</th>
          <th>Returned Qty</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stockOut of stockOuts" [ngClass] = "getClass(hasError(stockOut))">
          <td>{{ stockOut.inputId.inputName }}</td>
          <td>{{ getDestination(stockOut.destination) }}</td>
          <td>{{ stockOut.totalQuantity }}
            <app-quantity-unit [inputType]="stockOut.inputId.inputType"></app-quantity-unit>
          </td>
          <td>{{ stockOut.distributedQty }}</td>
          <td>{{ stockOut.totalQuantity - stockOut.distributedQty  }}</td>
          <td>{{ stockOut.returnedQty }}</td>
          <td>{{ stockOut.date | date }}</td>
          <td>
            <button class="btn btn-success btn-margin btn-sm pull-right" (click)="returnStockOut(stockOut._id)">
              Return
            </button>
            <button class="btn btn-success btn-margin btn-sm pull-right" (click)="viewApplication(stockOut._id, hasError(stockOut))">
              Applications
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
