<div class="row">
  <div class="col-xs-12">
    <h3>
      {{ title }}
      <div class="filter-form pull-right">
        <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
          <div class="form-inline">
            <select class="form-control" formControlName="site" style="margin-right: 10px">
              <option *ngFor="let site of sites"  value="{{ site._id }}">{{ site.organizationName }}</option>
            </select>
            <button class="btn btn-success pull-right btn-margin"><i class="fa fa-check-square"></i> Approve </button>
            <button class="btn btn-success pull-right btn-margin" type="submit"><i class="fa fa-search"></i> Filter</button>
          </div>
        </form>
      </div>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body">
        <div class="row">
          <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>Farmer</th>
                <th>Reg number</th>
                <th>Location</th>
                <th>Number of trees</th>
                <th>Updated at</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let request of requests;">
                <td>
                  <input type="checkbox" (click)="selectRequest($event.target.checked, request)">
                </td>
                <td></td>
                <td></td>
                <td>
                  <span class="details-row-title-sm" style="margin-left: 0px">Province </span> : <span
                  class="details-row-data-sm"
                  *ngIf="request.location.prov_id">{{ request.location.prov_id.namek }}</span>
                  <span class="details-row-title-sm">District </span> : <span class="details-row-data-sm">{{ request.location.dist_id.name }}</span>
                  <span class="details-row-title-sm">Sector </span> : <span class="details-row-data-sm">{{ request.location.sect_id.name }}</span>
                  <span class="details-row-title-sm">Cell </span> : <span class="details-row-data-sm">{{ request.location.cell_id.name }}</span>
                  <span class="details-row-title-sm">Village </span> : <span class="details-row-data-sm">{{ request.location.village_id.name }}</span>
                </td>
                <td>{{ request.numberOfTrees }}</td>
                <td>{{ request.updated_at | date }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
