<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-6">
          <br>
          REG number
        </div>
        <div class="col-sm-6">
          <br>
          <span style="font-weight: bold;">{{ supplier?.userInfo["regNumber"] }}</span><br>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="box">
        <div class="box-body" style="overflow: hidden">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
            <thead>
            <tr>
              <th>CherriesQty (kg)</th>
              <th>Cherries type</th>
              <th *ngIf="!isUserCeparOfficer">Unit price</th>
              <th *ngIf="!isUserCeparOfficer">Delivery approval</th>
              <th *ngIf="!isUserCeparOfficer">Paid amount (rwf)</th>
              <th>Recorded by</th>
              <th *ngIf="!isUserCeparOfficer">Payment status</th>
              <th *ngIf="!isUserCeparOfficer"></th>
              <th *ngIf="!isUserCeparOfficer">Owed amount</th>
              <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let supply of supplier?.deliveries">
              <td> {{ supply.cherriesQty }}</td>
              <td> {{ supply.cherriesType | titlecase}}
              <td *ngIf="!isUserCeparOfficer"> {{ supply.unitPerKg }}</td>
              <td *ngIf="!isUserCeparOfficer">
                <ng-container *ngIf="supply.deliveryApproval; else notDelivered">approved</ng-container>
                <ng-template #notDelivered> not approved</ng-template>
              </td>
              <td *ngIf="!isUserCeparOfficer"> {{ supply.paidAmount }}</td>
              <td>
                <ng-container *ngIf="supply.recordedBy">
                  <span style="font-size: 12px;"> {{ supply.recordedBy.foreName|titlecase }} &nbsp; {{ supply.recordedBy.surname|titlecase }}  </span>
                </ng-container>
              </td>
              <td *ngIf="!isUserCeparOfficer"><span style="color: #dca956">{{ (supply.paymentStatus.split("_")).join(" ") | lowercase }} </span>
              </td>
              <td *ngIf="!isUserCeparOfficer">
                <table style="background: transparent; width: 750px;" class="pull-right">
                  <tr style="font-size: 12px; background: transparent; font-weight: bold">
                    <td>Amount paid (rwf)</td>
                    <td>Payment approval status</td>
                  </tr>
                  <tr *ngFor="let payment of supply.payment"
                      style="font-size: 12px; background: transparent">
                    <td>{{ payment.amount }}</td>
                    <td>
                      <ng-container *ngIf="payment.approval; else notApproved">approved</ng-container>
                      <ng-template #notApproved> not approved</ng-template>
                    </td>
                  </tr>
                </table>
              </td>
              <td *ngIf="!isUserCeparOfficer"> {{ supply.owedAmount }}</td>
              <td> {{ supply.created_at | date }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

