<div class="modal-body">
  <div class="stats-section">
    <div class="row">
      <div class="col-sm-12 text-center stats-title">Statistics</div>
      <div class="col-sm-4">
        <div class="text-center stats-box">
          <h3>Attended Trainees</h3>
          <div class="row">
            <div class="col-sm-5">
              <h1 style="margin-top: -5px; margin-left: 5px">
                {{ trainingsStats.totalPresent }}
              </h1>
            </div>
            <div class="col-sm-3">
              <span style="white-space: pre"> Male </span>
              {{ trainingsStats.malePresent }}
            </div>
            <div class="col-sm-3">
              <span style="white-space: pre"> Female </span>
              {{ trainingsStats.femalePresent }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-center stats-box third-box">
          <h3>Not Attended Trainees</h3>
          <div class="row">
            <div class="col-sm-5">
              <h1 style="margin-top: -5px; margin-left: 5px">
                {{ trainingsStats.totalAbsent }}
              </h1>
            </div>
            <div class="col-sm-3">
              <span style="white-space: pre"> Male </span>
              {{ trainingsStats.maleAbsent }}
            </div>
            <div class="col-sm-3">
              <span style="white-space: pre"> Female </span>
              {{ trainingsStats.femaleAbsent }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-center stats-box middle-box">
          <h3>Attendance Rate</h3>
          <h1>
            {{
              trainingsStats.totalPresent > 0
                ? (trainingsStats.totalPresent * 100) /
                  trainingsStats.totalInvitees
                : 0
            }}%
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 15px">
    <div class="col-sm-6">
      <div class="box-confirm">
        <div class="box-body">
          <h4 class="text-center">Scheduled Training details</h4>
          <label class="control-label label-required">Selected Training</label>
          <div class="confirm-text-box confirm-text">
            {{ training.trainingId ? training.trainingId.trainingName : "" }}
          </div>
          <label class="control-label label-required">Description</label>
          <div class="confirm-text-box confirm-text confirm-text-area">
            {{ training.description }}
          </div>

          <label class="control-label label-required"
            >Training Location address</label
          >
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label"> Province </label>
              <div class="confirm-text-box confirm-text">
                {{ training.location ? training.location.prov_id.namek : "" }}
              </div>
              <label class="control-label"> Sector </label>
              <div class="confirm-text-box confirm-text">
                {{ training.location ? training.location.sect_id.name : "" }}
              </div>
              <label class="control-label"> Village </label>
              <div class="confirm-text-box confirm-text">
                {{ training.location ? training.location.village_id.name : "" }}
              </div>
            </div>
            <div class="col-sm-6">
              <label class="control-label label-required"> District </label>
              <div class="confirm-text-box confirm-text">
                {{ training.location ? training.location.dist_id.name : "" }}
              </div>
              <label class="control-label"> Cell </label>
              <div class="confirm-text-box confirm-text">
                {{ training.location ? training.location.cell_id.name : "" }}
              </div>
              <label class="control-label"> Venue </label>
              <div class="confirm-text-box confirm-text">
                {{ training.venueName }}
              </div>
            </div>
          </div>
          <label class="control-label">Training Date & Time</label>
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label"> From </label>
              <div class="confirm-text-box confirm-text">
                {{ training.startTime | date: "short" }}
              </div>
            </div>
            <div class="col-sm-6">
              <label class="control-label"> To </label>
              <div class="confirm-text-box confirm-text">
                {{ training.endTime | date: "short" }}
              </div>
            </div>
          </div>
          <div class="control-label text-center"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box-confirm">
        <label class="control-label label-required">Trainer</label>
        <div class="confirm-text-box confirm-text" style="margin-right: 20px">
          {{ training.trainer ? training.trainer.fullName : "" }}
        </div>
        <br />
        <h3 class="text-center">
          Trainees ( Total:
          {{ training.trainees ? training.trainees.length : 0 }} )
        </h3>
        <table class="row-border hover table table-striped">
          <thead>
            <tr>
              <th>Farmer Names</th>
              <th>Contact</th>
              <th>Attended</th>
              <th>Message Delivered</th>
            </tr>
            <tr *ngFor="let trainee of training.trainees; let i = index">
              <td>{{ trainee.foreName + " " + trainee.surName }}</td>
              <td>{{ trainee.phoneNumber }}</td>
              <td
                style="text-align: center; color: green"
                *ngIf="trainee.attendance"
              >
                Yes
              </td>
              <td
                style="text-align: center; color: red"
                *ngIf="!trainee.attendance"
              >
                No
              </td>
              <td style="text-align: center; color: red">No</td>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
