<ng-template #content let-modal>
  <div class="modal-body text-center" style="font-size: 1.5em">
    <i class="fa fa-check" style="color: #00a513; font-size: 4.5em"></i>
    <br />
    Are you sure you want to send <br />
    SMS for {{ training.trainingId ? training.trainingId.trainingName : "" }}
    <br />
    again <br />

    <button type="button" class="btn btn-success btn-lg pull-center" (click)="modal.dismiss()">
      cancel
    </button>
    <button type="button" class="btn btn-success btn-lg pull-center" (click)="sendMessage(); modal.dismiss()"
      [disabled]="loading">
      <span *ngIf="!loading; else other_content">Send Message</span>
      <ng-template #other_content>
        <div class="loader">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </ng-template>
    </button>
  </div>
</ng-template>
<div class="modal-body extended-modal-body">
  <div class="modal-header">
    <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close"
      (click)="modal.dismiss('cancel click')">
    </i>
  </div>
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        {{ training?.trainingId ? training?.trainingId?.trainingName : "" }} Details
        <small class="pull-right">Created: {{ training?.createdAt | date: "y/LL/d - h:mm" }}</small>
      </h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info">
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      <strong>Description</strong>
      <address>
        {{ training?.description }}<br>

      </address>
    </div>
    <!-- /.location -->
    <div class="col-sm-4 invoice-col">
      <strong>Location</strong>
      <address>
        <br>
        <strong>Province: </strong>{{ training?.location ? training.location.prov_id?.namek.toLowerCase(): "" }}<br>
        <strong>District: </strong>{{ training?.location ? training.location.dist_id?.name : "" }}<br>
        <strong>Sector: </strong>{{ training?.location ? training.location.sect_id?.name : "" }}<br>
        <strong>Cell: </strong>{{ training?.location ? training.location.cell_id?.name : "" }}<br>
        <strong>Village: </strong>{{
          training?.location ? training.location.village_id?.name : ""
        }}<br>
        <strong>Venue: </strong>{{ training?.venueName }}<br>

      </address>
    </div>
    <!-- /.Venue -->
    <div class="col-sm-4 invoice-col">
      <strong>Trainer</strong>
      <address>
        <br>
        <strong>FullName: </strong>{{ training?.trainer ? training.trainer.fullName : "" }} <br>
        <strong>Organization Name: </strong> {{training?.trainer?.organisationName}} <br>
        <strong>Phone Number: </strong> {{training?.trainer?.phoneNumber}} <br>
      </address>
    </div>
  </div>
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      <strong>Training Date & Time </strong><br>
      <small>From: </small>{{ training?.startTime | date: "short" }}
      <br>
      <small>To: </small> {{ training?.endTime | date: "short" }}
      <br>
    </div>
    <div class="col-sm-8 invoice-col">
      <br>
      <br>
      <h3 class="text-center">{{ trainingsStats?.totalPresent + trainingsStats?.totalAbsent}} Trainees</h3>
    </div>
    <!-- /.col -->
    <!-- /.location -->
    <div class="col-sm-4 invoice-col">
      <strong>Group Name</strong>
      <address>
        {{ training?.groupId?.groupName }} <br>
      </address>
    </div>
    <!-- /.col -->
    <!-- /.location -->
    <div class="col-sm-4 invoice-col">
      <div class="text-center trainees-box">
        <p>Attended Trainees</p>
        <h4>{{ trainingsStats?.totalPresent }}</h4>
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-male fa-2x" aria-hidden="true" style="color: #35a1ff"></i>
            <p>{{ trainingsStats?.malePresent }}</p>
          </div>
          <div class="col-xs-6">
            <i class="fa fa-female fa-2x" aria-hidden="true" style="color: #ff69f6"></i>
            <p>{{ trainingsStats?.femalePresent }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 invoice-col">
      <div class="text-center trainees-box trainees-box-absent">
        <p>Not Attended Trainees</p>
        <h4>{{ trainingsStats?.totalAbsent }}</h4>
        <div class="row">
          <div class="col-xs-6">
            <i class="fa fa-male fa-2x" aria-hidden="true" style="color: #35a1ff"></i>
            <p>{{ trainingsStats?.maleAbsent }}</p>
          </div>
          <div class="col-xs-6">
            <i class="fa fa-female fa-2x" aria-hidden="true" style="color: #ff69f6"></i>
            <p>{{ trainingsStats?.femaleAbsent }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <br>
  <div class="row">
    <!-- accepted payments column -->
    <div class="col-xs-12 col-centered">
      <div class="box-confirm">
        <div class="box-body">
          <h3 class="text-center">
            Trainees ( Total:
            {{ training?.trainees ? training?.trainees.length : 0 }} )
          </h3>
          <div class="table-responsive">
            <table class="row-border hover table table-striped">
              <thead>
                <tr>
                  <th>Farmer Names</th>
                  <th>Contact</th>
                  <th style="text-align: center">Attended</th>
                  <th style="text-align: center">SMS Status</th>
                  <th class="text-center">Actions</th>
                </tr>
                <tr *ngFor="let trainee of training?.trainees; let i = index">
                  <td>{{ trainee.foreName + " " + trainee.surName }}</td>
                  <td>{{ trainee.phoneNumber }}</td>
                  <td style="text-align: center; color: green" *ngIf="trainee.attended">
                    Yes
                  </td>
                  <td style="text-align: center; color: red" *ngIf="!trainee.attended">
                    No
                  </td>
                  <td style="text-align: center; color: red">
                    {{ trainee.smsStatus == "NOT_SENT" ? "Not Sent" : "Sent" }}
                  </td>
                  <td class="text-center">
                    <button appRequiredSeason (click)="open(content)" class="btn btn-action-no-border"
                      *ngIf="trainee.smsStatus == 'NOT_SENT'">
                      <em class="fa fa-envelope-o"></em>
                    </button>
                  </td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
