<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header" *appHasPermission="[[4,1],[4,11],[4,12],roles.TEC_HOUSE,6,5,[8,1],[1,1]]">REGISTRATION</li>
      <li routerLinkActive="active" *appHasPermission="[[4,1],[4,11],[4,12],0,6,5,[8,1],[1,1]]">
        <a routerLink="/admin/organisations">
          <i class="fa fa-university" aria-hidden="true"></i>
          <span>Organisations</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[[4,1],[4,11],0,6,5]">
        <a href="#">
          <i class="fa fa-users"></i><span>Farmers</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[6]">
            <a [routerLink]="['/admin/farmers/need-approval/list', {needApproval:'updated'}]">
              <i class="fa fa-circle-o"></i>
              <span>Pending approval</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin/farmers/list">
              <i class="fa fa-circle-o"></i>
              <span>Farmers</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin/farmers/administrative/list">
              <i class="fa fa-circle-o"></i>
              <span>Administrative list</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin/pending-farmers">
              <i class="fa fa-circle-o"></i>
              <span>Temporary farmers</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="header" *appHasPermission="[1]">WET PROCESSING</li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[1]">
        <a href="#">
          <i class="fa fa-users"></i> <span>Farmers</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/cws-farmers/{{user.org_id}}">
              <i class="fa fa-circle-o"></i>
              <span>Farmers</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/cws-suppliers/{{user.org_id}}/">
              <i class="fa fa-circle-o"></i>
              <span>Supplying farmers</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/cws-pending-farmers/{{user.org_id}}">
              <i class="fa fa-circle-o"></i>
              <span>Temporary farmers</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[1]">
        <a href="#">
          <i class="fa fa-gg"></i> <span>Payments</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <!--
            <li routerLinkActive="active" *appHasPermission="[1]">
              <a routerLink="/admin/top-ups/payments/{{user.org_id}}">
                <i class="fa fa-circle-o"></i>
                <span>Top-ups</span>
              </a>
            </li>
          -->
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/pay-farmers/select-deliveries">
              <i class="fa fa-circle-o"></i>
              <span>Pay farmers</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/history/payments/{{user.org_id}}">
              <i class="fa fa-circle-o"></i>
              <span>History</span>
            </a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active" *appHasPermission="[1]">
        <a routerLink="/admin/cws/parchments/list">
          <i class="fa fa-archive" aria-hidden="true"></i>
          <span>Parchments</span>
        </a>
      </li>
      <li class="header" *appHasPermission="[2]">DRY PROCESSING</li>
      <li routerLinkActive="active" *appHasPermission="[2]">
        <a routerLink="/admin/drymill/batch/create">
          <i class="fa fa-archive" aria-hidden="true"></i>
          <span>Received parchments</span>
        </a>
      </li>
      <li class="header" *appHasPermission="[[8,2]]">SITE</li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[[8,2]]">
        <a href="#">
          <i class="fa fa-users"></i><span>Farmers</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[[8,2]]">
            <a routerLink="/admin/sites/{{siteId}}/farmers">
              <i class="fa fa-circle-o"></i>
              <span>Farmers</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[[8,2]]">
            <a routerLink="/admin/sites/{{siteId}}/pending-farmers">
              <i class="fa fa-circle-o"></i>
              <span>Pending farmers</span>
            </a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active" *appHasPermission="[[8,2]]">
        <a routerLink="/admin/input/site/distribution">
          <i class="fa fa-tree" aria-hidden="true"></i>
          <span>Distribute</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[[8,2]]">
        <a href="#">
          <i class="fa fa-file-text"></i> <span>Manage store</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[[8,2]]">
            <a routerLink="/admin/input/site/dispatches">
              <i class="fa fa-circle-o"></i>
              <span>Entries</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[[8,2]]">
            <a routerLink="/admin/input/site/stock-outs">
              <i class="fa fa-circle-o"></i>
              <span>Stock</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="header" *appHasPermission="[0,5,[4,10],[4,11],[4,12],[8,1],[4,1],6]">INPUT DISTRIBUTION</li>
      <li routerLinkActive="active" *appHasPermission="[0,5,[4,10],[4,11],[4,12],[8,1],[4,1],6]">
        <a routerLink="/admin/sites">
          <i class="fa fa-square" aria-hidden="true"></i>
          <span>Sites</span>
        </a>
      </li>
      <li routerLinkActive="active" *appHasPermission="[[4,10],[4,11],[4,12],[4,1],0,6,5]">
        <a routerLink="/admin/input/distribution/plan">
          <i class="fa fa-history" aria-hidden="true"></i>
          <span>Distribution plan</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[0,6,[4,1],[4,11],[4,12],5,8]">
        <a href="#">
          <i class="fa fa-flag-o"></i> <span>Progress report</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[0,6,[4,1],[4,11],[4,12],5,8]">
            <a routerLink="/admin/input/application/progress">
              <i class="fa fa-circle-o"></i>
              <span>Fertilizer application</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[0,6,[4,1],[4,11],[4,12],5,8]">
            <a routerLink="/admin/input/pesticide/application/progress">
              <i class="fa fa-circle-o"></i>
              <span>Pesticide application</span>
            </a>
          </li>

          <li routerLinkActive="active" *appHasPermission="[0,6,[4,1],[4,11],[4,12],5,[8,1]]">
            <a routerLink="/admin/input/distribution/progress">
              <i class="fa fa-circle-o"></i>
              <span>Distribution</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="header" *appHasPermission="[0,[4],5]">WAREHOUSE</li>
      <li routerLinkActive="active" *appHasPermission="[0,4,5]">
        <a routerLink="/admin/warehouse/entries">
          <i class="fa fa-tags" aria-hidden="true"></i>
          <span>Entries</span>
        </a>
      </li>
      <li routerLinkActive="active" *appHasPermission="[0,[4,10],5]">
        <a routerLink="/admin/warehouse/dispatches">
          <i class="fa fa-code-fork" aria-hidden="true"></i>
          <span>Dispatch</span>
        </a>
      </li>
      <li class="header">GENERAL</li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[[4,1],[4,11],[4,12],0,6]">
        <a href="#">
          <i class="fa fa-bar-chart"></i><span>Reports</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[[4,1],[4,11],[4,12],0,6]">
            <a routerLink="/admin/farmers/approval/progress">
              <i class="fa fa-circle-o"></i>
              <span>Farmers approval statistics</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[[4,1],[4,11],[4,12],0,6]">
            <a routerLink="/admin/report/farmers">
              <i class="fa fa-circle-o"></i>
              <span>Farmers</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[[4,1],[4,11],[4,12],0,6]">
            <a routerLink="/admin/cherries/parchments/report">
              <i class="fa fa-circle-o"></i>
              <span>Cherries supply</span>
            </a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active" *appHasPermission="[1]">
        <a routerLink="/admin/settings/organisation/{{user.org_id}}">
          <i class="fa fa-cogs"></i>
          <span>Settings</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[4,0,5]">
        <a href="#">
          <i class="fa fa-cogs"></i><span>Settings</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[[4,1],[4,11],0,5]">
            <a routerLink="/admin/distribution-parameters">
              <i class="fa fa-circle-o"></i>
              <span>Distribution</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[[4,1],[4,11],0,5]">
            <a routerLink="/admin/season-parameters">
              <i class="fa fa-circle-o"></i>
              <span>Season parameters</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[[4,1],0]">
            <a routerLink="/admin/organisation-types">
              <i class="fa fa-circle-o"></i>
              <span>Organisation types</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[[4,1],[4,11],0]">
            <a routerLink="/admin/coffee-type/list">
              <i class="fa fa-circle-o"></i>
              <span>Coffee types</span>
            </a>
          </li>
          <!--
            <li routerLinkActive="active" *appHasPermission="[0]">
              <a routerLink="/admin/payment-channel/list">
                <i class="fa fa-circle-o"></i>
                <span>Payment channels</span>
              </a>
            </li>
          -->
        </ul>
      </li>
      <li routerLinkActive="active">
        <a (click) = "onLogOut()" style="cursor:pointer">
          <i class="fa fa-fw fa-lock" aria-hidden="true"></i>
          <span>Sign out</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
