.main-sidebar, .skin-blue .main-sidebar {
  background-color: #4F210D1F;
}
.sidebar-menu > li.header , .sidebar-menu>li{
  background-color: #E1A33E;
}

.skin-blue .sidebar a {
  color: #4F210D !important;
}

.skin-blue .sidebar-menu>li.active>a {
  border-left-color: #4F210D !important;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
  background: #d9d6c8 !important;
}

.sidebar-menu>li{
  background: #4F210D1F;
}
.sidebar-menu>li>.treeview-menu {
  margin: 0 0px;
  background: none;
}
.skin-blue .sidebar-menu>li.active>a {
  border-left-color: #367fa9;
}

.skin-blue .sidebar-menu>li a {
  color: white;
}
