<div class="row">
  <div class="col-xs-12">
    <table class="row-border hover table table-striped" style="margin-top: 15px">
      <thead>
      <tr>
        <th>Stock</th>
        <th>Name</th>
        <th>Qty</th>
        <th>Total Qty</th>
        <th>Available Qty</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stock of stocks">
        <td>{{ stock.inputId.inputType }}</td>
        <td>{{ stock.inputId.inputName }}</td>
        <td>{{ stock.quantityPerItem }}</td>
        <td>{{ stock.items * stock.quantityPerItem }}
          <app-quantity-unit [inputType]="stock.inputId.inputTyPe"></app-quantity-unit>
        </td>
        <td>{{ stock.availableQty }}
          <app-quantity-unit [inputType]="stock.inputId.inputTyPe"></app-quantity-unit>
        </td>
        <td>
          <button class="btn btn-success btn-margin btn-sm pull-right" (click)="stockOut(stock)"
                  type="button">
            Stock out
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="box" style="margin-top: 25px">
      <div class="box-body">
        <h4>
          Stock-outs
        </h4>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"
               class="table table-striped">
          <thead>
          <tr>
            <th>Type</th>
            <th>Quantity</th>
            <th>Distributed Qty</th>
            <th>Returned Qty</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stockOut of stockOuts">
              <td>{{ stockOut.inputId.inputType }}</td>
              <td>{{ stockOut.totalQuantity }}
                <span *ngIf="stockOut.inputId.inputType === 'Pesticide'">L</span>
                <span *ngIf="stockOut.inputId.inputType === 'Fertilizer'">kg</span></td>
              <td>{{ stockOut.distributedQty }}</td>
              <td>{{ stockOut.returnedQty }}</td>
              <td>{{ stockOut.date|date }}</td>
              <td>
                <button class="btn btn-success btn-margin btn-sm" (click)="returnStockOut(stockOut._id)">
                  Return
                </button>
              </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
