<ng-template #content let-modal>
  <div class="modal-header">
    <h4
      class="modal-title training-modal-title text-center"
      id="modal-basic-title"
    >
      Verify and Confirm
    </h4>
  </div>
  <div class="modal-body">
    <div class="box">
      <div class="box-body box-confirm">
        <div class="row">
          <div class="col-sm-12 col-centered">
            <label class="control-label label-required">Site Name </label>
            <div class="confirm-text-box confirm-text">
              {{ addNursery.value.description }}
            </div>
          </div>
          <div class="col-sm-12 col-centered">
            <div class="row">
              <div class="col-xs-2">
                <label class="control-label label-required">Province</label>
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.location.prov_id }}
                </div>
              </div>
              <div class="col-xs-2">
                <label class="control-label label-required">District</label>
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.location.prov_id }}
                </div>
              </div>
              <div class="col-xs-2">
                <label class="control-label label-required">Sector</label>
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.location.prov_id }}
                </div>
              </div>
              <div class="col-xs-2" id="location-cell">
                <label class="control-label label-required">Cell</label>
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.location.prov_id }}
                </div>
              </div>
              <div class="col-xs-2" id="location-village">
                <label class="control-label label-required">Village</label>
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.location.prov_id }}
                </div>
              </div>
              <div class="col-xs-1" id="location-latitude">
                <label class="control-label label-required">Lat</label>
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.location.prov_id }}
                </div>
              </div>
              <div class="col-xs-1" id="location-longitude">
                <label class="control-label label-required">Long</label>
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.location.prov_id }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-centered">
            <div class="row">
              <div class="col-sm-6">
                <label class="control-label label-required"
                  >Nursery Owner
                </label>
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.nurseryName }}
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label label-required"
                  >Owner Phone number</label
                >
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.nurseryName }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-centered">
            <div class="row">
              <div class="col-sm-6">
                <label class="control-label label-required"
                  >Responsible Manager</label
                >
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.nurseryName }}
                </div>
              </div>
              <div class="col-sm-6">
                <label class="control-label label-required"
                  >Manager Phone number</label
                >
                <div class="confirm-text-box confirm-text">
                  {{ addNursery.value.nurseryName }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-centered">
            <label class="control-label label-required"
              >Record Seeds/Seedlings Information</label
            >
            <br />
            <div class="row">
              <div class="col-sm-2 text-center">
                <label class="control-label">Variety</label>
              </div>
              <div class="col-sm-1 text-center">
                <label class="control-label">Seed</label>
              </div>
              <div class="col-sm-2 text-center">
                <label class="control-label">Expected Seedlings</label>
              </div>
              <div class="col-sm-2 text-center">
                <label class="control-label">Recorded </label>
              </div>
              <div class="col-sm-2 text-center">
                <label class="control-label">Germination rate </label>
              </div>
              <div class="col-sm-2 text-center">
                <label class="control-label">Distributed </label>
              </div>
              <div class="col-sm-1"></div>
              <span
                *ngFor="let stock of formData.controls; let i = index"
                class="text-center"
              >
                <span>
                  <div class="col-sm-2">
                    <div class="confirm-text-box confirm-text">
                      {{ addNursery.value.nurseryName }}
                    </div>
                  </div>
                  <div class="col-sm-2" style="margin-top: 10px">
                    <div class="confirm-text-box confirm-text">
                      {{ addNursery.value.nurseryName }}
                    </div>
                  </div>
                  <div class="col-sm-2" style="margin-top: 10px">
                    <div class="confirm-text-box confirm-text">
                      {{ addNursery.value.nurseryName }}
                    </div>
                  </div>
                  <div class="col-sm-2" style="margin-top: 10px">
                    <div class="confirm-text-box confirm-text">
                      {{ addNursery.value.nurseryName }}
                    </div>
                  </div>
                  <div class="col-sm-2" style="margin-top: 10px">
                    <div class="confirm-text-box confirm-text">
                      {{ addNursery.value.nurseryName }}
                    </div>
                  </div>
                  <div class="col-xs-2" style="margin-top: 10px">
                    <div class="confirm-text-box confirm-text">
                      {{ addNursery.value.nurseryName }}
                    </div>
                  </div>
                </span>
              </span>
              <span *ngIf="formData.controls.length > 0">
                <div class="col-sm-2 text-center">
                  <label class="control-label">Total</label>
                </div>
                <div class="col-sm-2 text-center">
                  <label class="control-label text-center">1</label>
                </div>
                <div class="col-sm-2 text-center">
                  <label class="control-label">2500</label>
                </div>
                <div class="col-sm-2 text-center">
                  <label class="control-label">200</label>
                </div>
                <div class="col-sm-2 text-center">
                  <label class="control-label">2500</label>
                </div>
                <div class="col-sm-2 text-center">
                  <label class="control-label">200</label>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-3">
        <button
          type="button"
          class="btn btn-danger btn-lg pull-left"
          (click)="modal.dismiss()"
        >
          Cancel
        </button>
      </div>
      <div class="col-sm-6"></div>
      <div class="col-sm-3">
        <button
          class="btn btn-secondary btn-lg submit"
          (click)="modal.dismiss(); onCreate(); open(ccontent)"
          [disabled]="loading"
        >
          <span *ngIf="!loading; else other_content">Confirm</span>
          <ng-template #other_content>
            <div class="loader">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<h3>
  Seedlings Distribution >
  <span style="font-weight: bold"> Add new Nursery</span>
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<div class="box">
  <form [formGroup]="addNursery">
    <div class="row">
      <br />
      <span *ngIf="addNursery.value.siteAvailability === 'no'">
        <div class="col-sm-11 col-centered">
          <div class="form-group">
            <label class="control-label label-required">Site Name </label>
            <input
              type="text"
              formControlName="nurseryName"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-sm-11 col-centered">
          <div class="row" formGroupName="location">
            <div
              class="col-xs-2"
              id="location-province"
              style="padding: 0 2px 0 15px"
            >
              <div class="form-group">
                <label class="control-label label-required">Province</label>
                <select class="form-control" formControlName="prov_id">
                  <option value=""></option>
                  <option
                    *ngFor="let province of locationProvinces"
                    value="{{ province._id }}"
                  >
                    {{ province.namee | titlecase }}
                  </option>
                </select>
              </div>
            </div>
            <div
              class="col-xs-2"
              id="location-district"
              style="padding: 0 2px 0 0px"
            >
              <div class="form-group">
                <label class="control-label label-required">District</label>
                <select class="form-control" formControlName="dist_id">
                  <option value=""></option>
                  <option
                    *ngFor="let district of locationDistricts"
                    value="{{ district._id }}"
                  >
                    {{ district.name | titlecase }}
                  </option>
                </select>
              </div>
            </div>
            <div
              class="col-xs-2"
              id="location-sector"
              style="padding: 0 2px 0 0px"
            >
              <div class="form-group">
                <label class="control-label label-required">Sector</label>
                <select class="form-control" formControlName="sect_id">
                  <option value=""></option>
                  <option
                    *ngFor="let sector of locationSectors"
                    value="{{ sector._id }}"
                  >
                    {{ sector.name | titlecase }}
                  </option>
                </select>
              </div>
            </div>
            <div
              class="col-xs-2"
              id="location-cell"
              style="padding: 0 2px 0 0px"
            >
              <div class="form-group">
                <label class="control-label label-required">Cell</label>
                <select class="form-control" formControlName="cell_id">
                  <option value=""></option>
                  <option
                    *ngFor="let cell of locationCells"
                    value="{{ cell._id }}"
                  >
                    {{ cell.name | titlecase }}
                  </option>
                </select>
              </div>
            </div>
            <div
              class="col-xs-2"
              id="location-village"
              style="padding: 0 2px 0 0px"
            >
              <div class="form-group">
                <label class="control-label label-required">Village</label>
                <select class="form-control" formControlName="village_id">
                  <option value=""></option>
                  <option
                    *ngFor="let village of locationVillages"
                    value="{{ village._id }}"
                  >
                    {{ village.name | titlecase }}
                  </option>
                </select>
              </div>
            </div>
            <div
              class="col-xs-1"
              id="location-latitude"
              style="padding: 0 2px 0 0px"
            >
              <div class="form-group">
                <label class="control-label label-required">Lat</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="latitude"
                />
              </div>
            </div>
            <div
              class="col-xs-1"
              id="location-longitude"
              style="padding: 0 10px 0 0px"
            >
              <div class="form-group">
                <label class="control-label label-required">Long</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="longitude"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-11 col-centered">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label label-required"
                  >Nursery Owner
                </label>
                <input
                  type="text"
                  formControlName="ownerName"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label label-required"
                  >Owner Phone number</label
                >
                <input
                  type="text"
                  formControlName="ownerNumber"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-11 col-centered">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label label-required"
                  >Responsible Manager</label
                >
                <input
                  type="text"
                  formControlName="representativeName"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label label-required"
                  >Manager Phone number</label
                >
                <input
                  type="text"
                  formControlName="representativeNumber"
                  class="form-control"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-11 col-centered">
          <label class="control-label label-required"
            >Record Seeds/Seedlings Information</label
          >
          <br />
          <div class="row">
            <div class="col-sm-2 text-center">
              <label class="control-label">Variety</label>
            </div>
            <div class="col-sm-1 text-center" style="padding: 0 2px 0 0px">
              <label class="control-label">Seed</label>
            </div>
            <div class="col-sm-1 text-center" style="padding: 0 2px 0 0px">
              <label class="control-label">Expected Seedlings</label>
            </div>
            <div class="col-sm-1 text-center" style="padding: 0 2px 0 0px">
              <label class="control-label">Sowing Date</label>
            </div>
            <div class="col-sm-2 text-center" style="padding: 0 2px 0 0px">
              <label class="control-label">Germination rate </label>
            </div>
            <div class="col-sm-2 text-center" style="padding: 0 2px 0 0px">
              <label class="control-label">Pricked out Seedlings </label>
            </div>
            <div class="col-sm-1 text-center" style="padding: 0 2px 0 0px">
              <label class="control-label"> Success Rate</label>
            </div>
            <div class="col-sm-1 text-center" style="padding: 0 2px 0 0px">
              <label class="control-label">Disributed Seedlings</label>
            </div>
            <div class="col-sm-1 text-center" style="padding: 0 2px 0 10px">
              <label class="control-label"> </label>
            </div>
          </div>
          <div class="row">
            <span
              *ngFor="let stock of formData.controls; let i = index"
              formArrayName="stockData"
              class="text-center"
            >
              <span [formGroupName]="i">
                <div
                  class="col-sm-2"
                  style="margin-top: 10px; padding: 0 2px 0 15px"
                >
                  <select class="form-control" formControlName="variety">
                    <option
                      value="{{ treeVarieties[i]._id }}"
                      selected
                      disabled
                    >
                      {{ treeVarieties[i].name | titlecase }}
                    </option>
                    <option
                      *ngFor="let trees of treeVarieties"
                      value="{{ trees._id }}"
                    >
                      {{ trees.name | titlecase }}
                    </option>
                  </select>
                </div>
                <div
                  class="col-sm-1"
                  style="margin-top: 10px; padding: 0 2px 0 0px"
                >
                  <input
                    type="number"
                    class="form-control"
                    formControlName="seed"
                  />
                </div>
                <div
                  class="col-sm-1"
                  style="margin-top: 10px; padding: 0 2px 0 0px"
                >
                  <input
                    type="text"
                    class="form-control"
                    value="{{ stock.controls.seed.value * 2500 }}"
                    disabled
                  />
                </div>
                <div
                  class="col-sm-1"
                  style="margin-top: 10px; padding: 0 2px 0 0px"
                >
                  <input
                    [owlDateTimeTrigger]="dt1"
                    [owlDateTime]="dt1"
                    formControlName="sowingDate"
                    class="form-control"
                    placeholder="Dd/mm/yyyy"
                  />
                  <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                </div>
                <div
                  class="col-sm-2"
                  style="margin-top: 10px; padding: 0 2px 0 0px"
                >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="germinationRate"
                  />
                </div>
                <div
                  class="col-sm-2"
                  style="margin-top: 10px; padding: 0 2px 0 0px"
                >
                  <input
                    type="number"
                    class="form-control"
                    value="0"
                    formControlName="recordedSeedling"
                  />
                </div>
                <div
                  class="col-sm-1"
                  style="margin-top: 10px; padding: 0 2px 0 0px"
                >
                  <input
                    type="number"
                    class="form-control"
                    value="0"
                    formControlName="recordedSeedling"
                  />
                </div>
                <div
                  class="col-sm-1"
                  style="margin-top: 10px; padding: 0 2px 0 0px"
                >
                  <input
                    type="number"
                    class="form-control"
                    value="0"
                    formControlName="recordedSeedling"
                  />
                </div>
                <div class="col-xs-1 text-center" style="margin-top: 10px">
                  <button
                    class="btn btn-danger btn-sm pull-right"
                    type="button"
                    (click)="removeStockItem(i)"
                  >
                    Remove
                  </button>
                </div>
              </span>
            </span>
            <div
              class="col-sm-12 text-center"
              style="margin-top: 10px; margin-bottom: 10px"
            >
              <button
                class="btn btn-default"
                type="button"
                (click)="addStockItem()"
              >
                Add Variety
              </button>
            </div>
          </div>
        </div>
      </span>
    </div>
    <div class="text-center" *ngIf="addNursery.value.siteAvailability === 'no'">
      <br />
      <br />
      <button
        type="button"
        class="btn"
        style="
          width: 250px;
          height: 50px;
          margin-right: 10px;
          background-color: #bababa;
          color: #ffffff;
        "
        routerLink="/admin/seedling/nursery/list"
      >
        Cancel
      </button>
      <button
        class="btn"
        (click)="onCreate()"
        [disabled]="loading"
        style="
          width: 250px;
          height: 50px;
          background-color: #4f210d;
          color: #ffffff;
        "
        [disabled]="loading"
      >
        <span *ngIf="!loading; else other_content">Add new Nursery</span>
        <ng-template #other_content>
          <div class="loader">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </ng-template>
      </button>
    </div>
    <br />
  </form>
</div>
