.background-search {
  background-color: #e5d8ca;
  padding: 2%;
  min-height: 210px;
}

.row {
  /* padding: 0.5%; */
}

.btn-success {
  background-color: #41c400;
  border-color: #41c400;
  color: white;
}
.btn-action {
  width: 200px !important;
}
.table-condensed {
  font-size: 10px !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
