table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  min-width: 100px;
}

.image-container {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
