<div class="row">
  <div class="col-xs-12">
    <h3>
      {{ title }}
      <a appRequiredSeason class="btn btn-success btn-margin pull-right" routerLink="/admin/farmers/create"><i class="fa fa-plus"></i> New Farmer
      </a>
      <div class="filter-form pull-right">
        <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
          <div class="form-inline">
            <select class="form-control" formControlName="searchBy" style="margin-right: 10px">
              <option *ngFor="let field of searchFields"  value="{{field.value}}">{{field.name}}</option>
            </select>
            <input type="text" formControlName="term" class="form-control" placeholder="search..">
            <button class="btn btn-warning pull-right btn-margin" type="button" (click)="onClearFilter()">Clear</button>
            <button class="btn btn-success pull-right btn-margin" type="submit"><i class="fa fa-search"></i> Search</button>
          </div>
        </form>
      </div>
    </h3>
  </div>
</div>
<app-list-message [message]="message"></app-list-message>
<app-list-errors [errorList]="errors" *ngIf="errors.length > 0"></app-list-errors>
<div class="row">
  <div class="col-xs-12">
    <div></div>
    <div class="box">
      <div class="box-body table-responsive">
        <app-loader *ngIf="loading"></app-loader>
        <table class="row-border hover table table-striped">
          <thead>
          <tr>
            <th (click)="setOrder('userInfo.foreName')">First name <i class="fa fa-sort sorting"></i></th>
            <th (click)="setOrder('userInfo.surname')">Last name <i class="fa fa-sort sorting"></i></th>
            <th (click)="setOrder('userInfo.NID')">National ID <i class="fa fa-sort sorting"></i></th>
            <th (click)="setOrder('userInfo.phone_number')">Phone number <i class="fa fa-sort sorting"></i></th>
            <th (click)="setOrder('userInfo.regNumber')">Reg number <i class="fa fa-sort sorting"></i></th>
            <th></th>
          </tr>
          </thead>
          <tbody *ngIf="showData">
          <tr *ngFor="let farmer of (farmers | orderBy : order:reverse:'case-insensitive') | paginate: config">
            <td *ngIf="farmer.userInfo.type===2; else foreName"> {{ farmer.userInfo.groupName }} </td>
            <ng-template #foreName>
            <td> {{ farmer.userInfo.foreName }} </td>
            </ng-template>
            <td> {{ farmer.userInfo.surname }}</td>
            <td> {{ farmer.userInfo.NID }}</td>
            <td> {{ farmer.userInfo.phone_number }}</td>
            <td> {{ farmer.userInfo.regNumber | uppercase}}</td>
            <td>
              <a appRequiredSeason class="btn btn-success btn-margin pull-right btn-sm"  *appHasPermission="[[4,1],0,[8,1],[1,1]]" routerLink="/admin/farmers/edit/{{farmer.request._id}}">
                Edit</a>
              <button *ngIf="hasRequest(farmer)" class="btn btn-default btn-margin btn-sm pull-right details-button" (click)="viewDetails(farmer)">...</button>
              </td>
          </tr>
          </tbody>
        </table>
        <div style="width: 100%;  border-top: 1px solid #0a0a0a;" *ngIf="showData">
          <div style=" clear: both; float: left; padding-top: 0.755em;">Showing {{(config.currentPage - 1)*
            config.itemsPerPage + 1}} to {{config.currentPage* config.itemsPerPage}} of {{config.totalItems}} entries
          </div>
          <pagination-controls class="custom-pagination"
                               [maxSize]="maxSize"
                               [directionLinks]="directionLinks"
                               [autoHide]="autoHide"
                               [responsive]="responsive"
                               [previousLabel]="labels.previousLabel"
                               [nextLabel]="labels.nextLabel"
                               [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                               [screenReaderPageLabel]="labels.screenReaderPageLabel"
                               [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                               (pageChange)="onPageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

