<h3>
  Trainings 
  <a class="btn btn-success pull-right" routerLink="/admin/training/create"
  style="margin-left: 10px" ><i class="fa fa-calendar"></i> Schedule a Training
  </a>
  <a class="btn btn-success pull-right" routerLink="/admin/training/create"
    ><i class="fa fa-plus"></i> Add a Training
  </a>
</h3>
<app-list-message [message]="message"></app-list-message>
<app-list-errors [errorList]="errors"></app-list-errors>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <app-loader *ngIf="loading"></app-loader>
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover table table-striped"
        >
          <thead>
            <tr>
              <th>Date Added</th>
              <th>Title</th>
              <th>Description</th>
              <th>Associated GAP</th>
              <th>Attachments</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let training of trainings">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="actions no-wrap text-right">
                  <a
                    class="btn btn-success btn-margin btn-sm"
                    [routerLink]="['edit/', group._id]"
                    style="margin-left: 10px"
                  >
                    Edit
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
