<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <app-list-message [message]="message"></app-list-message>
  <app-list-errors [errorList]="errors"></app-list-errors>
  <div class="row">
    <div class="col-xs-12">
      <div class="container custom-tabs" style="width: auto">
        <div class="row">
          <div class="col-md-12" style="padding-right: 0px; padding-left: 0px; margin-top: 15px;">
            <div class="card" style="border: none !important;">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#cash" aria-controls="cash" role="tab" data-toggle="tab">
                    <span style=" font-weight: bolder"> Cash </span>
                  </a>
                </li>
                <li role="presentation">
                  <a href="#e-payment" aria-controls="mobile" role="tab" data-toggle="tab">
                    <span style="font-weight: bolder"> E-payment </span>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="cash">
                  <form [formGroup]="cashPaymentForm" (ngSubmit)="onSubmitCashPayment()">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="form-group">
                          <label class="control-label label-required">Amount</label>
                          <input type="text" formControlName="amount" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button class="btn btn-success pull-right">Pay</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="e-payment">
                  <form [formGroup]="ePaymentForm" (ngSubmit)="onSubmitEPayment()">
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <div class="table-responsive no-border" style="font-size: 13px">
                          <table class="table table-condensed">
                            <tbody>
                            <tr>
                              <td>
                                <div class="form-group">
                                  <label class="control-label label-required">Payer account </label>
                                  <select class="form-control" formControlName="paymentChannel" style="width: 200px">
                                    <option value="">Select paying account</option>
                                    <ng-container *ngFor="let channel of orgPaymentChannels">
                                      <option value="{{channel.channelId}}">
                                        {{ channel.channelName }}
                                      </option>
                                    </ng-container>
                                  </select>
                                </div>
                              </td>
                              <td>
                              </td>
                            </tr>
                            <tr>
                              <td>Payment channel</td>
                              <td>{{ payerAccount?.channelName }}</td>
                            </tr>
                            <tr *ngIf="payerAccount?.bankName">
                              <td>Payment bank account</td>
                              <td>{{ payerAccount?.bankName }}</td>
                            </tr>
                            <tr>
                              <td>Payer account</td>
                              <td>{{ payerAccount?.subscriptionNumber }}</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                          <label class="control-label label-required">Amount</label>&nbsp;&nbsp;
                          <input type="text" formControlName="amount" class="form-control">
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                          <label class="control-label label-required">Farmer account</label>&nbsp;&nbsp;
                          <select class="form-control" formControlName="receivingChannel">
                            <option value="">Select account</option>
                            <ng-container *ngFor="let channel of farmerPaymentChannels">
                              <option value="{{channel.paymentChannel}}">
                                {{ channel.subscriptionCode  }} &nbsp;-&nbsp; {{ channel.label }}
                              </option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button class="btn btn-success pull-right">Pay</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
