table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  min-width: 250px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
  content: '-';
  background-color: white;
  color: #333333;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  color: #333333 !important;
  background-color: white;
}

.details-row-title {
  font-size: 12px !important;
  font-weight: bolder;
}

.details-row-data {
  font-size: 12px !important;
}
