<h3>
  Organisations
  <a class="btn btn-success pull-right" routerLink="/admin/organisations/create"><i class="fa fa-plus"></i> New organisation</a>
</h3>
<app-list-message [message]="message"></app-list-message>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <table class="table table-bordered table-striped" id="organisations">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let organisation of organisations">
            <td> {{ organisation.organizationName }}</td>
            <td> {{ organisation.email }}</td>
            <td> {{ organisation.phone_number }}</td>
            <td class="actions no-wrap text-right">
              <a routerLink="/admin/organisations/{{organisation._id}}/users" class="btn btn-info"><i class="fa fa-users"></i>Users</a>
              <!-- <button class="btn btn-danger btn-margin" (click)="deleteOrganisation(organisation)"> Delete</button> -->
              <a class="btn btn-success btn-margin" [routerLink]="['edit/', organisation._id]"  style="margin-left: 10px;"> Edit</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
