<h3>
  Farmers Groups
  <a class="btn btn-success" style="float: right" routerLink="/admin/farmers/group/create" *appHasPermission="[1]"><i
      class="fa fa-plus"></i> Add a farmers group
  </a>
</h3>

<app-spinner [loading]="pageLoading"></app-spinner>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4">
        <div class="stats-box">
          <div class="row">
            <div class="col-xs-8">
              <div class="stats-box-text-header">Farmers Groups</div>
            </div>
            <div class="col-xs-2"></div>
          </div>
          <div class="stats-box-text-item">{{ groups.length }}</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="stats-box">
          <div class="row">
            <div class="col-xs-8">
              <div class="stats-box-text-header">Group Members</div>
            </div>
            <div class="col-xs-2"></div>
          </div>
          <div class="stats-box-text-item">{{ groupMembersTotal }}</div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="stats-box">
          <div class="row">
            <div class="col-xs-8">
              <div class="stats-box-text-header">Inactive Groups</div>
            </div>
            <div class="col-xs-2"></div>
          </div>
          <div class="stats-box-text-item">0</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <app-list-message [message]="message"></app-list-message>
    <app-list-errors [errorList]="errors"></app-list-errors>
  </div>
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <app-loader *ngIf="loading"></app-loader>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
          <thead>
            <tr>
              <th>Group name</th>
              <th>leader names & contact</th>
              <th>Province</th>
              <th>District</th>
              <th>Sector</th>
              <th>Cell</th>
              <th>Village</th>
              <th>Group size</th>
              <th>Meeting Day/Week</th>
              <th>
                Training <br />
                attendance rate
              </th>
              <th>status</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let group of groups">
              <tr>
                <td>{{ group.groupName }}</td>
                <td>{{ group.leaderNames }} > {{ group.leaderPhoneNumber }}</td>
                <td>
                  {{ group.location.prov_id?.namek | titlecase }}
                </td>
                <td>{{ group.location.dist_id?.name }}</td>
                <td>{{ group.location.sect_id?.name }}</td>
                <td>{{ group.location.cell_id?.name }}</td>
                <td>{{ group.location.village_id?.name }}</td>
                <td>
                  <span>{{ group.members.length + " " + "farmers" }}</span>
                </td>
                <td>{{ weekDays[group.meetingSchedule?.meetingDay - 1] }}</td>
                <td>{{ group?.attendanceRate }}</td>
                <td class="text-center">
                  <span class="profile-text">
                    <ng-container *ngIf="!group.active; else inactive"><span style="color: green; font-weight: bold">active</span>
                    </ng-container>
                    <ng-template #inactive><span style="color: #b21717; font-weight: bold">inactive</span></ng-template>
                  </span>
                </td>
                <td class="actions no-wrap text-right">
                  <button appRequiredSeason class="btn btn-action-no-border btn-margin details-button"
                    (click)="openViewModal(group._id)">
                    <em class="fa fa-eye"></em>
                  </button>
                  <button (click)="openDelete(group)" *appHasPermission="[1]" class="btn btn-action-no-border btn-margin">
                    <em class="fa fa-trash"></em>
                  </button>
                  <button class="btn btn-action-no-border btn-margin" *appHasPermission="[1]"
                    [routerLink]="['/admin/farmers/group/edit', group._id]" style="margin-left: 10px">
                    <em class="fa fa-pencil"></em>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
