<div class="row">
  <div class="col-xs-12">
    <h3>
      <a
        *appHasPermission="[0, [8, 2], 6, [1, 1]]"
        class="btn btn-success btn-margin pull-right"
        routerLink="/admin/farmers/create"
      ><i class="fa fa-plus"></i> New Farmer
      </a>
      <button
        class="btn btn-success pull-right btn-margin"
        type="button"
        (click)="exportAsXLSX()"
        [disabled]="downloadingAll"
      >
        <span *ngIf="downloadingAll"> Downloading... <br/> </span
        ><i class="fa fa-download" *ngIf="!downloadingAll"></i> Export all
        farmers
      </button>
      <div *appHasPermission="[0, [8, 1], [1, 1]]">
        <ng-container *ngIf="showSetPinButton; else loadingSetPinStatus">
          <a
            class="btn btn-warning btn-margin pull-right"
            *ngIf="resetPin"
            (click)="enableResetPin(false)"
          ><i class="fa fa-check"></i>&nbsp; Disable Farmers Pin Reset
          </a>
          <a
            class="btn btn-success btn-margin pull-right"
            *ngIf="!resetPin"
            (click)="enableResetPin(true)"
          ><i class="fa fa-check"></i>&nbsp; Enable Farmers Pin Reset
          </a>
        </ng-container>
        <ng-template #loadingSetPinStatus>
          <app-downloading class="pull-right"></app-downloading>
        </ng-template>
      </div>
    </h3>
  </div>
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <ng-container *ngIf="site">
          <strong><em class="fa fa-tree margin-r-5"></em> Distribution Site</strong
          >
          <p class="text-muted">
            {{ site.siteName | uppercase }}
          </p>
        </ng-container>
        <h3 class="box-title">
          {{ org ? org.organizationName : "" }} >> farmers
        </h3>
        <div class="box-tools pull-right">
          <button
            type="button"
            class="btn btn-box-tool"
            data-target="#box-body"
            data-toggle="collapse"
          >
            <em class="fa fa-expand"></em>
          </button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body collapse" id="box-body">
        <div class="row">
          <div class="col-sm-2 col-xs-6">
            <p class="text-left">
              <strong
              >SEASON:
                <span class="text-light-blue">
                  {{ currentSeason.season }}
                </span></strong
              >
            </p>
          </div>
          <!-- /.col -->
          <div class="col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-6">Organisation</div>
                  <div class="col-sm-6">
                    <strong>{{ org?.organizationName }}</strong
                    ><br/>
                  </div>
                  <div class="col-sm-6">Email</div>
                  <div class="col-sm-6">
                    <strong>{{ org?.email }}</strong
                    ><br/>
                  </div>
                  <div class="col-sm-6">Telephone</div>
                  <div class="col-sm-6">{{ org?.phone_number }}<br/></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">Location</div>
              <div class="col-sm-12">
                <span class="details-row-title-sm" style="margin-left: 0px"
                >Province
                </span>
                :
                <span
                  class="details-row-data-sm"
                  *ngIf="org?.location.prov_id"
                >{{ org?.location.prov_id.namek }}</span
                >
                <span class="details-row-title-sm">District </span> :
                <span
                  class="details-row-data-sm"
                  *ngIf="org?.location.dist_id"
                >{{ org?.location.dist_id.name }}</span
                >
                <span class="details-row-title-sm">Sector </span> :
                <span
                  class="details-row-data-sm"
                  *ngIf="org?.location.sect_id"
                >{{ org?.location.sect_id.name }}</span
                >
                <span class="details-row-title-sm">Cell </span> :
                <span
                  class="details-row-data-sm"
                  *ngIf="org?.location.cell_id"
                >{{ org?.location.cell_id.name }}</span
                >
                <span class="details-row-title-sm">Village </span> :
                <span
                  class="details-row-data-sm"
                  *ngIf="org?.location.village_id"
                >{{ org?.location.village_id.name }}</span
                >
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <p>Covered sectors</p>
            <div *ngFor="let area of orgCoveredArea">
              <span class="details-row-title-sm" style="margin-left: 0px">
                {{ area?.name }}</span
              >
              <p *ngFor="let cell of area?.covCells" style="margin-left: 20px">
                <span class="details-row-title-sm">{{ cell?.name }} : </span>
                <span
                  *ngFor="let village of cell?.covVillages"
                  class="details-row-data-sm"
                >
                  {{ village?.name }},
                </span>
              </p>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- ./box-body -->
      <div class="box-footer">
        <div class="row">
          <div class="col-sm-2 col-xs-4 top-col-statistics">
            <div class="description-block border-right">
              <h5 class="description-header text-green">
                {{ cwsSummary.totalNumberOfTrees | number }}
              </h5>
              <span class="description-text">TREES</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-2 col-xs-4 top-col-statistics">
            <div class="description-block border-right">
              <h5 class="description-header text-blue">
                {{ cwsSummary.uniqueFarmersCount | number }}
              </h5>
              <span class="description-text">FARMERS</span>
            </div>
            <!-- /.description-block -->
          </div>
          <div class="col-sm-2 col-xs-4 top-col-statistics">
            <div class="description-block border-right">
              <h5 class="description-header text-red">
                {{ cwsSummary.totalCherries | number }} &#13199;
              </h5>
              <span class="description-text">RECEIVED CHERRIES</span>
              <br/>
              <a routerLink="/admin/cws-suppliers/{{ org?._id }}">
                <i class="fa fa-users"></i>
                <span>&nbsp;Suppliers</span>
              </a>
            </div>
            <!-- /.description-block -->
          </div>
          <div class="col-sm-2 col-xs-4 top-col-statistics">
            <div class="description-block border-right">
              <h5 class="description-header text-light-blue">
                {{ cwsSummary.totalParchments | number }} &#13199;
              </h5>
              <span class="description-text">PRODUCED PARCHMENTS</span>
            </div>
            <!-- /.description-block -->
          </div>
          <div class="col-sm-2 col-xs-4 top-col-statistics">
            <div class="description-block border-right">
              <ng-container
                *ngIf="
                  cwsSummary.totalParchments && cwsSummary.expectedParchments;
                  else completionZero
                "
              >
                <i class="fa fa-caret-up"></i>&nbsp;
                <span class="description-percentage text-green"
                >{{
                  (cwsSummary.totalParchments /
                    cwsSummary.expectedParchments) *
                  100 | number: "1.0-1"
                  }}
                  % &nbsp; Completion</span
                >
              </ng-container>
              <ng-template #completionZero>
                <span class="description-percentage text-green">
                  <i class="fa fa-caret-up"></i>&nbsp; 0% Completion
                </span>
              </ng-template>
              <h5 class="description-header text-yellow">
                {{ cwsSummary.expectedParchments | number }} &#13199;
              </h5>
              <span class="description-text">EXPECTED PARCHMENTS</span>
            </div>
            <!-- /.description-block -->
          </div>
          <div class="col-sm-2 col-xs-4 top-col-statistics">
            <div class="description-block">
              <button
                class="btn btn-link"
                (click)="showProduction()"
                style="text-decoration: none"
              >
                Production in Details <i class="fa fa-window-maximize"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
  <div class="col-xs-12">
    <div class="col-sm-12 text-center">
      <h3><b>Filter or Search Farmers</b></h3>
    </div>
    <div class="background-search">
      <form [formGroup]="filterForm">
        <div class="row">
          <div formGroupName="searchByLocation">
            <div class="col-xs-2">
              <div class="form-group">
                <div class="">
                  <select class="form-control" formControlName="searchBy">
                    <option value="farmer_location">
                      Search by farmer location
                    </option>
                    <option value="farm_location">
                      Search by farm location
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <div class="">
                  <select
                    class="form-control"
                    formControlName="prov_id"
                  >
                    <option value="" selected="selected">All provinces</option>
                    <option
                      *ngFor="let province of provinces"
                      value="{{ province._id }}"
                    >
                      {{ province.namee | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <div class="">
                  <select
                    class="form-control"
                    formControlName="dist_id"
                  >
                    <option value=""></option>
                    <option
                      *ngFor="let district of districts"
                      value="{{ district._id }}"
                    >
                      {{ district.name | titlecase }}
                    </option>
                  </select>
                  <ng-template #enabled>
                    <select class="form-control" formControlName="dist_id">
                      <option value=""></option>
                      <option
                        *ngFor="let district of districts"
                        value="{{ district._id }}"
                      >
                        {{ district.name | titlecase }}
                      </option>
                    </select>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <div class="">
                  <select class="form-control" formControlName="sect_id">
                    <option value=""></option>
                    <option
                      *ngFor="let sector of sectors"
                      value="{{ sector._id }}"
                    >
                      {{ sector.name | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <div class="">
                  <select class="form-control" formControlName="cell_id">
                    <option value=""></option>
                    <option *ngFor="let cell of cells" value="{{ cell._id }}">
                      {{ cell.name | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <div class="">
                  <select class="form-control" formControlName="village_id">
                    <option value=""></option>
                    <option
                      *ngFor="let village of villages"
                      value="{{ village._id }}"
                    >
                      {{ village.name | titlecase }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-sm-12 text-center">
        <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
          <div formGroupName="searchByTerm">
            <div class="form-inline">
              <select
                class="form-control"
                formControlName="searchBy"
                style="margin-right: 10px"
              >
                <option
                  *ngFor="let field of searchFields"
                  value="{{ field.value }}"
                >
                  {{ field.name }}
                </option>
              </select>
              <input
                type="text"
                formControlName="term"
                class="form-control"
                placeholder="search.."
              />
              <!-- <button
            class="btn btn-warning pull-right btn-margin"
            type="button"
            (click)="onClearFilter()"
          >
            Clear
          </button> -->
            </div>
          </div>
          <br/>
          <button class="btn btn-action text-center" type="submit">
            <i class="fa fa-search"></i> Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-list-message [message]="message"></app-list-message>
<div class="row">
  <!-- /.col -->
</div>
<app-list-errors [errorList]="errors"></app-list-errors>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <app-loader *ngIf="loading"></app-loader>
        <table class="row-border hover table table-striped" aria-describedby="">
          <thead>
          <tr>
            <th>Date Added</th>
            <th (click)="setOrder('userInfo.foreName')">
              Farmer Name <em class="fa fa-sort sorting"></em>
            </th>
            <th (click)="setOrder('userInfo.surname')">
              ID Number <em class="fa fa-sort sorting"></em>
            </th>
            <th (click)="setOrder('userInfo.NID')">
              Phone Number <em class="fa fa-sort sorting"></em>
            </th>
            <th (click)="setOrder('userInfo.phone_number')">
              Reg Number <em class="fa fa-sort sorting"></em>
            </th>
            <th (click)="setOrder('userInfo.regNumber')">
              Location Address <em class="fa fa-sort sorting"></em>
            </th>
            <th (click)="setOrder('userInfo.regNumber')">
              Farmer Group <em class="fa fa-sort sorting"></em>
            </th>
            <th (click)="setOrder('userInfo.regNumber')">
              Lands <em class="fa fa-sort sorting"></em>
            </th>
            <th>Status</th>
            <th class="text-center">Actions</th>
          </tr>
          </thead>
          <tbody *ngIf="showData">
          <tr
            *ngFor="
                let farmer of farmers
                  | orderBy: order:reverse:'case-insensitive'
                  | paginate: config
              "
          >
            <td></td>
            <td *ngIf="farmer.userInfo.type === 2; else foreName">
              {{ farmer.userInfo.groupName }}
            </td>
            <ng-template #foreName>
              <td>
                {{ farmer.userInfo.foreName }} {{ farmer.userInfo.surname }}
              </td>
            </ng-template>
            <td>{{ farmer.userInfo.NID }}</td>
            <td>{{ farmer.userInfo.phone_number }}</td>
            <td>{{ farmer.userInfo.regNumber | uppercase }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
               <span class="profile-text">
           <ng-container *ngIf="farmer?.userInfo.active!== 0, else inactive"><span
             style="color: green; font-weight: bold">active</span>
            </ng-container>
            <ng-template #inactive><span style="color: #b21717; font-weight: bold">inactive</span></ng-template>
        </span>
            </td>
            <td class="text-center">
              <button
                appRequiredSeason
                class="btn btn-action-no-border btn-margin details-button"
                *appHasPermission="[[4, 1], 0, [8, 1], [1, 1], [1, 14]]"
                routerLink="/admin/farmers/edit/{{ farmer.request._id }}"
              >
                <em class="fa fa-pencil"></em>
              </button>
              <button
                appRequiredSeasonCherry
                routerLink="/admin/cherries/supply/select/{{
                    farmer.userInfo._id
                  }}/{{ farmer.userInfo.regNumber }}"
                class="btn btn-action-no-border btn-margin"
                *appHasPermission="[[1, 1], [1, 14]]"
              >
                <em class="fa fa-cart-plus"></em> Supply
              </button>
              <button
                *ngIf="hasRequest(farmer)"
                class="btn btn-action-no-border btn-margin btn-sm details-button"
                (click)="viewDetails(farmer)"
              >
                <em class="fa fa-eye"></em>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div
          style="width: 100%; border-top: 1px solid #0a0a0a"
          *ngIf="showData"
        >
          <div style="clear: both; float: left; padding-top: 0.755em">
            Showing {{ (config.currentPage - 1) * config.itemsPerPage + 1 }} to
            {{
            config.currentPage * config.itemsPerPage > config.totalItems
              ? config.totalItems
              : config.currentPage * config.itemsPerPage
            }}
            of {{ config.totalItems }} entries
          </div>
          <pagination-controls
            class="custom-pagination"
            [maxSize]="maxSize"
            [directionLinks]="directionLinks"
            [autoHide]="autoHide"
            [responsive]="responsive"
            [previousLabel]="labels.previousLabel"
            [nextLabel]="labels.nextLabel"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
            (pageChange)="onPageChange($event)"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
