.background-search {
  min-height: 210px;
  padding: 2%;
}

.btn-action {
  width: 200px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.box-footer {
  background-color: transparent;
}
