<h3>
  Coffee types
  <a class="btn btn-success pull-right" routerLink="/admin/coffee-type/create"><i class="fa fa-plus"></i> New coffee type</a>
</h3>
<app-list-message [message]="message"></app-list-message>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <table class="hover table table-striped">
          <thead>
          <tr>
            <th>Category</th>
            <th>Level</th>
          </tr>
          </thead>
          <tbody style="border-width: 1px">
          <ng-container *ngFor="let type of coffeeTypes">
            <tr *ngFor="let category of type.category">
              <td> {{ category.name }}</td>
              <td> {{ type.level }}</td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
