<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <section class="invoice">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-user"></i> Farmer profile
        </h2>
      </div>
    </div>
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        <div class="row">
          <div class="col-sm-6">
            First name
          </div>
          <div class="col-sm-6">
            <strong>{{ farmer.userInfo.foreName }}</strong><br>
          </div>
          <div class="col-sm-6">
            Last name
          </div>
          <div class="col-sm-6">
            {{ farmer.userInfo.surname }}<br>
          </div>
          <div class="col-sm-6">
            NID
          </div>
          <div class="col-sm-6">
            {{ farmer.userInfo.NID }}<br>
          </div>
          <div class="col-sm-6">
            REG number
          </div>
          <div class="col-sm-6">
            {{ farmer.userInfo.regNumber }}<br>
          </div>
        </div>
      </div>
    </div>
    <br/> <br/>
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Season</th>
            <th>Location</th>
            <th>Number of trees</th>
            <th>Fertilizer needed</th>
            <th>Fertilizer allocated</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let request of requests;">
            <td>{{farmer.request.season}}</td>
            <td>
                 <span *ngIf="request.location.prov_id">{{ request.location.prov_id.namek }}</span>
              /  <span *ngIf="request.location.dist_id">{{ request.location.dist_id.name }}</span>
              /  <span *ngIf="request.location.sect_id">{{ request.location.sect_id.name }}</span>
              /  <span *ngIf="request.location.cell_id">{{ request.location.cell_id.name }}</span>
              /  <span *ngIf="request.location.village_id">{{ request.location.village_id.name }}</span>
            </td>
            <td>{{ request.numberOfTrees }}</td>
            <td>{{ request.fertilizer_need }} Kg</td>
            <td>{{ request.fertilizer_allocate }} Kg</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

