<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title training-modal-title text-center" id="modal-basic-title">
      Verify and Confirm
    </h4>
  </div>
  <div class="modal-body">
    <div class="box">
      <div class="box-body box-confirm">
        <div class="row">
          <div class="col-xs-12">
            <div style="margin-bottom: 10px">
              <label class="control-label label-required">Farm to visit</label>
              <div class="confirm-text-box confirm-text">
                <li *ngFor="let farms of selectedFarms; let i = index">
                  {{
                  farms?.farmer +
                  " -- Location " +
                  farms?.location?.dist_id?.name +
                  " > " +
                  farms?.location?.sect_id?.name +
                  " > " +
                  farms?.location?.cell_id?.name + " -- UPI " + farms?.upiNumber
                  }}
                </li>
              </div>
            </div>
            <div style="margin-bottom: 10px">
              <label class="control-label label-required">GAP to be covered during the visit</label>
              <div class="confirm-text-box confirm-text">
                <li *ngFor="
                    let gaps of scheduleVisit?.value?.adoptionGap;
                    let i = index
                  ">
                  {{ gaps?.gap_name }}
                </li>
              </div>
            </div>
            <div style="margin-bottom: 10px">
              <label class="control-label label-required">Agronomist who will visit</label>
              <div class="confirm-text-box confirm-text" *ngFor="let agro of agronomist; let i = index">
                <span *ngIf="agro._id == scheduleVisit.value.agronomist">
                  {{ agro?.fullNames }}
                </span>
              </div>
            </div>
            <div style="margin-bottom: 10px">
              <label class="control-label label-required">Date and Time of the visit</label>
              <div class="confirm-text-box confirm-text">
                {{ formatedStartDate + " to " + formatedEndDate }}
              </div>
            </div>
            <div style="margin-bottom: 10px">
              <label class="control-label label-required">Visit Description</label>
              <div class="confirm-text-box confirm-text">
                {{ scheduleVisit?.value?.description }} <br /><br /><br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-sm-3">
        <button type="button" class="btn btn-danger btn-lg pull-left" (click)="modal.dismiss()">
          Cancel
        </button>
      </div>
      <div class="col-sm-6"></div>
      <div class="col-sm-3">
        <button class="btn btn-secondary btn-lg submit" (click)="modal.dismiss(); onSubmit()" [disabled]="loading">
          <span *ngIf="!loading; else other_content">Confirm</span>
          <ng-template #other_content>
            <div class="loader">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="scheduleVisit">
  <div class="box">
    <div class="row">
      <br />
      <div class="col-sm-10 col-centered">
        <div class="form-group">
          <label class="control-label label-required">{{ "select_group" | translate }}
          </label>
          <select class="form-control" formControlName="farmerGroup">
            <option value="" disabled selected>
              {{ "select_group" | translate }}
            </option>
            <option *ngFor="let group of farmerGroups" value="{{ group.groupName }}">
              {{ group.groupName | titlecase }}
            </option>
          </select>
          <app-inline-errors *ngIf="
              scheduleVisit.controls.farmerGroup.invalid &&
              (scheduleVisit.controls.farmerGroup.dirty ||
                scheduleVisit.controls.farmerGroup.touched)
            " [errors]="scheduleVisit.controls.farmerGroup.errors" [label]="'farmer_group'">
          </app-inline-errors>
          <span style="font: normal 10px Helvetica Neue, Helvetica, Arial, sans-serif; color: #ff2c2c" *ngIf="
              scheduleVisit.value.farmerGroup != '' && farmers?.length <= 0
            ">
            group has no farmers</span>
        </div>
      </div>
      <span *ngIf="scheduleVisit.value.farmerGroup != '' && farmers?.length > 0">
        <div class="col-sm-10 col-centered">
          <div class="box" style="overflow: auto">
            <div class="box-body table-responsive no-border" style="font-size: 1.2rem">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="hover table table-responsive-lg table-striped" config>
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" (click)="selectAllFarmer($event.target.checked)" [(ngModel)]="allSelected"
                        [ngModelOptions]="{ standalone: true }">
                    </th>
                    <th>Full name</th>
                    <th class="all"></th>
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let member of farmers; let i = index">
                    <tr>
                      <td>
                        <div style="text-align: center;">
                          <input type="checkbox" (click)="selectFarmer($event.target.checked, i)"
                            [(ngModel)]="farmers[i].farmSelected" [ngModelOptions]="{ standalone: true }">
                        </div>
                      </td>
                      <td> {{member.farmer}} </td>
                      <td>
                        <table style="background: transparent; width: auto" class="pull-left">
                          <ng-container>
                            <tr style="font-size: 12px; background: transparent; font-weight: bold">
                              <td></td>
                              <td style="padding-left: 20px">UPI Number Or Location</td>
                              <td style="padding-left: 40px">Total Trees</td>
                              <td style="padding-left: 40px">0-3</td>
                              <td style="padding-left: 40px">4-10</td>
                              <td style="padding-left: 40px">11-15</td>
                              <td style="padding-left: 40px">16-20</td>
                              <td style="padding-left: 40px">21-26</td>
                              <td style="padding-left: 40px">31+ </td>
                            </tr>
                            <tr style="font-size: 12px; background: transparent"
                              *ngFor="let farmerFarm of member.farms, let d = index">
                              <td class="all">
                                <div style="text-align: center;">
                                  <input type="checkbox" (click)="selectFarms($event.target.checked, i, d)"
                                    [(ngModel)]="farmers[i].farms[d].selected" [ngModelOptions]="{ standalone: true }">
                                </div>
                              </td>
                              <td style="padding-left: 20px"> {{
                                farmerFarm.upi
                                  ? farmerFarm.upi
                                  : farmerFarm?.location?.dist_id?.name +
                                  " > " +
                                  farmerFarm?.location?.sect_id?.name +
                                  " > " +
                                  farmerFarm?.location?.cell_id?.name
                                }}
                              </td>
                              <td style="padding-left: 40px" class="text-center"> {{ farmerFarm?.trees }} </td>
                              <td style="padding-left: 40px" class="text-center">
                                {{
                                farmerFarm.farm.treeAges[0]
                                  ? farmerFarm.farm.treeAges[0].numOfTrees
                                  : 0
                                }}
                              </td>
                              <td style="padding-left: 40px" class="text-center">
                                {{
                                farmerFarm.farm.treeAges[1]
                                  ? farmerFarm.farm.treeAges[1].numOfTrees
                                  : 0
                                }}
                              </td>
                              <td style="padding-left: 40px" class="text-center">
                                {{
                                farmerFarm.farm.treeAges[2]
                                  ? farmerFarm.farm.treeAges[2].numOfTrees
                                  : 0
                                }}
                              </td>
                              <td style="padding-left: 40px" class="text-center">
                                {{
                                farmerFarm.farm.treeAges[3]
                                  ? farmerFarm.farm.treeAges[3].numOfTrees
                                  : 0
                                }}
                              </td>
                              <td style="padding-left: 40px" class="text-center">
                                {{
                                farmerFarm.farm.treeAges[4]
                                  ? farmerFarm.farm.treeAges[4].numOfTrees
                                  : 0
                                }}
                              </td>
                              <td style="padding-left: 40px" class="text-center">
                                {{
                                farmerFarm.farm.treeAges[5]
                                  ? farmerFarm.farm.treeAges[5].numOfTrees
                                  : 0
                                }}
                              </td>
                            </tr>
                          </ng-container>
                        </table>
                      </td>
                    </tr>
                  </ng-container>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-centered">
          <div class="form-group">
            <label class="control-label label-required">
              {{ "select_gap_to_cover" | translate }}</label>
            <ng-multiselect-dropdown formControlName="adoptionGap" [placeholder]="'select gap'"
              [settings]="gapDropdownSettings" [data]="gaps" [(ngModel)]="scheduleVisit.value.adoptionGap"
              (onSelect)="onGapSelect($event)" (onSelectAll)="onGapSelectAll($event)" required>
            </ng-multiselect-dropdown>
            <app-inline-errors *ngIf="
                scheduleVisit.controls.adoptionGap.invalid &&
                (scheduleVisit.controls.adoptionGap.dirty ||
                  scheduleVisit.controls.adoptionGap.touched)
              " [errors]="scheduleVisit.controls.adoptionGap.errors" [label]="'adoption_gap'">
            </app-inline-errors>
          </div>
        </div>
        <div class="col-sm-10 col-centered">
          <div class="form-group">
            <label class="control-label label-required">
              {{ "select_agronomist_to_visit" | translate }}</label>
            <select class="form-control" formControlName="agronomist">
              <option value="" selected>
                {{ "select_agronomist" | translate }}
              </option>
              <option *ngFor="let agro of agronomist; let i = index" value="{{ agro._id }}">
                {{ agro.fullNames | titlecase }}
              </option>
            </select>
            <app-inline-errors *ngIf="
                scheduleVisit.controls.agronomist.invalid &&
                (scheduleVisit.controls.agronomist.dirty ||
                  scheduleVisit.controls.agronomist.touched)
              " [errors]="scheduleVisit.controls.agronomist.errors" [label]="'agronomist'">
            </app-inline-errors>
          </div>
        </div>
        <div class="col-sm-10 col-centered">
          <p style="font-weight: bold">{{ "date_time_visit" | translate }}</p>
          <br />
          <div class="col-sm-10 col-centered" formGroupName="date">
            <div class="form-group">
              <label class="control-label label-required">{{
                "select_date" | translate
                }}</label>
              <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [min]="newDate" formControlName="visitDate"
                class="form-control" placeholder="Dd/mm/yyyy" />
              <owl-date-time [pickerType]="'calendar'" [scrollStrategy]="scrollStrategy" #dt1></owl-date-time>
              <app-inline-errors *ngIf="
                  scheduleVisit.controls.date.get('visitDate').invalid &&
                  (scheduleVisit.controls.date.get('visitDate').dirty ||
                    scheduleVisit.controls.date.get('visitDate').touched)
                " [errors]="scheduleVisit.controls.date.get('visitDate').errors" [label]="'visit date'">
              </app-inline-errors>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-centered">
          <div class="row text-center" style="padding-left: 10%; padding-right: 10%">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label label-required">{{
                  "start_time" | translate
                  }}</label>
                <input [owlDateTimeTrigger]="dt3" class="form-control" formControlName="startTime"
                  [owlDateTime]="dt3" />
                <owl-date-time [pickerType]="'timer'" [scrollStrategy]="scrollStrategy" #dt3></owl-date-time>
                <app-inline-errors *ngIf="
                    scheduleVisit.controls.startTime.invalid &&
                    (scheduleVisit.controls.startTime.dirty ||
                      scheduleVisit.controls.startTime.touched)
                  " [errors]="scheduleVisit.controls.startTime.errors" [label]="'start time'">
                </app-inline-errors>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label label-required">{{
                  "end_time" | translate
                  }}</label>
                <input [owlDateTimeTrigger]="dt4" class="form-control" [min]="startTime" formControlName="endTime"
                  [owlDateTime]="dt4" />
                <owl-date-time [pickerType]="'timer'" [scrollStrategy]="scrollStrategy" #dt4></owl-date-time>
                <span style="font: normal 10px Helvetica Neue, Helvetica, Arial, sans-serif; color: red" *ngIf="
                    scheduleVisit.controls.startTime.value >=
                    scheduleVisit.controls.endTime.value
                  ">
                  End Time can not be less the Start Time
                </span>
                <app-inline-errors *ngIf="
                    scheduleVisit.controls.endTime.invalid &&
                    (scheduleVisit.controls.endTime.dirty ||
                      scheduleVisit.controls.endTime.touched)
                  " [errors]="scheduleVisit.controls.endTime.errors" [label]="'end time'">
                </app-inline-errors>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-10 col-centered">
          <div class="form-group">
            <label class="control-label label-required">{{
              "visit_description" | translate
              }}</label>
            <input type="text" formControlName="description" class="form-control" style="height: 100px" required />
            <app-inline-errors *ngIf="
                scheduleVisit.controls.description.invalid &&
                (scheduleVisit.controls.description.dirty ||
                  scheduleVisit.value.description.touched)
              " [errors]="scheduleVisit.controls.description.errors" [label]="'description'">
            </app-inline-errors>
          </div>
        </div>
      </span>
    </div>
    <br />
  </div>
</form>

<div class="row" *ngIf="scheduleVisit.value.farmerGroup != '' && farmers?.length > 0">
  <div class="col-xs-12">
    <a class="btn btn-warning btn-margin pull-right" routerLink="/admin/farm/visit/list">Cancel</a>
    <button type="button" class="btn btn-success pull-right" (click)="open(content)">
      Update
    </button>
  </div>
</div>
