<h3>
  <div class="row">
    <div class="col-sm-10">Training Management</div>
    <div class="col-sm-2">
      <a class="btn btn-success pull-right" routerLink="/admin/training/create"><i class="fa fa-plus"></i> Add a
        Training
      </a>
    </div>
  </div>
</h3>
<div class="col-sm-12">
  <app-list-message [message]="message"></app-list-message>
  <app-list-errors [errorList]="errors"></app-list-errors>
</div>

<div class="row">
  <div class="col-sm-3" style="margin-top: 5px">
    <div class="stats-box">
      <div class="row">
        <div class="col-xs-8">
          <div class="stats-box-text-header">Trainings Added</div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="stats-box-text-item">{{ trainings.length }}</div>
    </div>
  </div>
  <div class="col-sm-3" style="margin-top: 5px">
    <div class="stats-box">
      <div class="row">
        <div class="col-xs-8">
          <div class="stats-box-text-header">Total Trainees</div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="stats-box-text-item">
        {{ trainingsStats?.totalInvitees }}
      </div>
    </div>
  </div>
  <div class="col-sm-3" style="margin-top: 5px">
    <div class="stats-box">
      <div class="row">
        <div class="col-xs-10">
          <div class="stats-box-text-header">Total Attended Trainees</div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="stats-box-text-item">
            {{ trainingsStats?.totalPresent }}
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <span style="white-space: pre"> Male </span>
          {{ trainingsStats?.malePresent }}
        </div>
        <div class="col-sm-3 text-center">
          <span style="white-space: pre"> Female </span>
          {{ trainingsStats?.femalePresent }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3" style="margin-top: 5px">
    <div class="stats-box">
      <div class="row">
        <div class="col-xs-10">
          <div class="stats-box-text-header">Total Not Attended Trainees</div>
        </div>
        <div class="col-xs-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="stats-box-text-item">
            {{ trainingsStats?.totalAbsent }}
          </div>
        </div>
        <div class="col-sm-3 text-center">
          <span style="white-space: pre"> Male </span>
          {{ trainingsStats?.maleAbsent }}
        </div>
        <div class="col-sm-3 text-center">
          <span style="white-space: pre"> Female </span>
          {{ trainingsStats?.femaleAbsent }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <app-loader *ngIf="loading"></app-loader>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
          <thead>
            <tr>
              <th>Date Added</th>
              <th>Title</th>
              <th>Description</th>
              <th>Associated GAP</th>
              <th>Attachments</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let training of trainings">
              <tr>
                <td>{{ training.createdAt | date: "short" }}</td>
                <td>{{ training.trainingName }}</td>
                <td>{{ training.description }}</td>
                <td>
                  <div *ngFor="let adoption of training.adoptionGaps">
                    {{ adoption?.gap_name }}
                  </div>
                </td>
                <td>{{ training.materials.length }} files</td>
                <td>
                  {{
                    training.status == "scheduled"
                      ? "Scheduled"
                      : "Not Scheduled"
                  }}
                </td>
                <td>
                  <button appRequiredSeason class="btn btn-action-no-border btn-margin details-button"
                    (click)="openViewModal(training._id)">
                    <em class="fa fa-eye"></em>
                  </button>
                  <button appRequiredSeason (click)="openDeleteModal(training._id)"
                    class="btn btn-action-no-border btn-margin" *ngIf="training.status !== 'scheduled'">
                    <em class="fa fa-trash"></em>
                  </button>
                  <button class="btn btn-action-no-border btn-margin btn-sm details-button"
                    routerLink="/admin/training/edit/{{ training._id }}">
                    <em class="fa fa-pencil"></em>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
