<div class="modal-body">
  <h3>Visit Details</h3>
  <div class="box">
    <div class="box-body box-confirm">
      <div class="row">
        <div class="col-xs-12">
          <div style="margin-bottom: 10px">
            <label class="control-label label-required">Farm to visit</label>
            <div
              class="confirm-text-box confirm-text"
              *ngFor="let farms of visits.farms"
            >
              <span> {{ farms.upiNumber }} </span>
            </div>
          </div>
          <div style="margin-bottom: 10px">
            <label class="control-label label-required"
              >GAP to be covered during the visit</label
            >
            <div
              class="confirm-text-box confirm-text"
              *ngFor="let gaps of visits.gaps"
            >
              {{ gaps }}
            </div>
          </div>
          <div style="margin-bottom: 10px">
            <label class="control-label label-required"
              >Agronomist who will visit</label
            >
            <div class="confirm-text-box confirm-text">
              {{ visits.visitor }}
            </div>
          </div>
          <div style="margin-bottom: 10px">
            <label class="control-label label-required"
              >Date and Time of the visit</label
            >
            <div class="confirm-text-box confirm-text">
              From :
              {{
                visits.expectedDuration ? visits.expectedDuration.from : ""
              }}
              <br /> To :
              {{ visits.expectedDuration ? visits.expectedDuration.to : "" }}
            </div>
          </div>
          <div style="margin-bottom: 10px">
            <label class="control-label label-required"
              >Visit Description</label
            >
            <div class="confirm-text-box confirm-text">
              {{ visits.description }} <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Observation Details</h3>
</div>
