<h3>
  {{org.organizationName}}  >>  Users
  <a class="btn btn-success pull-right" routerLink="/admin/organisations/{{organisationId}}/users/create"><i class="fa fa-plus"></i> New user</a>
</h3>
<app-list-message [message]="message"></app-list-message>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
        <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Reg number</th>
            <th>NID</th>
            <th>Gender</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <td> {{ user.foreName }}</td>
            <td> {{ user.surname }}</td>
            <td> {{ user.email }}</td>
            <td> {{ user.phone_number }}</td>
            <td> {{ user.regNumber }}</td>
            <td> {{ user.NID }}</td>
            <td> {{ user.sex }}</td>
            <td class="actions no-wrap text-right">
                <a class="btn btn-success btn-sm btn-margin" routerLink="/admin/organisations/{{organisationId}}/users/edit/{{user._id}}" style="margin-left: 10px;">
                Edit</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
