<div class="home">
  <app-home-header></app-home-header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo">
          <div class="text">
            <span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="login-box">
          <div class="login-box-body">
            <app-list-errors [errorList]="errors"></app-list-errors>
            <app-list-message [message]="message"></app-list-message>
            <app-list-warnings [warning]="warning"></app-list-warnings>
            <p class="login-box-msg">Reset password</p>
            <form [formGroup]="requestResetForm" (ngSubmit)="onSubmit()">
              <div class="form-group has-feedback">
                <input type="text" formControlName="email" class="form-control" placeholder="email"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                  <button class="btn btn-primary btn-block btn-flat action-button" type="submit">Submit
                  </button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <p class="login-box-link">
              <a routerLink="/login">Sign in</a><br>
            </p>
          </div>
          <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- .container -->
  <app-home-footer></app-home-footer>
</div>
<!-- /.home -->
