<form [formGroup]="createTraining" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label label-required">Training Name</label>
              <input
                type="text"
                formControlName="trainingName"
                class="form-control"
                [ngClass]="{
                  'has-error':
                    trainingName.invalid &&
                    (trainingName.dirty || trainingName.touched)
                }"
              />
              <div
                *ngIf="
                  trainingName.invalid &&
                  (trainingName.dirty || trainingName.touched)
                "
                class="alert"
              >
                <div *ngIf="trainingName.errors['required']" style="color: red">
                  *Training Name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label label-required"
                >Training Description</label
              >
              <input
                type="text"
                formControlName="description"
                class="form-control"
                [ngClass]="{
                  'has-error':
                    description.invalid &&
                    (description.dirty || description.touched)
                }"
              />
              <div
                *ngIf="
                  description.invalid &&
                  (description.dirty || description.touched)
                "
                class="alert"
              >
                <div *ngIf="description.errors['required']" style="color: red">
                  *Description is required.
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label label-required">Associated GAP</label>

              <ng-multiselect-dropdown
                formControlName="adoptionGap"
                [settings]="gapDropdownSettings"
                [data]="gaps"
                [(ngModel)]="createTraining.value.adoptionGap"
                (onSelect)="onGapSelect($event)"
              >
              </ng-multiselect-dropdown>

              <div
                *ngIf="
                  adoptionGap.invalid &&
                  (adoptionGap.dirty || adoptionGap.touched)
                "
                class="alert"
              >
                <div *ngIf="adoptionGap.errors['required']" style="color: red">
                  *Associated Gap is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label label-required">Status</label>
              <select class="form-control" formControlName="status">
                <option value="" disabled >select status</option>
                <option value="active" selected>Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label label-required">Attach files</label>
              <label for="file-input" class="training-file-input">
                <img
                  src="assets/dist/img/sks/ico_export.svg"
                  class="training-file-input-icon"
                />
                <div class="training-file-input-text">
                  Click or Drag PDF File to this area to upload
                </div>
              </label>
              <input
                id="file-input"
                type="file"
                multiple
                class="form-control"
                style="display: none"
                (change)="onFileSelected($event)"
                accept="application/pdf"
              />
              <div class="training-file-list">
                Attached file(s) to upload <br /><br />
                <div
                  *ngFor="let file of files; let i = index"
                  style="padding-bottom: 6px"
                >
                  <span style="width: 75%; float: left">
                    <img
                      src="assets/dist/img/sks/ico_attach.svg"
                      style="margin-right: 5px"
                    />
                    {{ file.name }}
                  </span>
                  <span style="margin-left: 40px; width: 12%; float: left">
                    {{ file.size }}
                  </span>
                  <i
                    class="fa fa-times"
                    aria-hidden="true"
                    (click)="removeSelectedFile(index)"
                    style="color: red"
                  ></i>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button
      type="button"
      class="btn btn-success"
      style="width: 250px; height: 50px; margin-right: 10px"
      routerLink="/admin/training/list"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="onFileUpload()"
      style="width: 250px; height: 50px"
    >
      Add Training
    </button>
  </div>
</form>
