<h3>
  {{ title }}
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="inputFile">File input</label>
                <input type="file" name="farmersFile" id="inputFile">
                <p class="help-block">Example</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" href="admin/farmers">Cancel</a>
      <button class="btn btn-success pull-right">Update</button>
    </div>
  </div>
</form>
