<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <app-list-errors [errorList]="errors" *ngIf="errors"></app-list-errors>
  <app-list-message [message]="message"></app-list-message>
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-6">
          <br>
          REG number
        </div>
        <div class="col-sm-6">
          <br>
          <span style="font-weight: bold;">{{ regNumber }}</span><br>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="distributionForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <ng-container *ngIf="distributionForm.get('pesticides')['controls'].length">
        <div class="col-xs-6" style="margin-top: 25px">
          <label class="control-label label-required">Applied pesticides</label>
          <div class="checkbox" formArrayName="pesticides"
               *ngFor="let pesticide of  distributionForm.get('pesticides')['controls']; let i = index">
            <label>
              <input type="checkbox" formControlName="{{i}}"> {{stocks[i].inputId.inputName }} - {{ stocks[i].totalQuantity - stocks[i].distributedQty | number : '1.0-2'}}
              l - {{ stocks[i].created_at|date }} {{ stocks[i].destination ? getDestination( stocks[i].destination) : ' - ' + stocks[i].location.cell_id.name }}

            </label>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-sm-4" style="margin-top: 25px">
        <div class="form-group">
          <button class="btn btn-success btn-sm btn-margin">Apply</button>
        </div>
      </div>
    </div>
  </form>
</div>
