<div class="modal-body extended-modal-body">
  <div class="modal-header">
    <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close"
      (click)="modal.dismiss('cancel click')">
    </i>
  </div>
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        Gap Details
        <small class="pull-right">Created: {{ gapDetails?.createdAt | date: "y/LL/d - h:mm" }}</small>
      </h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      <strong>Gap Name</strong>
      <address>
        {{ gapDetails?.gap_name }} <br>
      </address>
    </div>
    <!-- /.location -->
    <div class="col-sm-4 invoice-col">
      <strong>Gap Description</strong>
      <address>
        {{ gapDetails?.picture_text }} <br>
      </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      <strong>Gap Marks</strong>
      <address>
        <strong>Score: </strong>{{ gapDetails?.gap_score }}<br>
        <strong>Weight: </strong>{{ gapDetails?.gap_weight }}<br>

      </address>
    </div>
  </div>
  <div class="row invoice-info">
    <h3 class="text-center">Observation Details</h3>
    <div *ngFor="let section of gapDetails?.sections">
      <fieldset style="margin-right: 0 !important">
        <legend>
          <label class="control-label text-center">&nbsp; {{ section.section_name }}</label>
        </legend>
        <div class="box" *ngFor="let question of section?.questions">
          <div style="
                    margin-left: 10px;
                    margin-right: 10px;
                    background-color: white;
                    margin-bottom: 10px;
                    border-radius: 7px;
                  ">
            <div class="row">
              <div class="col-xs-12">
                <h3 class="text-center">Question Details</h3>
              </div>
              <div class="col-xs-8">
                <label class="control-label">Question</label>
                <div class="confirm-text">
                  {{ question?.question }} <br />
                </div>
              </div>
              <div class="col-xs-4">
                <label class="control-label">Weight</label>
                <div class="confirm-text">
                  {{ question?.weight }} <br />
                </div>
              </div>
              <div class="col-xs-8">
                <label class="control-label">Description</label>
                <div class="confirm-text">
                  {{ question?.description }} <br />
                </div>
              </div>
              <div class="col-xs-4">
                <label class="control-label">Question type</label>
                <div class="confirm-text">
                  {{ question?.question_type }} <br />
                </div>
              </div>
              <div class="col-xs-12" *ngIf="question.answers.length > 0">
                <h3 class="text-center">Answer Details</h3>
              </div>
              <div class="col-xs-12">
                <div style="
                          background-color: #f2f2f2;
                          margin-left: 10px;
                          margin-right: 10px;
                          margin-bottom: 10px;
                          border-radius: 7px;
                        " *ngFor="let answer of question.answers">
                  <div class="row">
                    <div class="col-xs-5">
                      <label class="control-label">Answer</label>
                      <div class="confirm-text">
                        {{ answer?.answer }} <br />
                      </div>
                    </div>
                    <div class="col-xs-2">
                      <label class="control-label">Weight</label>
                      <div class="confirm-text">
                        {{ answer?.weight }} <br />
                      </div>
                    </div>
                    <div class="col-xs-5">
                      <label class="control-label">Description</label>
                      <div class="confirm-text">
                        {{ answer?.description }} <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
