<h3>Create farmer</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form (ngSubmit)="onSubmit()" [formGroup]="createForm">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <app-loader *ngIf="loading"></app-loader>
          <div class="row">
            <section *ngIf="!isGroup" id="personal">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label label-required">Type</label>
                  <div class="radio">
                    <label>
                      <input [value]="farmerTypes[0]" formControlName="type" type="radio" />
                      Individual
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input [value]="farmerTypes[1]" formControlName="type" type="radio" />
                      Group
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label label-required">NID</label>
                  <input (input)="onInputNID($event.target.value)" class="form-control" formControlName="NID" id="NID"
                    type="text" />
                  <app-inline-errors *ngIf="
                      createForm.controls.NID.invalid &&
                      (createForm.controls.NID.dirty ||
                        createForm.controls.NID.touched)
                    " [errors]="createForm.controls.NID.errors" [label]="'national id'">
                  </app-inline-errors>
                  <span *ngIf="invalidId" class="input-error">
                    invalid nid
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label label-required">First Name</label>
                  <input class="form-control" formControlName="foreName" readonly="readonly" type="text" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label label-required">Last Name</label>
                  <input class="form-control" formControlName="surname" readonly="readonly" type="text" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label label-required">Gender</label>
                  <div class="radio">
                    <label>
                      <input checked="" disabled formControlName="sex" type="radio" value="m" />
                      Male
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input checked="" disabled formControlName="sex" type="radio" value="f" />
                      Female
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Family Size</label>
                  <input class="form-control" formControlName="familySize" min="0" type="number" />
                </div>
              </div>
            </section>
            <section *ngIf="isGroup" id="group">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label label-required">Name</label>
                  <input class="form-control" formControlName="groupName" type="text" />
                </div>
              </div>
            </section>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Phone Number</label>
                <input class="form-control" formControlName="phone_number" placeholder="250780000000" type="text" />
                <app-inline-errors *ngIf="
                    createForm.controls.phone_number.invalid &&
                    (createForm.controls.phone_number.dirty ||
                      createForm.controls.phone_number.touched)
                  " [errors]="createForm.controls.phone_number.errors" [label]="'phone number'">
                </app-inline-errors>
              </div>
            </div>
          </div>
          <div class="row">
            <fieldset class="location">
              <legend>
                <label class="control-label">&nbsp; Farmer address </label>
              </legend>
              <div formGroupName="location">
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Province</label>
                    <select class="form-control" formControlName="prov_id">
                      <option value=""></option>
                      <option *ngFor="let province of addressProvinces" value="{{ province._id }}">
                        {{ province.namee }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">District</label>
                    <select class="form-control" formControlName="dist_id">
                      <option value=""></option>
                      <option *ngFor="let district of addressDistricts" value="{{ district._id }}">
                        {{ district.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Sector</label>
                    <select class="form-control" formControlName="sect_id">
                      <option value=""></option>
                      <option *ngFor="let sector of addressSectors" value="{{ sector._id }}">
                        {{ sector.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Cell</label>
                    <select class="form-control" formControlName="cell_id">
                      <option value=""></option>
                      <option *ngFor="let cell of addressCells" value="{{ cell._id }}">
                        {{ cell.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="control-label">Village</label>
                    <select class="form-control" formControlName="village_id">
                      <option value=""></option>
                      <option *ngFor="let village of addressVillages" value="{{ village._id }}">
                        {{ village.name }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <!-- Payment channels

          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success btn-sm" (click)="addPaymentChannel()" type="button" style="margin-bottom: 10px;">
                <i class="fa fa-plus"></i> Payment channel
              </button>
            </div>
          </div>
          <div *ngFor="let control of formPaymentChannel.controls; let i=index" formArrayName="paymentChannels">
            <div class="row" [formGroupName]="i">
              <div class="col-md-2">
                <div class="form-group">
                  <span class="label-required">Channel</span>
                  <select class="form-control" formControlName="channelId" (change)="onChangePaymentChanel(i)">
                    <option *ngFor="let channel of channels" value="{{channel._id}}">
                      {{ channel.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <span class="label-required"> Account </span>
                  <input class="form-control" formControlName="account">
                </div>
              </div>
              <div class="form-group col-md-1">
                <button class="btn btn-danger btn pull-left" type="button"
                  (click)="removePaymentChannel(i)" style="margin-top: 20px"> Remove
                </button>
              </div>
            </div>
          </div>

          End payment channels -->
          <div class="row">
            <fieldset *ngIf="isGroup" class="location">
              <legend>
                <label class="control-label label-required">&nbsp; Contact Person</label>
              </legend>
              <div formGroupName="groupContactPerson">
                <div class="col-md-4">
                  <div class="form-group">
                    <span class="">First Name</span>
                    <input class="form-control" formControlName="firstName" type="text" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <span class="">Last Name</span>
                    <input class="form-control" formControlName="lastName" type="text" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <span class="">Phone Number</span>
                    <input class="form-control" formControlName="phone" type="text" />
                    <app-inline-errors *ngIf="
                        createForm.controls.groupContactPerson.get('phone').invalid &&
                        (createForm.controls.groupContactPerson.get('phone').dirty ||
                        createForm.controls.groupContactPerson.get('phone').touched)
                      " [errors]="createForm.controls.groupContactPerson.get('phone').errors" [label]="'phone number'">
                    </app-inline-errors>
                  </div>
                </div>
              </div>
            </fieldset>
            <div *ngIf="createFromPending" class="col-md-12"></div>
            <ng-container *ngIf="!isUserCWSOfficer; else onCWSLevel">
              <div *ngFor="let request of formRequests.controls; let i = index" formArrayName="requests">
                <fieldset [formGroupName]="i" class="request">
                  <legend>
                    <label class="control-label label-required">&nbsp;Land</label>
                  </legend>
                  <input class="form-control" formControlName="fertilizer_need" type="hidden" />
                  <input class="form-control" formControlName="fertilizer_allocate" type="hidden" />
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Number of Trees</label>
                        <input class="form-control" formControlName="numberOfTrees" type="text" />
                        <div *ngIf="
                            getRequestsFormGroup(i).controls.numberOfTrees
                              .invalid &&
                            (getRequestsFormGroup(i).controls.numberOfTrees
                              .dirty ||
                              getRequestsFormGroup(i).controls.numberOfTrees
                                .touched)
                          " class="input-error">
                          <div *ngIf="
                              getRequestsFormGroup(i).controls.numberOfTrees
                                .errors.required
                            ">
                            Number of trees is required.
                          </div>
                          <div *ngIf="
                              getRequestsFormGroup(i).controls.numberOfTrees
                                .errors.min
                            ">
                            Number of trees must be greater than zero.
                          </div>
                          <div *ngIf="
                              getRequestsFormGroup(i).controls.numberOfTrees
                                .errors.pattern
                            ">
                            Number of trees must be an integer.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div formGroupName="tree_location">
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">Province</span>
                          <select (change)="onChangeProvince(i)" class="form-control" formControlName="prov_id">
                            <option value=""></option>
                            <option *ngFor="let province of provinces" value="{{ province._id }}">
                              {{ province.namee }}
                            </option>
                          </select>
                          <div *ngIf="
                              getLocationInput(i, 'prov_id').invalid &&
                              (getLocationInput(i, 'prov_id').dirty ||
                                getLocationInput(i, 'prov_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getLocationInput(i, 'prov_id').errors.required
                              ">
                              Province is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">District</span>
                          <select (change)="onChangeDistrict(i)" class="form-control" formControlName="dist_id">
                            <option value=""></option>
                            <option *ngFor="let district of districts[i]" value="{{ district._id }}">
                              {{ district.name }}
                            </option>
                          </select>
                          <div *ngIf="
                              getLocationInput(i, 'dist_id').invalid &&
                              (getLocationInput(i, 'dist_id').dirty ||
                                getLocationInput(i, 'dist_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getLocationInput(i, 'dist_id').errors.required
                              ">
                              District is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">Sector</span>
                          <select (change)="onChangeSector(i)" class="form-control" formControlName="sect_id">
                            <option value=""></option>
                            <option *ngFor="let sector of sectors[i]" value="{{ sector._id }}">
                              {{ sector.name }}
                            </option>
                          </select>
                          <div *ngIf="
                              getLocationInput(i, 'sect_id').invalid &&
                              (getLocationInput(i, 'sect_id').dirty ||
                                getLocationInput(i, 'sect_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getLocationInput(i, 'sect_id').errors.required
                              ">
                              Sector is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">Cell</span>
                          <select (change)="onChangeCell(i)" class="form-control" formControlName="cell_id">
                            <option value=""></option>
                            <option *ngFor="let cell of cells[i]" value="{{ cell._id }}">
                              {{ cell.name }}
                            </option>
                          </select>
                          <div *ngIf="
                              getLocationInput(i, 'cell_id').invalid &&
                              (getLocationInput(i, 'cell_id').dirty ||
                                getLocationInput(i, 'cell_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getLocationInput(i, 'cell_id').errors.required
                              ">
                              Cell is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">village</span>
                          <select class="form-control" formControlName="village_id">
                            <option value=""></option>
                            <option *ngFor="let village of villages[i]" value="{{ village._id }}">
                              {{ village.name }}
                            </option>
                          </select>
                          <div *ngIf="
                              getLocationInput(i, 'village_id').invalid &&
                              (getLocationInput(i, 'village_id').dirty ||
                                getLocationInput(i, 'village_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getLocationInput(i, 'village_id').errors
                                  .required
                              ">
                              Village is required.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!createFromPending" class="form-group col-md-12">
                      <button (click)="removeRequest(i)" class="btn btn-danger pull-right" type="button">
                        Remove
                      </button>
                    </div>
                  </div>
                </fieldset>
              </div>
            </ng-container>
            <ng-template #onCWSLevel>
              <div class="modal-body" style="margin-top: 30px">
                <form (ngSubmit)="onSubmit()" [formGroup]="createForm">
                  <div class="row text-muted well well-sm no-shadow" style="margin: 10px auto">
                    <div class="col-md-12">
                      <span class="land-info-title">
                        LAND IDENTIFICATIONS
                      </span>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Land UPI Number</label>
                        <input (input)="validateUPI($event)" class="form-control" formControlName="upiNumber"
                          placeholder="00/000/00/000" type="text" />
                        <div *ngIf="
                              createForm.controls.upiNumber.invalid &&
                              (createForm.controls.upiNumber.dirty ||
                                createForm.controls.upiNumber.touched)
                            " class="input-error">
                          <div *ngIf="
                                createForm.controls.upiNumber.invalid
                              ">
                            Upi is invalid.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Land Owner Names</label>
                        <input class="form-control" formControlName="landOwner" type="text" />
                      </div>
                    </div>
                    <div *ngIf="!createForm.controls.upiNumber.value; else locationIfUpi" formGroupName="tree_location">
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">Province</span>
                          <select class="form-control" formControlName="prov_id">
                            <option value=""></option>
                            <option *ngFor="let province of provinces" value="{{ province._id }}">
                              {{ province.namee }}
                            </option>
                          </select>
                          <div *ngIf="
                              getTreeLocationInput('prov_id').invalid &&
                              (getTreeLocationInput('prov_id').dirty ||
                                getTreeLocationInput('prov_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getTreeLocationInput('prov_id').errors.required
                              ">
                              Province is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">District</span>
                          <select class="form-control" formControlName="dist_id">
                            <option value=""></option>
                            <option *ngFor="let district of districts" value="{{ district._id }}">
                              {{ district.name }}
                            </option>
                          </select>
                          <div *ngIf="
                              getTreeLocationInput('dist_id').invalid &&
                              (getTreeLocationInput('dist_id').dirty ||
                                getTreeLocationInput('dist_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getTreeLocationInput('dist_id').errors.required
                              ">
                              District is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">Sector</span>
                          <select class="form-control" formControlName="sect_id">
                            <option value=""></option>
                            <option *ngFor="let sector of sectors" value="{{ sector._id }}">
                              {{ sector.name }}
                            </option>
                          </select>
                          <div *ngIf="
                              getTreeLocationInput('sect_id').invalid &&
                              (getTreeLocationInput('sect_id').dirty ||
                                getTreeLocationInput('sect_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getTreeLocationInput('sect_id').errors.required
                              ">
                              Sector is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">Cell</span>
                          <select class="form-control" formControlName="cell_id">
                            <option value=""></option>
                            <option *ngFor="let cell of cells" value="{{ cell._id }}">
                              {{ cell.name }}
                            </option>
                          </select>
                          <div *ngIf="
                              getTreeLocationInput('cell_id').invalid &&
                              (getTreeLocationInput('cell_id').dirty ||
                                getTreeLocationInput('cell_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getTreeLocationInput('cell_id').errors.required
                              ">
                              Cell is required.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <span class="">village</span>
                          <select class="form-control" formControlName="village_id">
                            <option value=""></option>
                            <option *ngFor="let village of villages" value="{{ village._id }}">
                              {{ village.name }}
                            </option>
                          </select>
                          <div *ngIf="
                              getTreeLocationInput('village_id').invalid &&
                              (getTreeLocationInput('village_id').dirty ||
                                getTreeLocationInput('village_id').touched)
                            " class="input-error">
                            <div *ngIf="
                                getTreeLocationInput('village_id').errors
                                  .required
                              ">
                              Village is required.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #locationIfUpi class="col-sm-12">
                      <div formGroupName="location_if_upi" class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                            <span class="">Province</span>
                            <select class="form-control" formControlName="prov_id">
                              <option *ngFor="let province of provinces" value="{{ province._id }}">
                                {{ province.namee }}
                              </option>
                            </select>
                            <div *ngIf="!checkIfUpiinValidZoning.prov_id" class="input-error">
                              <div>UPI Province not in CWS Covered Area.</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <span class="">District</span>
                            <select class="form-control" formControlName="dist_id">
                              <option *ngFor="let district of districts" value="{{ district._id }}">
                                {{ district.name }}
                              </option>
                            </select>
                            <div *ngIf="!checkIfUpiinValidZoning.dist_id" class="input-error">
                              <div>UPI District not in CWS Covered Area.</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <span class="">Sector</span>
                            <select class="form-control" formControlName="sect_id">
                              <option *ngFor="let sector of sectors" value="{{ sector._id }}">
                                {{ sector.name }}
                              </option>
                            </select>
                            <div *ngIf="!checkIfUpiinValidZoning.sect_id" class="input-error">
                              <div>UPI Sector not in CWS Covered Area.</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <span class="">Cell</span>
                            <select class="form-control" formControlName="cell_id">
                              <option *ngFor="let cell of cells" value="{{ cell._id }}">
                                {{ cell.name }}
                              </option>
                            </select>
                            <div *ngIf="!checkIfUpiinValidZoning.cell_id" class="input-error">
                              <div>UPI Cell not in CWS Covered Area.</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <span class="">village</span>
                            <select class="form-control" formControlName="village_id">
                              <option *ngFor="let village of villages" value="{{ village._id }}">
                                {{ village.name }}
                              </option>
                            </select>
                            <div *ngIf="!checkIfUpiinValidZoning.village_id" class="input-error">
                              <div>UPI Village not in CWS Covered Area.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Longitude Geo Coordinate</label>
                        <input class="form-control" formControlName="longitudeCoordinate" placeholder="00.0000000"
                          type="text" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Latitude Geo Coordinate</label>
                        <input class="form-control" formControlName="latitudeCoordinate" placeholder="00.0000000"
                          type="text" />
                      </div>
                    </div>
                  </div>
                  <div class="row text-muted well well-sm no-shadow" style="margin: 10px auto">
                    <div class="col-md-12">
                      <span class="land-info-title"> LAND'S TREES </span>
                    </div>
                    <div class="col-md-12 input-error">
                      <div *ngIf="!validForm">
                        Please validate number of trees
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="varieties-table">
                        <div class="row">
                          <div class="col-sm-6 col-md-3">
                            <div style="margin-top: 10px"> <b>Number of trees </b> </div>
                            <div style="margin-bottom: 10px; margin-top: 10px">
                              <input type="number" min="0" formControlName="numberOfTrees" class="form-control" />
                              <div *ngIf="
                                  createForm.controls.numberOfTrees.invalid &&
                                  (createForm.controls.numberOfTrees.dirty ||
                                    createForm.controls.numberOfTrees.touched)
                                " class="input-error">
                                <div *ngIf="
                                    createForm.controls.numberOfTrees.errors
                                      .required
                                  ">
                                  Number of trees is required.
                                </div>
                                <div *ngIf="
                                    createForm.controls.numberOfTrees.errors.min
                                  ">
                                  Number of trees must be greater than zero.
                                </div>
                                <div *ngIf="
                                    createForm.controls.numberOfTrees.errors
                                      .pattern
                                  ">
                                  Number of trees must be an integer.
                                </div>
                              </div>
                            </div>
                          </div>
                          <ng-container *ngIf="treeVarieties">
                            <div class="col-sm-6 col-md-3" *ngFor="let control of formTreeAges.controls; let i = index"
                              formArrayName="treeAges">
                              <div style="display: block" [formGroupName]="i">
                                <div style="margin-top: 10px">Trees age <b>{{ ranges[i] }} Years</b></div>
                                <div style="margin-bottom: 10px; margin-top: 10px">
                                  <input type="number" formControlName="numOfTrees" class="form-control" min="0"
                                    disabled />
                                </div>
                                <div *ngFor="
                                    let ctrl of formTreeVarieties(i).controls;
                                    let v = index
                                  " formArrayName="varieties">
                                  <div style="display: table-row" [formGroupName]="v">
                                    <label style="
                                        font-weight: lighter;
                                        display: table-cell;
                                        width: 50%;
                                        font-size: smaller;
                                      ">
                                      <input type="checkbox" formControlName="selected" />
                                      {{ treeVarieties[v].name | titlecase }}
                                    </label>
                                    <div style="display: table-cell; width: auto">
                                      <input type="number" formControlName="number" class="form-control v-number"
                                        min="0" (keyup)="updateList(i, v)" (change)="updateList(i, v)" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row text-muted well well-sm no-shadow" style="margin: 10px auto">
                    <div class="row">
                      <div class="col-md-12">
                        <span class="land-info-title">
                          CERTIFICATION DETAILS
                        </span>
                        <button (click)="addCertificate()" class="btn btn-success btn-sm" type="button">
                          <i class="fa fa-plus-circle"></i> Add certificate
                        </button>
                      </div>
                    </div>
                    <div *ngFor="
                        let control of formCertificates.controls;
                        let i = index
                      " formArrayName="certificates">
                      <div [formGroupName]="i" class="row">
                        <div class="col-md-5">
                          <div class="form-group">
                            <label class="control-label">Certificate Name</label>
                            <select class="form-control" formControlName="name">
                              <option value=""></option>
                              <option *ngFor="let certificate of certificateNames" value="{{ certificate.name }}">
                                {{ certificate.name }}
                              </option>
                            </select>
                            <div *ngIf="
                                getCertificateFormGroup(i).controls.name
                                  .invalid &&
                                (getCertificateFormGroup(i).controls.name
                                  .dirty ||
                                  getCertificateFormGroup(i).controls.name
                                    .touched)
                              " class="input-error">
                              <div *ngIf="
                                  getCertificateFormGroup(i).controls.name
                                    .errors.required
                                ">
                                Name of certificate is required.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="form-group">
                            <label class="control-label">Certificate Identification Number</label>
                            <input class="form-control" formControlName="identificationNumber"
                              style="width: 90%; display: inline" type="text" />
                            <button (click)="removeCertificate(i)" class="btn btn-danger btn-sm inline-btn"
                              type="button">
                              <i class="fa fa-minus-circle"></i>
                            </button>
                            <div *ngIf="
                                getCertificateFormGroup(i).controls
                                  .identificationNumber.invalid &&
                                (getCertificateFormGroup(i).controls
                                  .identificationNumber.dirty ||
                                  getCertificateFormGroup(i).controls
                                    .identificationNumber.touched)
                              " class="input-error">
                              <div *ngIf="
                                  getCertificateFormGroup(i).controls
                                    .identificationNumber.errors.required
                                ">
                                Name of certificate is required.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input class="form-control" formControlName="fertilizer_allocate" type="hidden" />
                  <div class="row">
                    <div class="col-md-6"></div>
                  </div>
                </form>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a (click)="onCancel()" class="btn btn-warning btn-margin pull-right">Cancel</a>
      <button [disabled]="!submit || loading" class="btn btn-success pull-right btn-md" type="submit">
        <span *ngIf="!loading; else other_content">Save</span>
        <ng-template #other_content>
          <div class="loader">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </ng-template>
      </button>
    </div>
  </div>
</form>
