<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <app-list-errors [errorList]="errors" *ngIf="errors"></app-list-errors>
  <app-list-message [message]="message"></app-list-message>
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-6">
          <br>
          REG number
        </div>
        <div class="col-sm-6">
          <br>
          <span style="font-weight: bold;">{{ regNumber }}</span><br>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="distributionForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-4" style="margin-top: 25px">
        <div class="form-inline">
          <span class="label-required">Quantity Fertilizer(Kg)</span> &nbsp; &nbsp;
          <input type="text" formControlName="quantity" class="form-control">
        </div>
      </div>
      <div class="col-sm-4" style="margin-top: 25px">
        <div class="form-inline">
          <span class="label-required">Stock</span> &nbsp; &nbsp;
          <select class="form-control" formControlName="stockOutId">
            <option></option>
            <ng-container *ngFor="let stock of stockOuts">
            <option *ngIf="stock.inputId.inputType === 'Fertilizer'" value="{{stock._id}}">{{ stock.totalQuantity }} Kg - {{ stock.created_at|date }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="col-sm-4" style="margin-top: 25px">
        <div class="form-inline">
          <button class="btn btn-success btn-sm btn-margin">save</button>
        </div>
      </div>
    </div>
  </form>
  <form [formGroup]="updateRequestForm" (ngSubmit)="updateRequestAtDistribution()">
    <div class="row">
      <div class="col-xs-12">
        <fieldset class="location" style="margin: 15px 0px 15px !important;">
          <legend>
            <label class="control-label">&nbsp; Update </label>
          </legend>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <span class="control-label label-required">Trees at distribution</span> &nbsp; &nbsp;
                <input type="text" formControlName="treesAtDistribution" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <span class="control-label label-required">Comment</span> &nbsp; &nbsp;
                <input type="text" formControlName="comment" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-sm-4" style="margin-top: 25px">
              <div class="form-group">
                <button class="btn btn-success btn-sm btn-margin">save</button>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
</div>
