<div class="row">
  <div class="col-xs-12">
    <h5 class="page-header">
      Profile
    </h5>
  </div>
</div>
<app-list-message [message]="message"></app-list-message>
<div class="row">
  <div class="col-sm-4 invoice-col">
    <div class="row" *ngIf="farmerType!==2">
      <div class="col-sm-6">
        First name
      </div>
      <div class="col-sm-6">
        <strong>{{ farmer.userInfo.foreName }}</strong><br>
      </div>
      <div class="col-sm-6">
        Last name
      </div>
      <div class="col-sm-6">
        {{ farmer.userInfo.surname }}<br>
      </div>
      <div class="col-sm-6">
        NID
      </div>
      <div class="col-sm-6">
        {{ farmer.userInfo.NID }}<br>
      </div>
      <div class="col-sm-6">
        Phone number
      </div>
      <div class="col-sm-6">
        {{ farmer.userInfo.phone_number }}<br>
      </div>
      <div class="col-sm-6">
        REG number
      </div>
      <div class="col-sm-6">
        {{ farmer.userInfo.regNumber }}<br>
      </div>
    </div>
    <div class="row" *ngIf="farmerType===2">
      <div class="col-sm-6">
        Group name
      </div>
      <div class="col-sm-6">
        <strong>{{ farmer.userInfo.groupName }}</strong><br>
      </div>
      <div class="col-sm-6">
        REG number
      </div>
      <div class="col-sm-6">
        {{ farmer.userInfo.regNumber }}<br>
      </div>
      <div class="col-sm-6">
        Phone number
      </div>
      <div class="col-sm-6">
        {{ farmer.userInfo.phone_number }}<br>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-default btn-margin pull-right" (click)="editProfile(farmer.userInfo)">
      <i class="fa fa-pencil"></i> Profile
    </button>
    <ng-container *appHasPermission="[0,[8,1],[1,1]]">
      <a class="btn btn-success btn-margin pull-right" *ngIf="!resetPin" (click)="enableResetPin(true)"><i
        class="fa fa-check"></i>&nbsp; Enable pin reset
      </a>
      <a class="btn btn-warning btn-margin pull-right" *ngIf="resetPin" (click)="enableResetPin(false)"><i
        class="fa fa-close"></i>&nbsp; Disable pin reset
      </a>
    </ng-container>
  </div>
</div>
<br/> <br/>
<ng-container>
  <h5 class="page-header">
    Lands
  </h5>
  <button class="btn btn-success btn-circle btn-lg pull-right" (click)="addRequest(farmer.request._id)" type="button"><i
    class="fa fa-plus"></i></button>
  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Season</th>
          <th>Location</th>
          <th>Number of trees</th>
          <th>Fertilizer needed</th>
          <th>Fertilizer allocated</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let request of requests;">
          <td>{{farmer.request.season.name}}</td>
          <td>
            <span class="details-row-title-sm" style="margin-left: 0px">Province </span> : <span
            class="details-row-data-sm" *ngIf="request.location.prov_id">{{ request.location.prov_id.namek }}</span>
            <span class="details-row-title-sm">District </span> : <span class="details-row-data-sm"
          >{{ request.location.dist_id.name }}</span>
            <span class="details-row-title-sm">Sector </span> : <span class="details-row-data-sm">{{ request.location.sect_id.name }}</span>
            <span class="details-row-title-sm">Cell </span> : <span class="details-row-data-sm">{{ request.location.cell_id.name }}</span>
            <span class="details-row-title-sm">Village </span> : <span class="details-row-data-sm">{{ request.location.village_id.name }}</span>
          </td>
          <td>{{ request.numberOfTrees }}</td>
          <td>{{ request.fertilizer_need |  number:'1.0-1' }} Kg</td>
          <td>{{ request.fertilizer_allocate |  number:'1.0-1' }} Kg</td>
          <td>
            <button class="btn btn-warning btn-margin btn-sm pull-right" (click)="cancelRequest(request)"
                    *ngIf="!(isUserSiteManager || isCWSOfficer)">Delete
            </button>
            <button class="btn btn-primary btn-margin btn-sm pull-right" (click)="editRequest(request)">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
<div class="row">
  <div class="col-xs-12">
    <a class="pull-right btn btn-margin btn-warning" (click)="onCancel()">Cancel</a>
  </div>
</div>
