<h3>
  {{ title }}
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <input type="hidden" formControlName="id" class="form-control">
              <div class="form-group">
                <label class="control-label">First name</label>
                <input type="text" formControlName="firstName" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">Last name</label>
                <input type="text" formControlName="lastName" class="form-control">
              </div>
              <div class="form-group">
                <label class="control-label">Address</label>
                <input type="text" formControlName="address" class="form-control">
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="ownsLand"> Owns a land
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">UPI number</label>
                <input type="text" formControlName="upiNumber" class="form-control">
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="belongsToCooperative"> Belongs to a cooperative
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" href="admin/farmers">Cancel</a>
      <button class="btn btn-success pull-right">Update</button>
    </div>
  </div>
</form>
