.filter-title-text {
  text-align: left;
  font: normal normal normal 20px/24px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #333333;
  margin-bottom: 10px;
}

.filter-title-text .bold {
  font: normal normal bold 20px/24px Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.stats-section {
  min-height: 253px;
  background: transparent linear-gradient(180deg, #e1a33e 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}

.stats-title {
  text-align: center;
  margin-top: -5px;
  font: normal normal bold 19px/23px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  height: 35px;
}

.stats-box {
  margin: 5px auto;
  padding: 5px;
  height: 210px;
  width: 100%;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
}

.stats-scroll {
  height: 210px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  border: 1px solid #eae4e2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #eae4e2;
  border-radius: 10px;
}

.stats-box-title {
  height: 21px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 17px/20px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #4f210d;
  opacity: 1;
}

.stats-box-details-title {
  text-align: left;
  font: normal normal bold 14px/30px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.stats-box-details-left {
  height: 18px;
  /* UI Properties */
  text-align: left;
  font: normal normal medium 15px/42px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #4f210d;
  opacity: 1;
}

.stats-box-details-right {
  /* UI Properties */
  text-align: left;
  font: normal normal normal 12px/14px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #000000;
}

.stats-box-divider {
  height: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* UI Properties */
  border: 1px solid #707070;
  opacity: 0.29;
}

.stats-box-divider-table {
  height: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  /* UI Properties */
  border: 1px solid #707070;
  opacity: 0.19;
}

.stats-box-details-right .bold {
  font: normal normal bold 12px/14px Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.stats-box-location-sectors {
  text-align: left;
  font: normal normal medium 12px/42px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.stats-box-location-cells {
  /* UI Properties */
  text-align: left;
  font: normal normal normal 11px/14px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.stats-box-cws-names {
  /* UI Properties */
  text-align: left;
  font: normal normal bold 15px/42px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #4f210d;
  opacity: 1;
}

.stats-box-cws-tots {
  /* UI Properties */
  text-align: left;
  font: normal normal bold 18px/14px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.stats-box-cws-rnames {
  /* UI Properties */
  text-align: left;
  font: normal normal bold 11px/14px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #d38300;
  opacity: 1;
}

.stats-box-cws-kgs {
  /* UI Properties */
  text-align: left;
  font: normal normal bold 11px/14px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #aaaaaa;
  opacity: 1;
}

.stats-box-cws-desc {
  text-align: left;
  font: normal normal bold 9px/14px Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0px;
  color: #ff0000;
  opacity: 1;
}

.stats-box-cws-asc {
  /* UI Properties */
  text-align: left;
  font: normal normal bold 8px/14px Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0px;
  color: #18d100;
  opacity: 1;
}

.stats-box-cws {
  height: 48px;
}

.stats-box-button {
  width: 184px;
  height: 17px;
  /* UI Properties */
  background: #4f210d 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 10px/10px Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #e1a33e;
}
