<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <app-list-errors [errorList]="errors" *ngIf="errors"></app-list-errors>
  <app-list-message [message]="message"></app-list-message>
  <div class="row">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-6">
          <br>
          REG number
        </div>
        <div class="col-sm-6">
          <br>
          <span style="font-weight: bold;">{{ regNumber }}</span><br>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <form [formGroup]="distributionForm" (ngSubmit)="onSubmit()">
      <ng-container *ngIf="distributionForm.get('pesticide')['controls'].length">
        <div class="col-xs-6" style="margin-top: 25px">
          <label class="control-label label-required">Applied pesticides</label>
          <div class="checkbox" formArrayName="pesticide"
               *ngFor="let pesticide of createForm.get('pesticide')['controls']; let i = index">
            <label>
              <input type="checkbox" formControlName="{{i}}"> {{ 'Pesticide name' }}
            </label>
          </div>
        </div>
        <div class="col-sm-4" style="margin-top: 25px">
          <div class="form-group">
            <button class="btn btn-success btn-sm btn-margin">save</button>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
</div>
