<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="page-header">
        <i class="fa fa-square-o"></i> Site details
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 table-responsive">
      <table style="width: 100%; margin-bottom: 15px">
      <tr>
        <td>
          Site
        </td>
        <td>
          <strong>{{ site.siteName }}</strong>
        </td>
      </tr>
      <tr>
        <td>
          Allocated Qty
        </td>
        <td>
          <strong>{{ site.allocatedQty }}</strong> &nbsp; &#13199;
        </td>
      </tr>
      </table>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-sm-12">
      Location
    </div>
    <div class="col-sm-12">
      <span class="details-row-title-sm" style="margin-left: 0px">Province </span> : <span
      class="details-row-data-sm" *ngIf="org?.location.prov_id">{{ site?.location.prov_id.namek }}</span>
      <span class="details-row-title-sm">District </span> : <span class="details-row-data-sm"
                                                                  *ngIf="org?.location.dist_id">{{ site?.location.dist_id.name }}</span>
      <span class="details-row-title-sm">Sector </span> : <span class="details-row-data-sm"
                                                                *ngIf="org?.location.sect_id">{{ site?.location.sect_id.name }}</span>
      <span class="details-row-title-sm">Cell </span> : <span class="details-row-data-sm"
                                                              *ngIf="org?.location.cell_id">{{ site?.location.cell_id.name }}</span>
      <span class="details-row-title-sm">Village </span> : <span class="details-row-data-sm"
                                                                 *ngIf="org?.location.village_id">{{ site?.location.village_id.name }}</span>
    </div>
  </div>-->
  <div class="row">
    <div class="col-sm-4">
      <p style="background: transparent; font-weight: bold">
        Covered sectors
      </p>
      <div *ngFor="let sector of site.coveredAreas.coveredSectors">
        <span style="font-size: 13px"> {{ sector?.name }}</span>
      </div>
    </div>
    <div class="col-sm-4">
      <p style="font-weight: bold">
        Covered cws
      </p>
      <div *ngFor="let cws of site.coveredAreas.coveredCWS">
        <span style="font-size: 13px"> {{ cws?.name }}</span>
      </div>
    </div>
  </div>
</div>
