<h3>
  Create tree variety
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<app-list-message [message]="message"></app-list-message>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">Name</label>
                <input type="text" formControlName="name" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">Description</label>
                <input type="text" formControlName="description" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">Acronym</label>
                <input type="text" formControlName="acronym" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" routerLink="/admin/farm/tree-varieties/list">Cancel</a>
      <button class="btn btn-success pull-right">Save</button>
    </div>
  </div>
</form>
