<h3>
  <div class="row">
    <div class="col-sm-10">SMS Management > TechnoServe</div>
    <div class="col-sm-2">
      <a class="btn btn-success pull-right" (click)="open(content)"
        ><i class="fa fa-shopping-cart"></i> Order SMS
      </a>
    </div>
  </div>
</h3>
<ng-template #content let-modal>
  <form [formGroup]="createOrder">
    <div class="modal-body text-center" style="font-size: 1.5em">
      <div class="text-center">Order SMS</div>
      <div class="row" style="margin-top: 10px">
        <div class="col-sm-4">
          <label class="control-label">Number Of SMS</label>
        </div>
        <div class="col-sm-8">
          <input
            type="number"
            min="0"
            class="form-control"
            formControlName="smsQuantity"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label class="control-label">Email</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="email" />
        </div>
      </div>
      <br />
      <button
        type="button"
        class="btn btn-success pull-center"
        (click)="orderSms(); modal.dismiss()"
      >
        Order
      </button>
    </div>
  </form>
</ng-template>
<div>
  <div class="row">
    <div class="col-sm-3">
      <div class="text-center stats-box">
        <h3>SMS Balance</h3>
        <h1>{{ smsBalance.balance | number }}</h1>
      </div>
    </div>
    <div class="col-sm-3 cursor-pointer" (click)="getSMSHistoryByStatus(statuses.DELIVERED)">
      <div class="text-center stats-box middle-box">
        <h3>Delivered SMS</h3>
        <h1>{{ smsHistory.meta.summary.delivered || 0 | number }}</h1>
      </div>
    </div>
    <div class="col-sm-3 cursor-pointer" (click)="getSMSHistoryByStatus(statuses.PENDING)">
      <div class="text-center stats-box text-warning">
        <h3>Pending SMS</h3>
        <h1>{{ smsHistory.meta.summary.pending || 0 | number }}</h1>
      </div>
    </div>
    <div class="col-sm-3 cursor-pointer" (click)="getSMSHistoryByStatus(statuses.FAILED)">
      <div class="text-center stats-box text-danger">
        <h3>Failed SMS</h3>
        <h1>{{ smsHistory.meta.summary.failed || 0 | number }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="sms-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active" (click)="onChangeTab('sms-history')">
      <a aria-controls="" role="tab" data-toggle="tab"
        ><span>SMS History</span></a
      >
    </li>
    <li role="presentation" (click)="onChangeTab('sms-orders-history')">
      <a aria-controls="" role="tab" data-toggle="tab"
        ><span>SMS Orders History</span></a
      >
    </li>
  </ul>
</div>
<div class="row" [hidden]="activeTab !== 'sms-history'">
  <div class="col-sm-12" style="margin-top: 25px">
    <form [formGroup]="filterForm" class="row" (ngSubmit)="onSubmit()">
      <div class="form-group col-sm-4">
        <div>
          <select value="" class="form-control" formControlName="status">
            <option value="" [selected]="true">All</option>
            <ng-container *ngFor="let status of statusesArray">
              <option value="{{ status }}">{{ status }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="form-group col-sm-4">
        <input
          formControlName="dateRange"
          [selectMode]="'range'"
          [owlDateTimeTrigger]="dt10"
          [owlDateTime]="dt10"
          class="form-control form-control-small"
          placeholder="From: Dd/mm/yyyy ~ To: Dd/mm/yyyy"
          dtOptions=""
        />
        <owl-date-time
          #dt10
          [pickerType]="'calendar'"
          [scrollStrategy]="scrollStrategy"
        ></owl-date-time>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-success">
          <i class="fa fa-search"></i>
          Search
        </button>
      </div>
    </form>
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3 class="panel-title">SMS History</h3>
      </div>
      <app-loader *ngIf="smsHistoryLoading"></app-loader>
      <div class="panel-body">
        <table
          datatable
          [dtTrigger]="dtTrigger"
          [dtOptions]="dtOptions"
          class="table table-striped"
          [hidden]="smsHistoryLoading"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Receiver</th>
              <th>Message</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of smsHistory.data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ history.createdAt | date : "short" }}</td>
              <td>{{ history.recipient }}</td>
              <td>{{ history.content }}</td>
              <td>
                <span
                  [ngClass]="{
                    badge: true,
                    'badge-danger':
                      history.status === statuses.FAILED ||
                      history.status === statuses.UNREACHABLE ||
                      history.status === statuses.REJECTED,
                    'badge-success': history.status === statuses.DELIVERED,
                    'badge-warning': history.status === statuses.PENDING
                  }"
                  >{{ history.status }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row" [hidden]="activeTab !== 'sms-orders-history'">
  <div class="col-sm-12" style="margin-top: 25px">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h3 class="panel-title">SMS Orders History</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Requested SMS</th>
              <th>Approved SMS</th>
              <th>Invoice</th>
              <th>Amount</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of smsOrders; let i = index">
              <td>{{ order.createdAt | date : "short" }}</td>
              <td>{{ order.requested_sms }}</td>
              <td>{{ order.approved_sms }}</td>
              <td>
                <a href="{{ order.invoice }}" target="_blank">
                  <i class="fa fa-download"></i>
                </a>
              </td>
              <td>{{ order.requested_sms * order.rate }} rwf</td>
              <td>
                {{
                  order.paid
                    ? "Paid"
                    : order.approved
                    ? "Approved"
                    : "Not approved"
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
