<div class="row">
  <div class="col-xs-12">
    <div class="container custom-tabs">
      <div class="row">
        <div class="col-md-12" style="padding-right: 0px; padding-left: 0px; margin-top: 15px">
          <div class="card" style="border: none !important;">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#deposit" aria-controls="fertilizer" role="tab" data-toggle="tab">
                  <span>Payment channels</span>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="deposit">
                <app-list-message [message]="message"></app-list-message>
                <app-list-errors [errorList]="errors"></app-list-errors>
                <div class="row">
                  <div class="col-sm-12">
                    <table class="hover table table-striped">
                      <thead>
                      <tr>
                        <th>Channel name</th>
                        <th>Subscription number
                        <th>Bank name</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody style="border-width: 1px">
                      <tr *ngFor="let channel of orgPaymentChannels">
                        <td> {{ channel.channelName }}</td>
                        <td> {{ channel.subscriptionNumber }}</td>
                        <td> {{ channel.bankName }}</td>
                        <td></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <form [formGroup]="addPaymentChannelForm" (ngSubmit)="onSubmitPaymentChannel()">
                  <div class="row">
                    <div class="col-xs-12">
                      <button class="btn btn-success btn-sm" (click)="addPaymentChannel()" type="button" style="margin-bottom: 10px;">
                        <i class="fa fa-plus"></i> Payment channel
                      </button>
                    </div>
                  </div>
                  <div *ngFor="let control of formPaymentChannel.controls; let i=index" formArrayName="paymentChannels">
                    <div class="row" [formGroupName]="i">
                      <div class="col-xs-2">
                        <div class="form-group">
                          <span class="label-required">Channel</span>
                          <select class="form-control" formControlName="channelId" (change)="onChangePaymentChannel(i)">
                            <option *ngFor="let channel of channels" value="{{channel._id}}">
                              {{ channel.channel }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="form-group">
                          <span class="label-required"> Subscription number </span>
                          <input class="form-control" formControlName="subscriptionNumber">
                        </div>
                      </div>
                      <div class="col-xs-3">
                        <div class="form-group">
                          <span>Bank name (Optional)</span>
                          <select class="form-control" formControlName="bankName">
                            <option *ngFor="let bank of banks" value="{{bank.name}}">
                              {{ bank.name }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group col-xs-1">
                        <button class="btn btn-danger btn-sm pull-left" type="button"
                                (click)="removePaymentChannel(i)" style="margin-top: 20px"> Remove
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <button class="btn btn-success pull-right">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

