<h3>
  Farmer requests
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body">
        <form [formGroup]="getFarmerRequestsForm" (ngSubmit)="onGetFarmerRequests()">
          <div class="row" style="margin-top: 15px">
            <div class="col-xs-6">
              <div class="form-inline">
                <label class="control-label">Farmer reg number</label>
                <input type="text" formControlName="farmerRegNumber" class="form-control btn-margin">
                <button class="btn btn-default btn-margin"><i class="fa fa-search"></i> Search</button>
              </div>
            </div>
          </div>
        </form>
        <div class="row" style="margin-top: 30px">
          <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Location</th>
                <th>Trees</th>
                <th>Fertilizer needed</th>
                <th>Fertilizer allocated</th>
                <th>Fertilizer given</th>
                <th>Tree at distribution</th>
                <th>Pe applied</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let request of requests">
                <td style="font-size: 11px">
                  <span class="details-row-title-sm" style="margin-left: 0px">Province </span> : <span
                  class="details-row-data-sm"
                  *ngIf="request.requestInfo.location.prov_id">{{ request.requestInfo.location.prov_id.namek }}</span>
                  <span class="details-row-title-sm">District </span> : <span class="details-row-data-sm">{{ request.requestInfo.location.dist_id.name }}</span>
                  <br>
                  <span class="details-row-title-sm">Sector </span> : <span class="details-row-data-sm">{{ request.requestInfo.location.sect_id.name }}</span>
                  <span class="details-row-title-sm">Cell </span> : <span class="details-row-data-sm">{{ request.requestInfo.location.cell_id.name }}</span>
                  <span class="details-row-title-sm">Village </span> : <span class="details-row-data-sm">{{ request.requestInfo.location.village_id.name }}</span>
                </td>
                <td>{{ request.requestInfo.numberOfTrees }}</td>
                <td>{{ request.requestInfo.fertilizer_need }} Kg</td>
                <td>{{ request.requestInfo.fertilizer_allocate }} Kg</td>
                <td>{{ request.requestInfo.fertilizer_atDistribution }} Kg</td>
                <td>{{ request.requestInfo.treesAtDistribution }}</td>
                <td>
                <ng-container *ngIf="request.requestInfo.isPesticideApplied; else apply">
                  <i class="fa fa-check-square" aria-hidden="true"></i>
                </ng-container>
                <ng-template  #apply>
                </ng-template>
                </td>
                <td>
                  <button class="btn btn-success btn-margin btn-sm pull-right" (click)="recordDistribution(request.requestInfo._id, request._id)"> distribute Fe</button>
                  <button class="btn btn-success btn-margin btn-sm pull-right" (click)="applyPesticide(request.requestInfo._id, request._id)"> apply Pe</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

