<h3>
  Farmer requests
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body">
        <form [formGroup]="getFarmerRequestsForm" (ngSubmit)="onGetFarmerRequests()">
          <div class="row" style="margin-top: 15px">
            <div class="col-xs-6">
              <div class="form-inline">
                <label class="control-label">Farmer reg number</label>
                <input type="text" formControlName="farmerRegNumber" class="form-control btn-margin">
                <button class="btn btn-default btn-margin"><i class="fa fa-search"></i> Search</button>
              </div>
            </div>
          </div>
        </form>
        <div class="row" style="margin-top: 30px">
          <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Location</th>
                <th>Number of trees</th>
                <th>Fertilizer needed</th>
                <th>Fertilizer allocated</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let item of requests;">
              <tr *ngFor="let request of item.requests;">
                <td>
                  <span class="details-row-title-sm" style="margin-left: 0px">Province </span> : <span
                  class="details-row-data-sm"
                  *ngIf="request.location.prov_id">{{ request.location.prov_id.namek }}</span>
                  <span class="details-row-title-sm">District </span> : <span class="details-row-data-sm">{{ request.location.dist_id.name }}</span>
                  <span class="details-row-title-sm">Sector </span> : <span class="details-row-data-sm">{{ request.location.sect_id.name }}</span>
                  <span class="details-row-title-sm">Cell </span> : <span class="details-row-data-sm">{{ request.location.cell_id.name }}</span>
                  <span class="details-row-title-sm">Village </span> : <span class="details-row-data-sm">{{ request.location.village_id.name }}</span>
                </td>
                <td>{{ request.numberOfTrees }}</td>
                <td>{{ request.fertilizer_need }} Kg</td>
                <td>{{ request.fertilizer_allocate }} Kg</td>
                <td>
                  <button class="btn btn-success btn-margin btn-sm" (click)="recordDistribution(request._id, item._id)"> distribute</button>
                  <button class="btn btn-success btn-margin btn-sm" (click)="applyPesticide()"> apply pesticide</button>
                </td>
              </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

