<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li routerLinkActive="active">
        <a routerLink="/admin/organisations">
          <i class="fa fa-university" aria-hidden="true"></i>
          <span>Organisations</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/farmers">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span>Farmers</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active">
        <a>
          <i class="fa fa-pie-chart"></i>
          <span>Reports</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a routerLink="/admin/registration-reports">Registration reports</a></li>
        </ul>
      </li>
    </ul>
   </section>
  <!-- /.sidebar -->
</aside>
