<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto">
    <!-- sidebar menu: : style can be found in sidebar.less -->

    <ul class="sidebar-menu tree" data-widget="tree">
      <li routerLinkActive="active" *appHasPermission="[[11, 1]]">
        <a routerLink="/admin/dashboard/extension">
          <i class="fa fa-dashboard" aria-hidden="true"></i>
          <span>{{ "dashboard" | translate }}</span>
        </a>
      </li>
      <li routerLinkActive="active" *appHasPermission="[1]">
        <a
          *ngIf="authUser.orgInfo.hasExtensionAccess"
          routerLink="/admin/organisations/details/{{ user.org_id }}/dashboard"
        >
          <i class="fa fa-dashboard" aria-hidden="true"></i>
          <span>{{ "dashboard" | translate }}</span>
        </a>
        <a
          *ngIf="!authUser.orgInfo.hasExtensionAccess"
          routerLink="/admin/organisations/details/{{ user.org_id }}/farmers"
        >
          <i class="fa fa-dashboard" aria-hidden="true"></i>
          <span>{{ "dashboard" | translate }}</span>
        </a>
      </li>
      <li
        class="header"
        *appHasPermission="[[4, 1], [4, 11], [4, 12], 0, 6, 5, 11]"
      >
        {{ " REGISTRATION " | translate }}
      </li>
      <li
        routerLinkActive="active"
        *appHasPermission="[[4, 1], [4, 11], [4, 12], 0, 6, 5, 11]"
      >
        <a routerLink="/admin/organisations">
          <i class="fa fa-university" aria-hidden="true"></i>
          <span>{{ "Organisations" | translate }}</span>
        </a>
      </li>

       <!-- <li routerLinkActive="active" *appHasPermission="[[1]]">
        <a routerLink="/admin/organisations">
          <i class="fa fa-university" aria-hidden="true"></i>
          <span>{{ "Organisations" | translate }}</span>
      </a>
      </li>-->
      <li
        class="treeview"
        routerLinkActive="active"
        *appHasPermission="[[4, 1], [4, 11], 0, 6, 5]"
      >
        <a href="#">
          <i class="fa fa-users"></i><span>Farmers</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[6]">
            <a
              [routerLink]="[
                '/admin/farmers/need-approval/list',
                { needApproval: 'updated' }
              ]"
            >
              <i class="fa fa-circle-o"></i>
              <span>Pending approval</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin/farmers/list">
              <i class="fa fa-circle-o"></i>
              <span>Farmers</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin/farmers/administrative/list">
              <i class="fa fa-circle-o"></i>
              <span>Administrative list</span>
            </a>
          </li>
          <!--<li routerLinkActive="active">
            <a routerLink="/admin/pending-farmers">
              <i class="fa fa-circle-o"></i>
              <span>Temporary farmers</span>
            </a>
          </li>-->
        </ul>
      </li>
      <!--<li
        class="header"
        *appHasPermission="[1, [4, 1], [4, 11], [4, 12], 0, 6]"
      >-->
      <li
        class="header"
        *appHasPermission="[1]"
      >
        {{ "wet_processing" | translate }}
      </li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[1]">
        <a href="#">
          <i class="fa fa-users"></i> <span>{{ "farmers" | translate }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/cws-farmers/{{ user.org_id }}">
              <i class="fa fa-circle-o"></i>
              <span>{{ "farmers" | translate }}</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/cws-suppliers/{{ user.org_id }}/">
              <i class="fa fa-circle-o"></i>
              <span>Supplying farmers</span>
            </a>
          </li>
          <!--
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/cws-pending-farmers/{{ user.org_id }}">
              <i class="fa fa-circle-o"></i>
              <span>Temporary farmers</span>
            </a>
          </li>
          -->
        </ul>
      </li>
      <!-- <li
        routerLinkActive="active"
        *appHasPermission="[[4, 1], [4, 11], [4, 12], 0, 6, 5]"
      >
        <a routerLink="/admin/cherries/parchments/report">
          <i class="fa fa-bar-chart-o"></i>
          <span>Cherries supply</span>
        </a>
      </li>-->
      <li class="treeview" routerLinkActive="active" *appHasPermission="[1]">
        <a href="#">
          <i class="fa fa-archive" aria-hidden="true"></i>
          <span>{{ "parchments" | translate }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/cws/parchments/list">
              <i class="fa fa-circle-o"></i>
              <span>{{ "parchments" | translate }}</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/cws/parchments/transfer/cart">
              <i class="fa fa-circle-o"></i>
              <span>Transfer</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[1]">
            <a routerLink="/admin/cws/parchments/transfer/history">
              <i class="fa fa-circle-o"></i>
              <span>Transfer history</span>
            </a>
          </li>
        </ul>
      </li>
      <ng-container *ngIf="hasGreenCoffee">
        <li class="treeview" routerLinkActive="active" *appHasPermission="[1]">
          <a href="#">
            <i class="fa fa-coffee"></i>
            <span>Green coffee</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li routerLinkActive="active" *appHasPermission="[1]">
              <a routerLink="/admin/cws/greencoffee/list">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>&nbsp;Green coffee</span>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
      <li
        class="treeview"
        routerLinkActive="active"
        *appHasServices="['ONLINE_PAYMENT']"
      >
        <a href="#">
          <i class="fa fa-gg"></i> <span>E-Payments</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasServices="['ONLINE_PAYMENT']">
            <a routerLink="/admin/pay-farmers">
              <i class="fa fa-circle-o"></i>
              <span>Pay farmers</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasServices="['ONLINE_PAYMENT']">
            <a routerLink="/admin/history/payments/{{ user.org_id }}">
              <i class="fa fa-circle-o"></i>
              <span>History</span>
            </a>
          </li>
          <!--
            <li routerLinkActive="active" *appHasPermission="[1]">
              <a routerLink="/admin/payment/reports">
                <i class="fa fa-circle-o"></i>
                <span>Reports</span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/admin/top-ups/payments/{{user.org_id}}">
                <i class="fa fa-circle-o"></i>
                <span>Top-ups</span>
              </a>
            </li>
          -->
        </ul>
      </li>
      <li class="header" *appHasPermission="[2]">DRY PROCESSING</li>
      <li routerLinkActive="active" *appHasPermission="[2]">
        <a routerLink="/admin/drymill/parchment/list">
          <i class="fa fa-archive" aria-hidden="true"></i>
          <span>Parchments</span>
        </a>
      </li>
      <li class="treeview" routerLinkActive="active" *appHasPermission="[2]">
        <a href="#">
          <i class="fa fa-coffee"></i><span>Green coffee</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active" *appHasPermission="[2]">
            <a routerLink="/admin/drymill/prepare/green_coffee">
              <i class="fa fa-circle-o" aria-hidden="true"></i>
              <span>Prepare</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[2]">
            <a routerLink="/admin/drymill/green_coffee/mixtures">
              <i class="fa fa-circle-thin" aria-hidden="true"></i>
              <span>Mixtures</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[2]">
            <a routerLink="/admin/drymill/green_coffee/transfer">
              <i class="fa fa-circle-thin" aria-hidden="true"></i>
              <span>Transfer</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[2]">
            <a routerLink="/admin/drymill/green_coffee/list/transfers">
              <i class="fa fa-circle-thin" aria-hidden="true"></i>
              <span>Transfer history</span>
            </a>
          </li>
        </ul>
      </li>
      <li
        class="header"
        *ngIf="
          authUser.orgInfo.hasExtensionAccess ||
          authUser.parameters.role[0] == 11
        "
      >
        {{ "EXTENSION SERVICES" | translate }}
      </li>
      <ng-template
        [ngIf]="
          authUser.orgInfo.hasExtensionAccess ||
          authUser.parameters.role[0] == 11
        "
      >
        <li
          class="treeview"
          routerLinkActive="active"
          *appHasPermission="[11, 1]"
        >
          <a href="#">
            <i class="fa fa-users"></i>
            <span>{{ "farmer_groups" | translate }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li routerLinkActive="active" *appHasPermission="[11, 1]">
              <a routerLink="/admin/farmers/group/list">
                <i class="fa fa-circle-o"></i>
                <span>Groups</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="treeview"
          routerLinkActive="active"
          *appHasPermission="[[1], [11, 1]]"
        >
          <a href="#">
            <i class="fa fa-delicious"></i>
            <span>{{ "gap_management" | translate }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li routerLinkActive="active" *appHasPermission="[[1], [11, 1]]">
              <a routerLink="/admin/gaps/list">
                <i class="fa fa-circle-o"></i>
                <span>Gaps</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="treeview" *appHasPermission="[11, 1]">
          <a href="#">
            <i class="fa fa-television"></i>
            <span>{{ "training_management" | translate }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li routerLinkActive="active" *appHasPermission="[[1], [11, 1]]">
              <a routerLink="/admin/training/list">
                <i class="fa fa-circle-o"></i>
                <span>Trainings</span>
              </a>
            </li>
            <li routerLinkActive="active" *appHasPermission="[1]">
              <a routerLink="/admin/training/schedule/list">
                <i class="fa fa-circle-o"></i>
                <span>Scheduled Training</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="treeview"
          routerLinkActive="active"
          *appHasPermission="[11, 1]"
        >
          <a href="#">
            <i class="fa fa-map"></i>
            <span>{{ "farm_visit" | translate }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li routerLinkActive="active" *appHasPermission="[11, 1]">
              <a routerLink="/admin/farm/visit/list">
                <i class="fa fa-circle-o"></i>
                <span>Visits</span>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="treeview"
          routerLinkActive="active"
          *appHasPermission="[11, 1]"
        >
          <a href="#">
            <i class="fa fa-leaf"></i>
            <span>{{ "planting_operation" | translate }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li routerLinkActive="active" *appHasPermission="[11, 1]">
              <a routerLink="/admin/seedling/nursery/list">
                <i class="fa fa-circle-o"></i>
                <span>{{ "nurseries" | translate }}</span>
              </a>
            </li>
          </ul>
        </li></ng-template
      >

      <li class="header" *appHasPermission="[[8, 2], 1]">SITES</li>
      <li
        class="treeview"
        routerLinkActive="active"
        *appHasPermission="[[[8, 2], 1, 'NOT']]"
      >
        <a
          href="#"
          routerLinkActive="active"
          *appHasPermission="[[[8, 2], 1, 'NOT']]"
        >
          <i class="fa fa-users"></i><span>Farmers</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" routerLinkActive="active">
          <li routerLinkActive="active">
            <a routerLink="/admin/sites/{{ siteId }}/farmers">
              <i class="fa fa-circle-o"></i>
              <span>Farmers</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin/sites/{{ siteId }}/pending-farmers">
              <i class="fa fa-circle-o"></i>
              <span>Pending farmers</span>
            </a>
          </li>
        </ul>
      </li>
      <ng-container *ngFor="let site of org.distributionSites">
        <li
          class="treeview"
          routerLinkActive="active"
          *appHasPermission="[[8, 2], 1]"
        >
          <a href="#">
            <i class="fa fa-circle-o text-yellow"></i
            ><span style="text-transform: uppercase; font-weight: bold">
              {{ site.siteName }}</span
            >
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li routerLinkActive="active" *appHasPermission="[[8, 2], 1]">
              <a routerLink="/admin/input/site/distribution/{{ site._id }}">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>Distribute</span>
              </a>
            </li>
            <li routerLinkActive="active" *appHasPermission="[[8, 2], 1]">
              <a routerLink="/admin/input/site/dispatches/{{ site._id }}">
                <i class="fa fa-circle-o"></i>
                <span>Entries</span>
              </a>
            </li>
            <li routerLinkActive="active" *appHasPermission="[[8, 2], 1]">
              <a routerLink="/admin/input/site/stock-outs/{{ site._id }}">
                <i class="fa fa-circle-o"></i>
                <span>Stock</span>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
      <li
        class="header"
        *appHasPermission="[
          0,
          5,
          [4, 10],
          [4, 11],
          [4, 12],
          [[8, 1], 1, 'NOT'],
          [4, 1],
          6
        ]"
      >
        INPUT DISTRIBUTION
      </li>
      <li
        routerLinkActive="active"
        *appHasPermission="[
          0,
          5,
          [4, 10],
          [4, 11],
          [4, 12],
          [4, 1],
          [4, 2],
          [[8, 1], 1, 'NOT'],
          6
        ]"
      >
        <a routerLink="/admin/sites">
          <i class="fa fa-square" aria-hidden="true"></i>
          <span>Sites</span>
        </a>
      </li>
      <li
        routerLinkActive="active"
        *appHasPermission="[
          [4, 10],
          [4, 11],
          [4, 12],
          [4, 1],
          0,
          6,
          5,
          [[8, 1], 1, 'NOT']
        ]"
      >
        <a routerLink="/admin/input/distribution/plan">
          <i class="fa fa-history" aria-hidden="true"></i>
          <span>Distribution plan</span>
        </a>
      </li>
      <li class="header" *appHasPermission="[0, [4], 5]">WAREHOUSE</li>
      <li routerLinkActive="active" *appHasPermission="[0, 4, 5]">
        <a routerLink="/admin/warehouse/entries">
          <i class="fa fa-tags" aria-hidden="true"></i>
          <span>Entries</span>
        </a>
      </li>
      <li
        class="treeview"
        routerLinkActive="active"
       *appHasPermission="[0, [4, 10], 5]"
      >
        <a href="#">
          <i class="fa fa-code-fork"></i><span>Dispatch</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active">
            <a routerLink="/admin/warehouse/dispatches">
              <i class="fa fa-circle-o"></i>
              <span>Dispatching</span>
            </a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/admin/input/distribution/progress">
              <i class="fa fa-circle-o"></i>
              <span>Report</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="header">{{ "GENERAL" | translate }}</li>
      <li class="treeview" routerLinkActive="active">
        <a href="#">
          <i class="fa fa-bar-chart"></i><span>Reports</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">

          <li
            class="treeview"
            routerLinkActive="active"
            *appHasPermission="[[4, 1], [4, 11], [4, 12], 0, 6]"
          >
            <a href="#">
              <i class="fa fa-circle-o"></i><span>Wet Processing Reports</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li
                routerLinkActive="active"
                *appHasPermission="[[4, 1], [4, 11], [4, 12], 0, 6]"
              >
                <a routerLink="/admin/cherries/parchments/report">
                  <i class="fa fa-circle-o"></i>
                  <span>Cherry Supply</span>
                </a>
              </li>
            </ul>
          </li>


          <li
            class="treeview"
            routerLinkActive="active"
            *appHasPermission="[
              0,
              6,
              [4, 1],
              [4, 11],
              [4, 12],
              5,
              8,
              [[8, 1], 1, 'NOT']
            ]"
          >
            <a href="#">
              <i class="fa fa-circle-o"></i>
              <span>Input progress reports</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li
                routerLinkActive="active"
                *appHasPermission="[
                  0,
                  6,
                  [4, 1],
                  [4, 11],
                  [4, 12],
                  5,
                  [8, 1],
                  [8, 2],
                  [[1, 1], [8, 1], 'AND']
                ]"
              >
                <a routerLink="/admin/input/application/progress">
                  <i class="fa fa-circle-o"></i>
                  <span>Fertilizer application</span>
                </a>
              </li>
              <li
                routerLinkActive="active"
                *appHasPermission="[
                  0,
                  6,
                  [4, 1],
                  [4, 11],
                  [4, 12],
                  5,
                  [8, 1],
                  [8, 2],
                  [[1, 1], [8, 1], 'AND']
                ]"
              >
                <a routerLink="/admin/input/pesticide/application/progress">
                  <i class="fa fa-circle-o"></i>
                  <span>Pesticide application</span>
                </a>
              </li>
            </ul>
          </li>
          <li
            routerLinkActive="active"
            *appHasPermission="[[4, 1], [4, 11], [4, 12], 0]"
          >
            <a routerLink="/admin/payment/reports">
              <i class="fa fa-circle-o"></i>
              <span>Payments report</span>
            </a>
          </li>
          <li
            class="treeview"
            routerLinkActive="active"
            *appHasPermission="[[4, 1], [4, 11], [4, 12], 0, 6]"
          >
            <a href="#">
              <i class="fa fa-circle-o"></i><span>Farmers Reports</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <!--<li
                routerLinkActive="active"
                *appHasPermission="[[4, 1], [4, 11], [4, 12], 0, 6]"
              >
                <a routerLink="/admin/farmers/approval/progress">
                  <i class="fa fa-circle-o"></i>
                  <span>approval statistics</span>
                </a>
              </li>-->
              <li
                routerLinkActive="active"
                *appHasPermission="[[4, 1], [4, 11], [4, 12], 0, 6]"
              >
                <a routerLink="/admin/report/farmers">
                  <i class="fa fa-circle-o"></i>
                  <span>Registration</span>
                </a>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active" *appHasPermission="[[11, 1], 1, 0]">
            <a routerLink="/admin/reports">
              <i class="fa fa-circle-o" aria-hidden="true"></i>
              <span>{{ "extension service reports" | translate }}</span>
            </a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active" *appHasPermission="[[11, 1]]">
        <a routerLink="/admin/smsDashboard">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>{{ "sms_dashboard" | translate }}</span>
        </a>
      </li>

      <li routerLinkActive="active" *appHasPermission="[[11, 1]]">
        <a routerLink="/admin/organisations/{{ user.org_id }}/users">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span>{{ "Users Accounts" | translate }}</span>
        </a>
      </li>
      <li routerLinkActive="active" *appHasPermission="[1]">
        <a routerLink="/admin/settings/organisation/{{ user.org_id }}">
          <i class="fa fa-cogs"></i>
          <span>Settings</span>
        </a>
      </li>
      <li
        class="treeview"
        routerLinkActive="active"
        *appHasPermission="[4, 0, 5]"
      >
        <a href="#">
          <i class="fa fa-cogs"></i><span>Settings</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li
            routerLinkActive="active"
            *appHasPermission="[[4, 1], [4, 11], 0, 5]"
          >
            <a routerLink="/admin/distribution-parameters">
              <i class="fa fa-circle-o"></i>
              <span>Distribution</span>
            </a>
          </li>
          <li
            routerLinkActive="active"
            *appHasPermission="[[4, 1], [4, 11], 0, 5]"
          >
            <a routerLink="/admin/season-parameters">
              <i class="fa fa-circle-o"></i>
              <span>Season parameters</span>
            </a>
          </li>
          <li routerLinkActive="active" *appHasPermission="[[4, 1], 0]">
            <a routerLink="/admin/organisation-types">
              <i class="fa fa-circle-o"></i>
              <span>Organisation types</span>
            </a>
          </li>
          <li
            routerLinkActive="active"
            *appHasPermission="[[4, 1], [4, 11], 0]"
          >
            <a routerLink="/admin/coffee-type/list">
              <i class="fa fa-circle-o"></i>
              <span>Coffee types</span>
            </a>
          </li>
          <li
            routerLinkActive="active"
            *appHasPermission="[[4, 1], [4, 11], 0]"
          >
            <a routerLink="/admin/farm/tree-varieties/list">
              <i class="fa fa-circle-o"></i>
              <span>Tree varieties</span>
            </a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a (click)="onLogOut()" style="cursor: pointer">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span>{{ "sign_out" | translate }}</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
