<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <h3>
        Record parchments
      </h3>
    </div>
  </div>
  <app-list-errors [errorList]="errors"></app-list-errors>
  <form [formGroup]="recordParchmentForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label label-required">Coffee type</label>
          <select class="form-control" formControlName="coffeeType">
            <option *ngFor="let type of coffeeTypes" value="{{type._id}}"> {{ type.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label label-required">Delivery date</label>
          <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="date" class="form-control">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label label-required">Lot kgs</label>
          <input type="text" formControlName="totalKgs" class="form-control">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <label class="control-label label-required">Production date</label>
          <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" formControlName="producedDate" class="form-control">
          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a class="btn btn-warning btn-margin pull-right" (click)="modal.dismiss()">Cancel</a>
        <button class="btn btn-success pull-right">Save</button>
      </div>
    </div>
  </form>
</div>
