<h3>
  Record parchments
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="recordParchmentForm" (ngSubmit)="onSubmit()">
  <div class="box">
    <div class="box-body">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label label-required">Coffee type</label>
            <select class="form-control" formControlName="coffeeType">
              <option *ngFor="let type of coffeeTypes" value="{{type._id}}"> {{ type.name }}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label label-required">Delivery date</label>
            <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="date" class="form-control">
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label label-required">Lot kgs</label>
            <input type="text" formControlName="totalKgs" class="form-control">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="control-label label-required">Production date</label>
            <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" formControlName="producedDate" class="form-control">
            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" routerLink="/admin/cws/parchments/list">Cancel</a>
      <button class="btn btn-success pull-right">Save</button>
    </div>
  </div>
</form>

