<h3>
Organisation types
<a class="btn btn-success pull-right" routerLink="/admin/organisation-types/create"><i class="fa fa-plus"></i> New organisation type</a>
</h3>
<app-list-message [message]="message"></app-list-message>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <table class="table table-bordered table-striped" id="organisation-types">
          <thead>
          <tr>
            <th>Genre</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let organisationType of organisationTypes">
            <td> {{ organisationType.genre }}</td>
            <td class="actions no-wrap text-right">
              <!--<a routerLink="/admin/organisation-types/{{organisationType._id}}/organisations" class="btn btn-info"><i class="fa fa-university"></i> Organisations</a>
              <button class="btn btn-danger btn-margin" (click)="deleteOrganisationType(organisationType)"> Delete</button>-->
              <a class="btn btn-success btn-margin" [routerLink]="['edit/',organisationType._id]"  style="margin-left: 10px;"> Edit</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
