<div class="modal-header">
  <h4 class="modal-title" id="modal-title">GAP Deletion</h4>
  <button
    type="button"
    class="close"
    aria-label="Close button"
    aria-describedby="modal-title"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-list-message [message]="message"></app-list-message>
  <app-list-errors [errorList]="errors"></app-list-errors>
  <b></b>
  <p>
    <strong>Are you sure you want to delete this Gap record?</strong>
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')"
  >
    Cancel
  </button>
  <button
    type="button"
    ngbAutofocus
    class="btn btn-danger"
    (click)="delete(gap._id)"
  >
    Ok
  </button>
</div>
