<h3>
  <div class="row">
    <div class="col-sm-10"> Scheduled Training </div>
    <div class="col-sm-2">
      <a
        class="btn btn-success pull-left"
        routerLink="/admin/training/schedule/create"
        ><i class="fa fa-calendar"></i> Schedule a Training
      </a>
    </div>
  </div>
</h3>
<app-list-message [message]="message"></app-list-message>
<app-list-errors [errorList]="errors"></app-list-errors>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <app-loader *ngIf="loading"></app-loader>
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover table table-striped"
        >
        <thead>
          <tr>
            <th>Date Added</th>
            <th>Training Module Title</th>
            <th>Date/Time of the training</th>
            <th>Location of the training</th>
            <th>Trainer</th>
            <th>Trainees</th>
            <th>Status</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let schedule of schedules | paginate: config">
              <td>{{ schedule.createdAt | date: "short" }}</td>
              <td>{{ schedule.trainingId.trainingName }}</td>
              <td>{{ schedule.startTime | date: "short" }}</td>
              <td>{{ schedule.venueName }}</td>
              <td>{{ schedule.trainer.fullName }}</td>
              <td>{{ schedule.trainees.length }} trainees</td>
              <td>{{ schedule.status }} </td>
              <td>
                <button
                  appRequiredSeason
                  class="btn btn-action-no-border btn-margin details-button"
                  routerLink="/admin/training/schedule/view"
                >
                  <em class="fa fa-eye"></em>
                </button>
                <button
                  appRequiredSeason
                  (click)="openDeleteModal(schedule)"
                  class="btn btn-action-no-border btn-margin"
                >
                  <em class="fa fa-close"></em>
                </button>
                <button
                  class="btn btn-action-no-border btn-margin btn-sm details-button"
                  routerLink="/admin/training/schedule/edit"
                >
                  <em class="fa fa-pencil"></em>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-footer" style="width: 100%" *ngIf="showData">
        <pagination-controls
          class="custom-pagination"
          [maxSize]="maxSize"
          [directionLinks]="directionLinks"
          [autoHide]="autoHide"
          [responsive]="responsive"
          [previousLabel]="labels.previousLabel"
          [nextLabel]="labels.nextLabel"
          [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
          [screenReaderPageLabel]="labels.screenReaderPageLabel"
          [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
          (pageChange)="onPageChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>