<h3>
  Create a farmers group
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="col-xs-6">
            <div class="form-group">
              <label class="control-label label-required">Group name</label>
              <input type="text" formControlName="groupName" class="form-control">
            </div>
          </div>
          <div class="col-xs-6" formGroupName="location">
            <div class="row">
              <div class="col-xs-2" id="location-province">
                <div class="form-group">
                  <label class="control-label">Province</label>
                  <select class="form-control" formControlName="prov_id">
                    <option value=""></option>
                    <option *ngFor="let province of provinces"
                            value="{{province._id}}">{{province.namee | titlecase}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-2" id="location-district">
                <div class="form-group">
                  <label class="control-label">District</label>
                  <select class="form-control" formControlName="dist_id">
                    <option value=""></option>
                    <option *ngFor="let district of districts"
                            value="{{district._id}}">{{district.name | titlecase}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-2" id="location-sector">
                <div class="form-group">
                  <label class="control-label">Sector</label>
                  <select class="form-control" formControlName="sect_id">
                    <option value=""></option>
                    <option *ngFor="let sector of sectors" value="{{sector._id}}">{{sector.name | titlecase}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-2" id="location-cell">
                <div class="form-group">
                  <label class="control-label">Cell</label>
                  <select class="form-control" formControlName="cell_id">
                    <option value=""></option>
                    <option *ngFor="let cell of cells" value="{{cell._id}}">{{cell.name | titlecase}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-2" id="location-village">
                <div class="form-group">
                  <label class="control-label">Village</label>
                  <select class="form-control" formControlName="village_id">
                    <option value=""></option>
                    <option *ngFor="let village of villages"
                            value="{{village._id}}">{{village.name | titlecase}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="control-label">Group leader names</label>
              <input type="text" formControlName="leaderNames" class="form-control">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="control-label label-required">Group leader phone number</label>
              <input type="text" formControlName="leaderPhoneNumber" class="form-control">
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="control-label label-required">Meeting schedule</label>
              <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="meetingSchedule"
                     class="form-control">
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
              <label class="control-label">Description</label>
              <input type="text" formControlName="description" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <fieldset style=" margin-right: 0 !important;">
                <legend>
                  <label class="control-label">&nbsp; SEARCH FARMERS</label>
                </legend>
                <div class="col-sm-12 text-center">
                  <h3><b>Filter or Search Farmers</b></h3>
                </div>
                <div class="background-search">
                  <form [formGroup]="filterForm" (ngSubmit)="onFilter()">

                    <div formGroupName="searchByLocation">
                      <div class="row">`
                        <div class="col-xs-4">
                          <div class="form-group">
                            <div class="">
                              <select class="form-control" formControlName="sect_id">
                                <option value="">select sector</option>
                                <option
                                  *ngFor="let sector of sectors"
                                  value="{{ sector._id }}"
                                >
                                  {{ sector.name | titlecase }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-4">
                          <div class="form-group">
                            <div class="">
                              <select class="form-control" formControlName="cell_id">
                                <option value="">select cell</option>
                                <option *ngFor="let cell of cells" value="{{ cell._id }}">
                                  {{ cell.name | titlecase }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-4">
                          <div class="form-group">
                            <div class="">
                              <select class="form-control" formControlName="village_id">
                                <option value="">select village</option>
                                <option
                                  *ngFor="let village of villages"
                                  value="{{ village._id }}"
                                >
                                  {{ village.name | titlecase }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div formGroupName="searchByTerm">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-inline">
                            <select
                              class="form-control"
                              formControlName="searchBy"
                              style="margin-right: 10px">
                              <option
                                *ngFor="let field of searchFields"
                                value="{{ field.value }}">
                                {{ field.name }}
                              </option>
                            </select>
                            <input
                              type="text"
                              formControlName="term"
                              class="form-control"
                              placeholder="search.."
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <button class="btn btn-action text-center" type="submit">
                      <i class="fa fa-search"></i> SEARCH FARMERS
                    </button>

                  </form>
                </div>
              </fieldset>
            </div>
            <div class="col-xs-6">
              <fieldset style=" margin-left: 0 !important;">
                <legend>
                  <label class="control-label">&nbsp; GROUP FARMERS</label>
                </legend>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" routerLink="/admin/farmers/group/list">Cancel</a>
      <button class="btn btn-success pull-right">Save</button>
    </div>
  </div>
</form>
