<!--
<h3>
  {{ title }}
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">UPI number</label>
                <input type="text" formControlName="upiNumber" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">Number of trees</label>
                <input type="text" formControlName="numberOfTrees" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">Needed fertilizer</label>
                <input type="text" formControlName="fertilizer_need" class="form-control" readonly>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label">Allocated fertilizer</label>
                <input type="text" formControlName="fertilizer_need" class="form-control" readonly>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" formControlName="isLandLeased"> Owns a land
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="belongsToCooperative"> Belongs to a cooperative
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" routerLink="/admin/farmers">Cancel</a>
      <button class="btn btn-success pull-right">Update</button>
    </div>
  </div>
</form>
-->
