<h3>
  Create site
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-3">
              <div class="form-group">
                <label class="control-label label-required">Name</label>
                <input type="text" formControlName="siteName" class="form-control">
              </div>
            </div>
            <div class="col-xs-3">
              <label class="control-label">Allocated Qty: </label>
              <input type="text" formControlName="allocatedQty" class="form-control" readonly="readonly">
            </div>
          </div>
          <fieldset class="location" style="margin: 15px 0px 15px !important; ">
            <legend>
              <label class="control-label label-required">&nbsp; Location</label></legend>
            <div formGroupName="location">
              <div class="col-xs-2" id="location-province">
                <div class="form-group">
                  <span class="">Province</span>
                  <select class="form-control" formControlName="prov_id">
                    <option value=""></option>
                    <option *ngFor="let province of provinces" value="{{province._id}}">{{province.namee}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-2" id="location-district">
                <div class="form-group">
                  <span class="">District</span>
                  <select class="form-control" formControlName="dist_id">
                    <option value=""></option>
                    <option *ngFor="let district of districts" value="{{district._id}}">{{district.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-2" id="location-sector">
                <div class="form-group">
                  <span class="">Sector</span>
                  <select class="form-control" formControlName="sect_id">
                    <option value=""></option>
                    <option *ngFor="let sector of sectors" value="{{sector._id}}">{{sector.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-2" id="location-cell">
                <div class="form-group">
                  <span class="">Cell</span>
                  <select class="form-control" formControlName="cell_id">
                    <option value=""></option>
                    <option *ngFor="let cell of cells" value="{{cell._id}}">{{cell.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-2" id="location-village">
                <div class="form-group">
                  <span class="">Village</span>
                  <select class="form-control" formControlName="village_id">
                    <option value=""></option>
                    <option *ngFor="let village of villages" value="{{village._id}}">{{village.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-xs-12" style="padding-left: 0px; padding-right: 0px;" formGroupName="coveredAreas">
              <fieldset class="request">
                <legend><label class="control-label label-required">&nbsp;Covered area</label></legend>
                <div class="row">
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label class="label-required">Covered sectors</label>
                      <p>
                        <span
                          style="color: #f2a73c; font-size: 12px;"> [ {{ selectedCoveredSectors.join(', ') }} ]</span>
                      </p>
                      <select multiple="multiple" class="form-control"
                              [size]="5" formControlName="coveredSectors" [size]="5">
                        <option *ngFor="let sector of coveredSectorsSet" value="{{sector._id}}"
                                (mousedown)="onMouseDownSector($event, sector)"
                                (mousemove)="$event.preventDefault()">
                          {{sector.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label class="label-required">Covered CWS</label>
                      <p>
                        <span
                          style="color: #f2a73c; font-size: 12px;"> [ {{ selectedCoveredCWS.join(', ') }} ]</span>
                      </p>
                      <select multiple="multiple" class="form-control"
                              formControlName="coveredCWS" [size]="5">
                        <option *ngFor="let cws of coveredCWSSet" value="{{cws._id}}"
                                (mousedown)="onMouseDownCWS($event, cws)"
                                (mousemove)="$event.preventDefault()">
                          {{cws.organizationName}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" routerLink="/admin/sites">Cancel</a>
      <button class="btn btn-success pull-right">Save</button>
    </div>
  </div>
</form>
