<h3>
  Sites
  <a class="btn btn-success pull-right" routerLink="/admin/sites/create" *appHasPermission="[0,5,[4,1],[4,2]]"><i class="fa fa-plus"></i> New site</a>
</h3>
<app-list-message [message]="message"></app-list-message>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <div [formGroup]="searchForm" class="search">
          <label>Search: <input formControlName="search" placeholder="search" /></label>
        </div>
        <app-loader *ngIf="loading"></app-loader>
        <table class="row-border hover table table-striped" *ngIf="showData">
          <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let site of sites[config.currentPage] | paginate: config">
            <td> {{ site.siteName }}</td>
            <td>
              <a class="btn btn-danger btn-margin btn-sm pull-right"
                *appHasPermission="[0,6,5,[4,1],[4,2]]"
                (click)="openDeleteModal(site)"
                >
                  <i class="fa fa-trash"></i>
              </a>
              <a class="btn btn-success btn-margin btn-sm pull-right" [routerLink]="['edit/', site._id]"
                 style="margin-left: 10px;"  *appHasPermission="[0,6,5,[4,1],[4,2]]"> Edit</a>
              <a class="btn btn-success btn-margin btn-sm pull-right" [routerLink]="['dispatch-plan/', site._id]"
                 style="margin-left: 10px;"  *appHasPermission="[0,6,5,[4,1],[4,2]]"> CWS Plan</a>
              <a routerLink="/admin/sites/{{site._id}}/pending-farmers" class="btn btn-margin btn-warning btn-sm pull-right" *appHasPermission="[0,6,5,8,[4,1],[4,2]]"><i
                class="fa fa-users"></i> Pending farmers</a>
              <a routerLink="/admin/sites/{{site._id}}/farmers" class="btn btn-margin btn-info btn-sm pull-right" *appHasPermission="[0,6,5,8,[4,1],[4,2]]"><i
                class="fa fa-users"></i> Farmers</a>
              <button class="btn btn-default btn-sm pull-right details-button" (click)="viewDetails(site)">...</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div
          style="width: 100%; border-top: 1px solid #0a0a0a"
          *ngIf="showData"
        >
          <div style="clear: both; float: left; padding-top: 0.755em">
            Showing {{ (config.currentPage - 1) * config.itemsPerPage + 1 }} to
            {{ config.currentPage * config.itemsPerPage }} of
            {{ config.totalItems }} entries
          </div>
          <pagination-controls
            class="custom-pagination"
            [maxSize]="maxSize"
            [directionLinks]="directionLinks"
            [autoHide]="autoHide"
            [responsive]="responsive"
            [previousLabel]="labels.previousLabel"
            [nextLabel]="labels.nextLabel"
            [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
            (pageChange)="onPageChange($event)"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
