<h3>
  Record dispatch
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="recordDispatchForm" (ngSubmit)="onSubmit()">
  <div class="box">
    <div class="box-body">
      <div class="row">
        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label label-required">Site</label>
            <select class="form-control" formControlName="inputType">
              <option *ngFor="let site of sites" value="{{site._id}}">{{site.siteName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label label-required">Input type</label>
            <select class="form-control" formControlName="inputType">
              <option *ngFor="let type of types" value="{{type.value}}">{{type.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label label-required">Drive</label>
            <input type="text" formControlName="drive" class="form-control">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label label-required">Vehicle plate</label>
            <input type="text" formControlName="vehiclePlate" class="form-control">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label label-required">Number of bags</label>
            <input type="text" formControlName="numberOfBags" class="form-control">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label label-required">Total Qty</label>
            <input type="text" formControlName="totalQty" class="form-control">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label class="control-label label-required">Date</label>
            <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="date" class="form-control">
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success pull-right">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body">
        <table class="row-border hover table table-condensed">
          <thead>
          <tr>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dispatch of inputDispatches">
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
