<div class="home">
  <app-home-header></app-home-header>
  <div id="carousel-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="img" style="background:linear-gradient(rgba(41, 41, 41, 0.5), rgba(41, 41, 41, 0.5)),  url('assets/dist/img/sks/coffee-plantation.jpg') no-repeat center; background-size: cover">
          <div class="carousel-caption">
            Rwanda Coffee
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img" style="background:linear-gradient(rgba(41, 41, 41, 0.5), rgba(41, 41, 41, 0.5)), url('assets/dist/img/sks/tea-plantation.jpg') no-repeat center; background-size: cover">
          <div class="carousel-caption">
            Rwanda Tea
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
      <!--<span class="fa fa-angle-left"></span>--> &nbsp;
    </a>
    <a class="right carousel-control" href="#carousel-generic" data-slide="next">
      <!--<span class="fa fa-angle-right"></span>--> &nbsp;
    </a>
  </div>
</div>
<app-home-footer></app-home-footer>



