<h3>
  Payment Transaction history
</h3>
<app-list-warnings [warning]="warning"></app-list-warnings>
<app-list-errors [errorList]="errors"></app-list-errors>
<app-list-message [message]="message"></app-list-message>
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
      <div class="form-group pull-left">
        <label class="control-label">Status</label> &nbsp;
        <select class="form-control" formControlName="status">
          <option value="">ALL</option>
          <option *ngFor="let sts of status" value="{{sts.value}}">
            {{ sts.name }}
          </option>
        </select>
      </div>
      <div class="form-group pull-left btn-margin">
        <label class="control-label">Payment channel</label>
        <select class="form-control" formControlName="paymentChannel">
          <option value="">ALL</option>
          <option *ngFor="let channel of paymentChannels" value="{{channel._id}}">
            {{ channel.channel }}
          </option>
        </select>
      </div>
      <div class="form-inline pull-right" style="margin-top: 25px;">
        <ng-container formGroupName="search">
          <select class="form-control" formControlName="searchBy" style="margin-right: 10px">
            <option *ngFor="let field of searchFields" value="{{field.value}}">{{field.name}}</option>
          </select>
          <input type="text" formControlName="term" class="form-control" placeholder="search.."
            style="margin-right: 10px">
        </ng-container>
        <ng-container formGroupName="date">
          <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="from"
            class="form-control owl-date-input" placeholder="from..">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
          <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" formControlName="to" class="form-control owl-date-input"
            placeholder="to..">
          <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
        </ng-container>
        <button class="btn btn-warning pull-right btn-margin" type="button" (click)="onClearFilter()">Clear</button>
        <button class="btn btn-success pull-right btn-margin" type="submit"><i class="fa fa-search"></i> Search
        </button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <app-loader *ngIf="loading"></app-loader>
        <table class="row-border hover table table-striped">
          <thead>
            <tr>
              <th>BatchID</th>
              <th>Beneficiaries</th>
              <th>Total amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of payments[parameters.page] | paginate: config">
              <td>{{ payment.batchID }}</td>
              <td>
                <table class="row-border hover table table-striped">
                  <thead>
                    <tr>
                      <th>REG number</th>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>Subscription number</th>
                      <th>Amount (Rwf)</th>
                      <th>Transaction number</th>
                      <th>Status</th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tbody *ngIf="showData">
                    <tr *ngFor="let transaction of payment.beneficiaries.slice(0, 5)">
                      <td> {{ transaction.regNumber }}</td>
                      <td> {{ transaction.foreName }}</td>
                      <td> {{ transaction.surname }}</td>
                      <td> {{ transaction.subscriptionNumber }}</td>
                      <td> {{ transaction.amount | number }}</td>
                      <td> {{ transaction.transactionId }}</td>
                      <td> {{ viewStatus(transaction.status) }}</td>
                      <td>
                        <button class="btn btn-default btn-sm btn-margin pull-right details-button"
                          (click)="viewDeliveries(transaction.regNumber, transaction.deliveries)">...
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button (click)="viewBeneficiaries(payment)" *ngIf="payment.beneficiaries.length > 5" class="btn btn-default btn-sm btn-margin pull-right details-button">
                  {{payment.beneficiaries.length - 5 }} More Beneficiaries
                </button>
              </td>
              <td>{{ payment.totalAmountPaid }}</td>
            </tr>
          </tbody>
        </table>
        <div style="width: 100%; border-top: 1px solid #0a0a0a" *ngIf="showData">
          <div style="clear: both; float: left; padding-top: 0.755em">
            Showing {{ (config.currentPage - 1) * config.itemsPerPage + 1 }} to
            {{ config.currentPage * config.itemsPerPage }} of
            {{ config.totalItems }} entries
          </div>
          <pagination-controls class="custom-pagination" [maxSize]="maxSize" [directionLinks]="directionLinks"
            [autoHide]="autoHide" [responsive]="responsive" [previousLabel]="labels.previousLabel"
            [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
            [screenReaderPageLabel]="labels.screenReaderPageLabel"
            [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="onPageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>