table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  min-width: 100px;
}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 3px;
  height: 5px;
}

.line:nth-child(1) {
  background: #fff;
}

.line:nth-child(2) {
  animation-delay: 180ms;
  background: #fff;
}

.line:nth-child(3) {
  animation-delay: 360ms;
  background: #fff;
}

.line:nth-child(4) {
  animation-delay: 540ms;
  background: #fff;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}
