<h3>
  Create organisation
</h3>
<app-list-errors [errorList]="errors"></app-list-errors>
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">Name</label>
                <input type="text" formControlName="organizationName" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">Email</label>
                <input type="text" formControlName="email" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">phone number</label>
                <input type="text" formControlName="phone_number" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">street number</label>
                <input type="text" formControlName="streetNumber" class="form-control">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label class="control-label label-required">Organisation type</label>
                <select class="form-control" formControlName="genreId">
                  <option *ngFor="let genre of genres" value="{{genre._id}}">{{genre.genre}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6">
              <label class="control-label label-required">Roles</label>
              <div class="checkbox" formArrayName="organizationRole"
                   *ngFor="let role of createForm.get('organizationRole')['controls']; let i = index">
                <label *ngIf="possibleRoles[i].name != 'FARMER'">
                  <input type="checkbox" formControlName="{{i}}">
                  {{possibleRoles[i].name}}
                </label>
              </div>
            </div>
            <!--<div class="col-xs-6">
              <div class="checkbox">
                <label class="control-label">
                  <input type="checkbox" formControlName="usersNIDRequired">
                  Users NID required
                </label>
              </div>
            </div>-->
            <fieldset class="location" *ngIf="needLocation">
              <legend>
                <label class="control-label label-required">&nbsp; Location</label></legend>
              <div formGroupName="location">
                <div class="col-xs-2" id="location-province">
                  <div class="form-group">
                    <span class="">Province</span>
                    <select class="form-control" formControlName="prov_id">
                      <option value=""></option>
                      <option *ngFor="let province of provinces" value="{{province._id}}">{{province.namee}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-2" id="location-district">
                  <div class="form-group">
                    <span class="">District</span>
                    <select class="form-control" formControlName="dist_id">
                      <option value=""></option>
                      <option *ngFor="let district of districts" value="{{district._id}}">{{district.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-2" id="location-sector">
                  <div class="form-group">
                    <span class="">Sector</span>
                    <select class="form-control" formControlName="sect_id">
                      <option value=""></option>
                      <option *ngFor="let sector of sectors" value="{{sector._id}}">{{sector.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-2" id="location-cell">
                  <div class="form-group">
                    <span class="">Cell</span>
                    <select class="form-control" formControlName="cell_id">
                      <option value=""></option>
                      <option *ngFor="let cell of cells" value="{{cell._id}}">{{cell.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-2" id="location-village">
                  <div class="form-group">
                    <span class="">Village</span>
                    <select class="form-control" formControlName="village_id">
                      <option value=""></option>
                      <option *ngFor="let village of villages" value="{{village._id}}">{{village.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="col-xs-6" *ngIf="coverVillages">
              <div class="form-group">
                <label class="label-required">Covered villages</label>
                <p>
                <span style="color: #f2a73c; font-size: 12px;"> [ {{ coveredVillages.join(', ') }} ]</span>
                </p>
                <select multiple="multiple" class="form-control covered-villages" formControlName="coveredVillages">
                  <option *ngFor="let village of villagesOfSector" value="{{village._id}}" (mousedown)="onMouseDown($event, village)" (mousemove)="$event.preventDefault()">{{village.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-warning btn-margin pull-right" routerLink="/admin/organisations">Cancel</a>
      <button class="btn btn-success pull-right">Save</button>
    </div>
  </div>
</form>
