<div class="modal-body">
  <div class="stats-section">
    <div class="row">
      <div class="col-sm-12 text-center stats-title">Statistics</div>
      <div class="col-sm-4">
        <div class="text-center stats-box">
          <h3>Attended Trainees</h3>
          <div class="row">
            <div class="col-sm-5">
              <h1 style="margin-top: -5px; margin-left: 5px">
                {{ trainingsStats.totalPresent }}
              </h1>
            </div>
            <div class="col-sm-3">
              <span style="white-space: pre"> Male </span>
              {{ trainingsStats.malePresent }}
            </div>
            <div class="col-sm-3">
              <span style="white-space: pre"> Female </span>
              {{ trainingsStats.femalePresent }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-center stats-box third-box">
          <h3>Not Attended Trainees</h3>
          <div class="row">
            <div class="col-sm-5">
              <h1 style="margin-top: -5px; margin-left: 5px">
                {{ trainingsStats.totalAbsent }}
              </h1>
            </div>
            <div class="col-sm-3">
              <span style="white-space: pre"> Male </span>
              {{ trainingsStats.maleAbsent }}
            </div>
            <div class="col-sm-3">
              <span style="white-space: pre"> Female </span>
              {{ trainingsStats.femaleAbsent }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-center stats-box middle-box">
          <h3>Attendance Rate</h3>
          <h1>0%</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="box">
        <div class="box-body">
          <h3>Training details</h3>
          <div class="row">
            <div class="col-xs-6">
              <div style="margin-bottom: 10px">
                <label class="control-label label-required"
                  >Training Name</label
                >
                <div class="confirm-text-box confirm-text">
                  {{ training.trainingName }}
                </div>
              </div>
              <div>
                <label class="control-label label-required"
                  >Associated GAP</label
                >
                <div class="confirm-text-box confirm-text">
                  <li *ngFor="let gaps of training.adoptionGaps; let i = index">
                    {{ gaps.name }}
                  </li>
                </div>
              </div>
              <div>
                <label class="control-label label-required">Status</label>
                <div class="confirm-text-box confirm-text">
                  {{ training.status }}
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div>
                <label class="control-label label-required"
                  >Training Description</label
                >
                <div class="confirm-text-box confirm-text">
                  {{ training.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="box" class="background: #EDEAE8 0% 0% no-repeat padding-box">
        <app-loader *ngIf="loading"></app-loader>
        <div class="box-body" *ngIf="!loading">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Filename</th>
                <th>Download</th>
              </tr>
            </thead>

            <tbody *ngFor="let file of training.materials; let i = index">
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ file.fileName }}</td>
                <td>
                  <a href="{{ file.url }}" target="_blank">
                    <i class="fa fa-download"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <h4 class="text-center">List of Associated Schedule</h4>
    <div class="box-body table-responsive">
      <app-loader *ngIf="loading"></app-loader>
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="row-border hover table table-striped"
      >
        <thead>
          <tr>
            <th>Date Added</th>
            <th>Training Module</th>
            <th>Date of the training</th>
            <th>Location</th>
            <th>Trainer</th>
            <th>Trainees</th>
            <th>Status</th>
            <th class="text-center">Actions / To Do about</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of training.schedules | paginate: config">
            <td>{{ schedule.createdAt | date: "short" }}</td>
            <td>{{ schedule.trainingId.trainingName }}</td>
            <td>{{ schedule.startTime | date: "short" }}</td>
            <td>{{ schedule.venueName }}</td>
            <td>{{ schedule.trainer.fullName }}</td>
            <td>{{ schedule.trainees.length }} trainees</td>
            <td>{{ schedule.status }}</td>
            <td>
              <button
                appRequiredSeason
                class="btn btn-action-no-border btn-margin details-button"
                routerLink="/admin/training/schedule/view/{{ schedule._id }}"
              >
                <em class="fa fa-eye"></em>
              </button>
              <button
                appRequiredSeason
                (click)="openDeleteModal(schedule)"
                class="btn btn-action-no-border btn-margin"
              >
                <em class="fa fa-close"></em>
              </button>
              <button
                appRequiredSeason
                (click)="open(content); selectedSchedule(schedule)"
                class="btn btn-action-no-border btn-margin"
              >
                <em class="fa fa-envelope-o"></em>
              </button>
              <button
                class="btn btn-action-no-border btn-margin btn-sm details-button"
                routerLink="/admin/training/schedule/edit/{{ schedule._id }}"
              >
                <em class="fa fa-pencil"></em>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
