.logo {
  pointer-events: none;
  margin-left: 5px;
  height: 50px;
}

.logo img {
  margin-top: 5px;
  height: 50px;
  width: 128px;
}

.sks_nav {
  background-color: #4f210d;
  height: 60px;
}

.sks_nav div.vr {
  border: 1px solid rgb(255 255 255 / 8%) !important;
}

.sks_nav button.navbar-toggler {
  outline: none;
  background-color: #4f210d !important;
  color: #fff;
}

footer {
  /* border: 2px solid red; */
  padding-left: 10px;
  min-height: 80px;
  padding-right: 10px;
  background-color: #bfaea7 !important;
}

.footer-sub {
  /* border: 2px solid red; */
  padding-left: 10px;
  min-height: 200px;
  padding-right: 10px;
  background-color: #eeeeee !important;
}

.footer_links {
  font-size: 1.5rem;
  text-align: center;
  /* color: #cbcbcb; */
}

.elements {
  list-style: none;
}

.elements-link {
  margin-top: 1rem;
  font: normal normal medium 3rem Helvetica Neue, Helvetica, Arial,
    sans-serif;
  pointer-events: initial;
  cursor: pointer;
}

.footer-social {
  color: #E1A33E;
  font-size: 5rem
}

.footer-social i {
  padding-left: 3rem;
}

.footer_links a {
  color: #4f210d;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.footer_links a:hover {
  color: #000000;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.footer_links strong {
  color: #000000;
}

.footer_copyrights {
  display: block;
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.footer_powered {
  text-align: right;
  /* padding:10px; */
}

.homepage-section {
  width: 100%;
  overflow: hidden;
}

.homepage-section .sliders {
  width: 100%;
}

.homepage-section .sliders img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

.about {
  min-height: 320px;
  padding: 20px;
  position: relative;
}

.partners-section {
  background: #f2eee7 0% 0% no-repeat padding-box;
}

.bold {
  font-weight: bold;
}

.about-texts {
  text-align: left;
  margin-left: 5rem;
  letter-spacing: 0px;
  min-height: 36px;
  color: #000000;
  font: normal normal medium 3rem Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 3rem;
}


.about-texts .text {
  font-size: 2rem;
  text-transform: none;
}

.about-title {
  font-size: 3.5rem;
  color: #e1a33e;
  height: 66px;
  margin-top: -2rem;
}

.about-logo {
  margin-top: 1rem;
  height: 146px;
  width: 441px;
}

.impact {
  padding: 50px;
  background: #4f210d0a 0% 0% no-repeat padding-box;
  opacity: 1;
}

.impact .box {
  width: 90%;
  height: 190px;
  border-radius: 10px;
  background: transparent;
}

.impact-ico {
  margin-top: 15px;
  width: 80px;
  height: 83px;
}

.impact-title {
  color: #4f210d;
  font-size: 30px;
}

.impact-sub {
  font-size: 20px;
  color: #4f210d;
}

.features {
  padding: 50px;
  background: #f2eee7 0% 0% no-repeat padding-box;
}

.header-button {
  background: #4f210d 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 7px;
  width: 160px;
  height: 45px;
  color: #e1a33e;
  font-size: 15px;
  opacity: 1;
}

.navbar-custom-menu {
  margin-right: 10px;
  margin-top: 8px;
  float: right;
}

.footer_powered {
  text-align: center;
  font: normal normal medium 10px/13px Montserrat;
  letter-spacing: 9.71px;
  color: #4f210d;
  opacity: 1;
}

.footer_copyrights {
  /* UI Properties */
  text-align: left;
  font: normal normal 600 13px/19px Montserrat;
  letter-spacing: 0px;
  color: #4f210d;
  margin-left: 25%;
  float: center;
  opacity: 1;
}

.footer_links {
  /* UI Properties */
  text-align: left;
  font: normal normal medium 3rem Helvetica Neue, Helvetica, Arial,
    sans-serif;
  letter-spacing: 0px;
  color: #4f210d;
  opacity: 1;
}

.img-fluid {
  margin-left: 30%;
}

.features {
  min-height: 580px;
  padding: 50px;
  background: #f2eee7 0% 0% no-repeat padding-box;
  opacity: 1;
}

.carousel-caption {
  font-size: 60px;
  font-weight: bolder;
  top: 45%;
  text-align: center;
}

.carousel {
  height: 750px;
  top: -60px;
}

.carousel .carousel-inner {
  height: 750px;
}

.carousel .item,
.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.features-box {
  min-width: 300px;
  min-height: 150px;
  margin-bottom: 20px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e1a33e;
  border-radius: 7px;
  opacity: 1;
}

.partner-image {
  height: 80px;
}

.features-box img {
  width: 50px;
  height: 52px;
  margin-top: 20px;
}

.features-box div {
  margin-top: 15px;
  text-align: center;
  font: normal normal medium 22px/20px Helvetica Neue;
  letter-spacing: 0px;
  color: black;
  font-size: 20px;
}

.features-box div span {
  margin-top: -10px;
  font-size: 16px;
}

.dropdown-menu {
  min-width: 140px;
  border-radius: 0px;
}

.dropdown-menu .dropdown-item {
  display: block;
  padding: 5px 14px;
}

.header-name-box {
  text-align: center;
  margin-top: 15px;
  font: normal normal medium 28px/34px Helvetica Neue;
  letter-spacing: 0px;
  color: #E1A33E;
  opacity: 1;
  width: 143px;
  height: 25px;
  pointer-events: initial;
  cursor: pointer;
}

.header-name-text {
  text-align: left;
  margin-top: 15px;
  margin-left: 20px;
  font: normal normal normal 15px/17px Helvetica Neue;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.text-white {
  --tw-text-opacity: 1;
  color: black;
  font-size: larger;
}

.ml-5 {
  margin-left: 1.25rem;
}

.my-5 {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
