<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="fa fa-list-alt"></i></span>
      <div class="info-box-content bg-gray-light">
        <span class="info-box-text">Total payments</span>
        <span class="info-box-number">{{ totalPayments | number}} Rwf</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-body table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped">
          <thead>
          <tr>
            <th>REG Number</th>
            <th>Mode</th>
            <th>Channel</th>
            <th>Payer</th>
            <th>Transaction number</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Date/Time</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let transaction of transactions">
            <td> {{ transaction.regNumber }}</td>
            <td> {{ transaction.mode }}</td>
            <td> {{ transaction.channel }}</td>
            <td> {{ transaction.payer }}</td>
            <td> {{ transaction.transactionNumber }}</td>
            <td> {{ transaction.amount }}</td>
            <td> {{ transaction.status }}</td>
            <td> {{ transaction.date }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
