<footer class="footer ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 item text-center">
        <span style="letter-spacing: 3.05px; color: #FFFFFF; opacity: 1;"> POWERED BY </span>
        <br />
        <div class="img">
        <img src="../../../../assets/dist/img/sks/bkt-logo.svg" class="img-responsive" style="margin: 0 auto;">
        </div>
      </div>

      <div class="col-xs-12 item text-center" style="color: #B19D90; margin-top: 15px;" >
        Copyright &copy; 2019 - 2022 |
        <a [routerLink]="['/privacy/policy']" class="btn btn-link" style="color: #f0ad4e !important; font-weight: bold" target="_blank">
          Privacy Policy
        </a> |
        <b><a href="http://www.naeb.gov.rw/index.php?id=1" target="_blank" style="color: #FFFFFF">
        NAEB </a></b> |
        All rights reserved.
      </div>
    </div>
  </div>
</footer>
