<div class="modal-header">
  <i class="fa fa-times-circle close" style="font-size: 24px;" aria-label="Close" (click)="modal.dismiss()">
  </i>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-condensed">
      <thead>
        <tr>
          <ng-container *ngIf="inputType === 'Fertilizer'">
          <th>Quantity (kg)</th>
          <th>Bags</th>
          </ng-container>
          <ng-container *ngIf="inputType === 'Pesticide'">
            <th>Quantity (l)</th>
            <th>Jerrycans</th>
          </ng-container>
          <th>Driver</th>
          <th>Vehicle plate</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of deliveries">
          <ng-container *ngIf="inputType !== 'Pesticide'">
          <td>{{ entry.totalQty }}</td>
          </ng-container>
          <ng-container *ngIf="inputType === 'Pesticide'">
            <td>{{ entry.totalQty / 1000 }}</td>
          </ng-container>
          <td>{{ entry.numberOfBags }}</td>
          <td>{{ entry.driver }}</td>
          <td>{{ entry.vehiclePlate }}</td>
          <td>{{ entry.date|date }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
