.background-search {
  padding: 2%;
  min-height: 210px;
  border-top: 1px solid #d2d6de;
  border-radius: 5px;
}

.row {
  /* padding: 0.5%; */
}

.btn-action {
  width: 200px !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
